<div class="a-stock-base clearfix">
    <div class="a-stock-base-price">
        <div class="clearfix">
            <span class="sp1 red">35.54</span>
            <i></i>
        </div>
        <div class="clearfix">
            <span class="sp2 red">+1.32</span>
            <span class="sp2 red">+10.00%</span>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://guba.eastmoney.com/list,600988.html" target="_blank">[股吧]</a>
                <a href="http://guba.eastmoney.com/qa/qa_search.aspx?company=600988&keyword=&questioner=&qatype=1" target="_blank">[问董秘]</a>
            </p>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://data.eastmoney.com/stockdata/600988.html" target="_blank" class="mr12">[数据]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#zjdx" target="_blank" class="mr12">[资金]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#jzpg" target="_blank">[价值]</a>
            </p>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#zlkp" class="mr12" target="_blank">[主力]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#yqjk" class="mr12" target="_blank">[舆情]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#qsyp" target="_blank">[趋势]</a>
            </p>
        </div>
        <div class="addstock">
            <a href="#" target="_self">＋添加自选股</a>
        </div>
    </div>
    <div class="a-stock-base-info clearfix">
        <div class="time clearfix">
            <p class="fl">2020-03-07&nbsp;星期二&nbsp;14:51</p>
            <p class="fl jyz">开盘中</p>
            <p class="fl hs" title="沪市">沪</p>
            <p class="fl hs" title="上证50指标股">上证50</p>
                    <!-- <p class="status xsz">休市中</p>
                <p class="status tpz">停牌中</p>
                <p class="status tsz">退市中</p> -->
        </div>
        <div class="source fl">
            <p class="clearfix">
                <span>今开：<em class="green">35.24</em></span>
                <span>最高：<em class="red">35.24</em></span>
                <span>涨停：<em class="red">45.24</em></span>
                <span>成交量：80万手</span>
            </p>
            <p class="clearfix">
                <span>昨收：<em class="red">20.24</em></span>
                <span>最低：<em class="red">20.18</em></span>
                <span>跌停：<em class="green">10.18</em></span>
                <span>成交额：500亿</span>
            </p>
            <p class="clearfix">
                <span>换手率：13.33%</span>
                <span>市盈率(动)：899</span>
                <span>流通股本：1444亿</span>
                <span>流通市值：8763.3万</span>
            </p>
            <div class="clearfix lrt">*截止2020年03月31日：总营收12.38亿元，负债率23.21%，净利润857.1万，每股净资产2.092元，毛利率24.37%，负债率50.86%，净利率1.56%。</div>
        </div>
    </div>
</div>