<div class="a-stock-draw clearfix">
        <ul class="clearfix">
            <li class="active">
                <a href="#">分时图</a>
            </li>
            <li>
                <a href="#">日K</a>
            </li>
            <li>
                <a href="#">周K</a>
            </li>
            <li>
                <a href="#">月K</a>
            </li>
            <li>
                <a href="#">季K</a>
            </li>
            <li>
                <a href="#">年K</a>
            </li>
            <li>
                <a href="#">60分</a>
            </li>
            <li>
                <a href="#">30分</a>
            </li>
            <li>
                <a href="#">10分</a>
            </li>
            <li>
                <a href="#">5分</a>
            </li>
        </ul>
        <div class="mt10">
            <img src="../images/ico/stock.png" width="100%" height="350">
        </div>
</div>