<div class="a-stock-gd">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-gd.png">
            <a href="http://f10.eastmoney.com/ShareholderResearch/Index?type=web&code=SH600988#" class="a1" title="查看详细内容" target="_blank">相关股东</a>
        </div>
        <div class="fl mt14">
            <a href="#">股东分析</a>
            <a href="#">股本结构</a>
            <a href="#">高管持股</a>
            <a href="http://data.eastmoney.com/zjlx/" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
    <div class="a-stock-gd-list clearfix">
        <!-- <img src="../images/ico/gd.png" class="gdrs-img"> -->
        <div class="a-stock-gd-jzrq">*截止2020年3月31日：</div>
        <div class="a-stock-gd-sjkg"><h1>实际控制人：中国投资有限责任公司 （持股比例：37.76%）</h1></div>
        <div class="domore clearfix">
                <div class="tit ml32 fl">
                    <p class="mb5">
                        <span>股东人数：</span>
                        <em>11.57万</em>
                        <b>户</b>
                    </p>
                    <p>
                        <span>人数较上期变化：</span>
                        <em class="red">+11.57%</em>
                    </p>
                    
                </div>
                <div class="kit fl clearfix">
                        <span>∽人均流通：<em>1.2万</em>股</span>
                        <span>∽筹码集中度：<em>非常集中</em></span>
                        <span>∽人均持股金额：<em>6万</em>元</span>
                        <span>∽持股较上期变化：<em class="green">-4.61%</em></span>
                </div>
        </div>
        <div class="a-stock-gd-ten">
            <h1>十大流通股东</h1>
                    <table>
                            <thead>
                                <tr>
                                    <th class="wd40">名次</th>
                                    <th class="wd220">股东名称</th>
                                    <th class="wd70">股份类型</th>
                                    <th class="wd110">持股数(股)</th>
                                    <th class="wd70">流通占比</th>
                                    <th>增减(股)</th>
                                    <th>变动比例</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="pr6">中国银行股份有限公司-银华优质增长混合型证券投资基金</td>
                                    <td>A股</td>
                                    <td>431,731,982</td>
                                    <td>30.27%</td>
                                    <td class="green">-26.00%</td>
                                    <td class="green">-8.12%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="pr6">香港中央结算代理人有限公司/香港中央结算有限公司</td>
                                    <td>H股,A股</td>
                                    <td>87,334,481,614</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="pr6">全国社会保障基金理事会</td>
                                    <td>A股</td>
                                    <td>12,331,645,18</td>
                                    <td>3.46%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="pr6">中国人寿保险股份有限公司-传统-普通保险产品-005L-CT001沪</td>
                                    <td>A股</td>
                                    <td>472,599,788</td>
                                    <td>30.27%</td>
                                    <td class="red">94,929,461</td>
                                    <td class="red">+25.14%</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="pr6">中央汇金投资有限责任公司</td>
                                    <td>A股</td>
                                    <td>806,678</td>
                                    <td>0.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td class="pr6">中国铁路投资有限公司</td>
                                    <td>A股</td>
                                    <td>116,678</td>
                                    <td>12.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td class="pr6">香港上海汇丰银行有限公司</td>
                                    <td>A股</td>
                                    <td>6,678</td>
                                    <td>0.27%</td>
                                    <td class="green">-3,065,800</td>
                                    <td class="green">-11.94%</td>
                                </tr>
                                
                            </tbody>
                    </table>
        </div>
        <div class="a-stock-gd-ten">
            <h1>十大股东</h1>
                    <table>
                            <thead>
                                <tr>
                                    <th class="wd40">名次</th>
                                    <th class="wd220">股东名称</th>
                                    <th class="wd85">股份类型</th>
                                    <th class="wd110">持股数(股)</th>
                                    <th class="wd70">总股占比</th>
                                    <th>增减(股)</th>
                                    <th>变动比例</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="pr6">China Galaxy Enterprise Limited</td>
                                    <td>限售流通A股</td>
                                    <td>431,731,982</td>
                                    <td>30.27%</td>
                                    <td class="green">-26.00%</td>
                                    <td class="green">-8.12%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="pr6">香港中央结算代理人有限公司/香港中央结算有限公司</td>
                                    <td>流通A股</td>
                                    <td>87,334,481,614</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>流通A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="pr6">全国社会保障基金理事会</td>
                                    <td>流通A股</td>
                                    <td>12,331,645,18</td>
                                    <td>3.46%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="pr6">中国人寿保险股份有限公司-传统-普通保险产品-005L-CT001沪</td>
                                    <td>流通A股</td>
                                    <td>472,599,788</td>
                                    <td>30.27%</td>
                                    <td class="red">94,929,461</td>
                                    <td class="red">+25.14%</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>流通A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="pr6">中央汇金投资有限责任公司</td>
                                    <td>流通A股</td>
                                    <td>806,678</td>
                                    <td>0.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="pr6">中华人民共和国财政部</td>
                                    <td>流通A股</td>
                                    <td>110,984,806,678</td>
                                    <td>30.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td class="pr6">中国铁路投资有限公司</td>
                                    <td>流通A股</td>
                                    <td>116,678</td>
                                    <td>12.27%</td>
                                    <td>不变</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td class="pr6">香港上海汇丰银行有限公司</td>
                                    <td>流通A股</td>
                                    <td>6,678</td>
                                    <td>0.27%</td>
                                    <td class="green">-3,065,800</td>
                                    <td class="green">-11.94%</td>
                                </tr>
                                
                            </tbody>
                    </table>
        </div>
        <div class="a-stock-gd-ten">
            <h1>持股机构</h1>
                    <table>
                            <thead>
                                <tr>
                                    <th>机构类型</th>
                                    <th>持仓家数</th>
                                    <th>持仓股数(股)</th>
                                    <th>占流通比</th>
                                    <th>占总股比</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>基金</td>
                                    <td>39</td>
                                    <td>41,037,322</td>
                                    <td>2.88%</td>
                                    <td>2.88%</td>
                                </tr>
                                <tr>
                                    <td>QFII</td>
                                    <td>39</td>
                                    <td>41,037,322</td>
                                    <td>2.88%</td>
                                    <td>2.88%</td>
                                </tr>
                                <tr>
                                    <td>社保基金</td>
                                    <td>39</td>
                                    <td>41,037,322</td>
                                    <td>2.88%</td>
                                    <td>2.47%</td>
                                </tr>
                                <tr>
                                    <td>保险</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>券商</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>信托</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>其他机构</td>
                                    <td>12</td>
                                    <td>41,037,322</td>
                                    <td>2.88%</td>
                                    <td>2.47%</td>
                                </tr>
                                <tr>
                                    <td>合计</td>
                                    <td>43</td>
                                    <td>41,037,322</td>
                                    <td>2.88%</td>
                                    <td>2.47%</td>
                                </tr>
                            </tbody>
                    </table>
        </div>
    </div>
</div>