<div class="a-stock-history">
    <h1>上市时间：2004年03月28日</h1>
    <p>
        <span class="sp1">发行价格：</span>
        <span>45.32元</span>
    </p>
    <p>
        <span class="sp1">历史最高价：</span>
        <span>123.34元<b>2015年05月28日</b></span>
    </p>
    <p>
        <span class="sp1">历史最低价：</span>
        <span>3.34元<b>2016年12月28日</b></span>
    </p>
    <p>
        <span class="sp1">历史分红次数：</span>
        <a href="http://data.eastmoney.com/yjfp/detail/600988.html"  target="_blank">29次</a>
    </p>
    <p>
        <span>曾用名：</span>
        <span class="sp2"><em>东方宝龙</em><em>ST宝龙</em><em>*ST宝龙</em><em>赤峰黄金</em></span>
    </p>
</div>