<div class="a-stock-hsg">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/hsg.png">
            <a href="http://data.eastmoney.com/hsgt/600988.html" class="a1" target="_blank">沪深港通</a>
        </div>
        <div class="fl mt14">
            <a href="#">贵州茅台</a>
            <a href="#">伊利股份</a>
            <a href="#">恒瑞医药</a>
            <a href="http://data.eastmoney.com/hsgt/top10.html" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
    <div class="a-stock-hsgtable">
        <h1>※沪股通</h1>
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>相关</th>
                    <th>收盘价</th>
                    <th>涨跌幅</th>
                    <th>净买额</th>
                    <th>买入金额</th>
                    <th>卖出金额</th>
                    <th>成交金额</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2020-05-08</td>
                    <td><a href="#" target="_blank">持股明细</a></td>
                    <td class="up">1135.81</td>
                    <td class="up">+9.43%</td>
                    <td class="down">-3.94亿</td>
                    <td>11.87亿</td>
                    <td>7.94亿</td>
                    <td>19.94亿</td>
                </tr>
                <tr>
                    <td>2020-05-05</td>
                    <td><a href="#" target="_blank">持股明细</a></td>
                    <td class="down">11.81</td>
                    <td class="down">-9.43%</td>
                    <td class="down">-3.94亿</td>
                    <td>11.87亿</td>
                    <td>7.94亿</td>
                    <td>19.94亿</td>
                </tr>
                <tr>
                    <td>2020-05-01</td>
                    <td><a href="#" target="_blank">持股明细</a></td>
                    <td class="up">115.81</td>
                    <td class="up">+9.43%</td>
                    <td class="up">+3.94亿</td>
                    <td>11.87亿</td>
                    <td>7.94亿</td>
                    <td>19.94亿</td>
                </tr>
                <tr>
                    <td>2020-04-30</td>
                    <td><a href="#" target="_blank">持股明细</a></td>
                    <td class="up">115.81</td>
                    <td class="up">+9.43%</td>
                    <td class="up">-3.94亿</td>
                    <td>11.87亿</td>
                    <td>7.94亿</td>
                    <td>19.94亿</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>