<div class="a-stock-name clearfix">
    <a href="http://quote.eastmoney.com/sh600988.html" target="_blank">赤峰黄金(600988)</a>
    <a href="#" class="jxban" target="_blank">操盘必读</a>
    <a href="#" class="ccjj" target="_blank">查看企业信用</a>
    <a href="#" class="jxban" target="_blank">查看极速版行情</a>
    <a href="#" class="ccjj" target="_blank">查看持股基金</a>
    <a href="#" class="ccjj" target="_blank">查看深度数据</a>
    <a href="#" class="ccjj" target="_blank">查看H股</a>
    <a href="#" class="ccjj" target="_blank">查看日历</a>
    <a href="#" class="ccjj" target="_blank">查看百科</a>
</div>