<div class='box-main clearfix' data-box-types="main">
<ul class='menunav clearfix' data-box-types="menunav">
<li class='active'><a href='javascript:void(0)' class='zy' data-click-types='zhuye'>我的主页</a></li>
<li><a href='javascript:void(0)' class='gb' data-click-types='guba'>我的股吧</a></li>
<li><a href='javascript:void(0)' class='aq' data-click-types='wenda'>我的问答</a></li>
<li><a href='javascript:void(0)' class='sc' data-click-types='shouc'>我的收藏</a></li>
<li><a href='javascript:void(0)' class='qb' data-click-types='qianb'>我的钱包</a></li>
<li><a href='javascript:void(0)' class='jf' data-click-types='jifen'>我的积分</a></li>
<li><a href='javascript:void(0)' class='lc'>我的消息</a></li>
</ul>
<div class='menutabs' data-box-types="menutabs"></div>
<div class='menuscont' data-box-type="menuscont" id="menuscont"></div>
</div>