<div class='boxright fl'>
      <div class="infocellbox" id="infocellbox-1">
            <h1 class="clearfix"><span class="tub tub-1"></span><span class="tit">基本信息</span></h1>
            <div class='myinfo' id="myinfo">
                  <div class="zxol">
                     <div class="zxol-a m clearfix">
                           <a href="#" data-click-types="fans">
                              <span class="ec5200">{{@data.getMyInfo[0].fans}}</span>
                              <span>粉丝</span>
                           </a>
                           <a href="#" class="m" data-click-types="watch">
                              <span class="ec5200">{{@data.getMyInfo[0].watched}}</span>
                              <span>关注</span>
                           </a>
                           <a href="#">
                              <span class="ec5200">未开通</span>
                              <span>财富号</span>
                           </a>
                           <a href="#">
                              <span class="ec5200">{{@data.getMyInfo[0].blog}}</span>
                              <span>博客</span>
                           </a>
                     </div>
                     <div class="zxol-a clearfix mt10">
                           <a href="#">
                              <span class="ec5200">{{@data.getMyInfo[0].stock}}</span>
                              <span>自选股票</span>
                           </a>
                           <a href="#" class="m">
                              <span class="ec5200">{{@data.getMyInfo[0].comb}}</span>
                              <span>自选组合</span>
                           </a>
                           <a href="#">
                              <span class="ec5200">{{@data.getMyInfo[0].fund}}</span>
                              <span>自选基金</span>
                           </a>
                     </div>
                  </div>
                  <div class="qdfb clearfix">
                        <a href='javascript:void(0)' class='qd' id='qd' data-click-types="signin">签到</a>
                        <a href="javascript:void(0)" class='fb' data-click-types="edition">发布</a>
                  </div>
            </div>
      </div>
      <div class="infocellbox mt15" id="infocellbox-2" style="display:none">
          <h1 class="clearfix"><span class="tub tub-2"></span><span class="tit">盘面走势</span><a href="javascript:void(0)" class="more-st" title="自定义设置" data-click-types="zspm" target="_self"></a></h1>
          <div class="zspm">
             <div class="zspm-list">
                 <div class="zspm-list-up"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/zs000001.html" target="_blank">上证指数--<span>开市中</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>指数</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="fb">3059.45</li>
                    <li class="fb">0.45</li>
                    <li class="fb">7.56%</li>
                    <li class="cjl">4000亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-down"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/zs399001.html" target="_blank">深圳成指--<span>开市中</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>指数</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="dt">3059.45</li>
                    <li class="dt">0.45</li>
                    <li class="dt">-7.56%</li>
                    <li class="cjl">1万亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-up"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/zs399006.html" target="_blank">创业板指--<span>开市中</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>指数</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="fb">3059.45</li>
                    <li class="fb">0.45</li>
                    <li class="fb">+7.56%</li>
                    <li class="cjl">700亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-down"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/zs000300.html" target="_blank">沪深300--<span>开市中</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>指数</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="fb">3059.45</li>
                    <li class="fb">0.45</li>
                    <li class="fb">+7.56%</li>
                    <li class="cjl">700亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-down"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/zs000016.html" target="_blank">上证50--<span>开市中</-<span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>指数</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="dt">3059.45</li>
                    <li class="dt">0.45</li>
                    <li class="dt">-7.56%</li>
                    <li class="cjl">700亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-down"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/qihuo/aum.html" target="_blank">沪金主力--<span>开市中</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>价格</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>成交额</span>
                 </div>
                 <ul class="clearfix">
                    <li class="fb">330.45</li>
                    <li class="fb">0.45</li>
                    <li class="fb">+7.56%</li>
                    <li class="cjl">700亿</li>
                 </ul>
             </div>
             <div class="zspm-list">
                 <div class="zspm-list-down"></div>
                 <h2>
                    <a href="http://quote.eastmoney.com/cnyrate/USDCNYC.html" target="_blank">美元人民币中间价--<span>休市</span></a>
                 </h2>
                 <div class="zspm-list-lable">
                     <span>价格</span>
                     <span>涨跌额</span>
                     <span>涨跌幅</span>
                     <span>52周最高</span>
                 </div>
                 <ul class="clearfix">
                    <li class="fb">6.9937</li>
                    <li class="fb">0.0045</li>
                    <li class="fb">+0.06%</li>
                    <li class="cjl">7.0084</li>
                 </ul>
             </div>
          </div>
      </div>
      <div class="infocellbox mt15" id="infocellbox-3">
         <h1 class="clearfix"><span class="tub tub-3"></span><span class="tit">近期涨跌</span><a href="javascript:void(0)" class="more-st" title="查看往期" data-click-types="nearlyupdown" target="_self"></a></h1>
         <div class="nearly-updown">
             <div class="nearly-updown-choose clearfix" id="nearly-updown-choose">
                 <a href="javascript:void(0)" data-click-types="dayupdwon" class="active bjup">本日<span></span></a>
                 <a href="javascript:void(0)" data-click-types="weakupdwon">本周<span></span></a>
                 <a href="javascript:void(0)" data-click-types="monthupdwon">本月<span></span></a>
             </div>
             
            <div class="nearly-updown-label clearfix">
                  <span>名称</span>
                  <span>价格变化</span>
                  <span>涨跌幅</span>
             </div>
            <ul data-box-types="nearlyupdown">
             {{each data.getNearlyUpDown value i}}
                  <li class="clearfix">
                      <div class="ldv mt4">
                           <a href="#">
                              <span>{{value.name}}</span>
                              <span>{{value.code}}</span>
                           </a>
                      </div>
                      <div class="ldv">
                           <span class="ff20">{{value.price2}}</span>
                           <span class="bjup"></span>
                           <span class="fz12">{{value.price1}}</span>
                      </div>
                      <div class="ldv">
                           <span class="ff20">+{{value.zd}}%</span>
                           <div class="bqup">{{value.bq}}</div>
                      </div>
                  </li>
                  {{/each}}
             </ul>
         </div>
      </div>
</div>