<div class="footer">
    <div class="footer-iframe" style="margin: 0 auto;overflow: hidden;width: 1216px;">
        <iframe src="http://emres.dfcfw.com/public/footer-1200-iframe.html" frameborder="0" width="1216" height="356" style="overflow: hidden;"></iframe>
    </div>
</div>