<div class="hot-concept">
    <h1>领涨概念<i class="hot-icon"></i><a href="#" class="hot-concept-change">换一换</a></h1>
    <ul>
        <li>
            <i class="qsm">1</i>
            <a href="#" class="a1" target="_blank">数字货币</a>
            <span class="red">3.47%</span>
            <a href="#" class="a2" target="_blank">天朝股份</a>
        </li>
        <li>
            <i class="qsm">2</i>
            <a href="#" class="a1" target="_blank">云游戏</a>
            <span class="red">2.47%</span>
            <a href="#" class="a2" target="_blank">金科文化</a>
        </li>
        <li>
            <i class="qsm">3</i>
            <a href="#" class="a1" target="_blank">草地贪夜蛾防治</a>
            <span class="red">2.98%</span>
            <a href="#" class="a2" target="_blank">红太阳</a>
        </li>
        <li>
            <i>4</i>
            <a href="#" class="a1" target="_blank">人民币贬值收益</a>
            <span class="red">2.07%</span>
            <a href="#" class="a2" target="_blank">赤峰黄金</a>
        </li>
        <li>
            <i>5</i>
            <a href="#" class="a1" target="_blank">RCS富媒体通信</a>
            <span class="red">1.97%</span>
            <a href="#" class="a2" target="_blank">君正集团</a>
        </li>
        <li>
            <i>6</i>
            <a href="#" class="a1" target="_blank">证券</a>
            <span class="red">1.56%</span>
            <a href="#" class="a2" target="_blank">东方财富</a>
        </li>
        <li>
            <i>7</i>
            <a href="#" class="a1" target="_blank">互联网彩票</a>
            <span class="red">1.13%</span>
            <a href="#"  class="a2" target="_blank">三六零</a>
        </li>
        <li>
            <i>8</i>
            <a href="#" class="a1" target="_blank">区块链</a>
            <span class="red">1.02%</span>
            <a href="#" class="a2" target="_blank">广电运通</a>
        </li>
        <li>
            <i>9</i>
            <a href="#" class="a1" target="_blank">网红经济</a>
            <span class="red">0.97%</span>
            <a href="#" class="a2" target="_blank">黑芝麻</a>
        </li>
        <li>
            <i>10</i>
            <a href="#" class="a1" target="_blank">5G</a>
            <span class="red">0.87%</span>
            <a href="#" class="a2" target="_blank">天夏智慧</a>
        </li>
    </ul>
</div>