<div class="hot-search">
    <h1>热门搜索<i class="hot-icon"></i><a href="#" class="hot-search-change">换一换</a></h1>
    <ul>
        <li>
            <span class="qsm">1</span>
            <a href="#" target="_blank">A股历史第一，连续跌停16板</a>
            <i>200.00万</i>
        </li>
        <li>
            <span class="qsm">2</span>
            <a href="#" target="_blank">万科也养猪了</a>
            <i>20.00万</i>
        </li>
        <li>
            <span class="qsm">3</span>
            <a href="#" target="_blank">远程办公</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>4</span>
            <a href="#" target="_blank">国产软件</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>5</span>
            <a href="#" target="_blank">金价走势</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>6</span>
            <a href="#" target="_blank">上海市新金融政策十条</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>7</span>
            <a href="#" target="_blank">茅台突破千元大关</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>8</span>
            <a href="#" target="_blank">36家上市公司被责令强制退市</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>9</span>
            <a href="#" target="_blank">家电行业表现出色</a>
            <i>20.00万</i>
        </li>
        <li>
            <span>10</span>
            <a href="#" target="_blank">外资将加码指数增强型投资</a>
            <i>20.00万</i>
        </li>
        <% for( let index = 11; index < 21; index++ ) { %>
            <li class="hd">
                <span><%=index%></span>
                <a href="#" target="_blank">外资将加码指数增强型投资</a>
                <i>20.00万</i>
            </li>
        <% } %>
    </ul>
</div>
<div style="margin-top: 20px;">
    <a href="https://topic.eastmoney.com/bftzxgdh/" target="_blank"><img src="https://g1.dfcfw.com/g3/201903/20190307153455.gif" width="100%" height="40px"></a>
</div>