<div class="main">
    <div class="nav-div">
        <div class="wd1200">
            <ul class="clearfix">
                <li class="active">
                    <a href="#">综合</a>
                </li>
                <li>
                    <a href="#">行情</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">公告</a>
                </li>
                <li>
                    <a href="#">研报</a>
                </li>
                <li>
                    <a href="#">股吧</a>
                </li>
                <li>
                    <a href="#">财富号</a>
                </li>
                <li>
                    <a href="#">财富号文章</a>
                </li>
                <li>
                    <a href="#">财富生活</a>
                </li>
                <li>
                    <a href="#">博客</a>
                </li>
                <li>
                    <a href="#">组合</a>
                </li>
                <li>
                    <a href="#">问董秘</a>
                </li>
                <li>
                    <a href="#">悬赏问</a>
                </li>
                <li>
                    <a href="#">百科</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cont-div">
        <div class="wd1200">
            <div class="search-result-sum">
                <span>搜索到相关结果共：<em>15678</em>条</span>
            </div>
            <div class="search-result-list">
                <div class="search-result-module-qh">
                    <div class="module-qh-item clearfix">
                        <div class="qh-head">
                            <h1 class="clearfix">
                                <span class="tit">COMEX黄金(GC00Y)</span>
                            </h1>
                            <a href="#" class="qh-more"></a>
                            <i class="bq">国际期货</i>
                        </div>
                        <div class="qh-list">
                            <div class="qh-list-cont">
                                <div>
                                    <p>
                                        <span>今开：</span>
                                        <span>1600.33</span>
                                        <span>最高：</span>
                                        <span>1600.33</span>
                                        <span>昨收</span>
                                        <span>1600.33</span>
                                        <span>最低：</span>
                                        <span>1600.33</span>
                                    </p>
                                </div>
                                <p class="up"></p>
                                <p class="qred">1600.54</p>
                                <p>
                                    <span  class="red mr10 ">4.45%</span>
                                    <span  class="red">1.83</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="module-qh-item clearfix">
                            <div class="qh-head">
                                <h1 class="clearfix">
                                    <span class="tit">沪金主力(AUM)</span>
                                </h1>
                                <a href="#" class="qh-more"></a>
                                <i class="bq">上海期货</i>
                            </div>
                            <div class="qh-list">
                                <div class="qh-list-cont">
                                        <p class="down"></p>
                                        <p class="qgreen">430.54</p>
                                        <p>
                                            <span  class="green mr10 ">4.45%</span>
                                            <span  class="green">1.83</span>
                                        </p>
                                </div>
                            </div>
                    </div>
                    <div class="module-qh-item clearfix">
                            <div class="qh-head">
                                <h1 class="clearfix">
                                    <span class="tit">上海黄金现货(AUTD)</span>
                                </h1>
                                <a href="#" class="qh-more"></a>
                                <i class="bq">上海现货</i>
                            </div>
                            <div class="qh-list">
                                <div class="qh-list-cont">
                                        <p class="down"></p>
                                        <p class="qgreen">430.54</p>
                                        <p>
                                            <span  class="green mr10 ">4.45%</span>
                                            <span  class="green">1.83</span>
                                        </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="search-result-module-gp">
                </div>
                <div class="search-result-module-gg" style="display: none">
                    <div>
                        <span><em>黄金</em>个股行情</span>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>股票代码</th>
                                <th>股票名称</th>
                                <th>最新价</th>
                                <th>涨跌幅</th>
                                <th>涨跌额</th>
                                <th>成交量</th>
                                <th>相关</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>