<div class="main">
    <div class="nav-div">
        <div class="wd1000">
            <ul class="clearfix">
                <li class="active">
                    <a href="#">综合</a>
                </li>
                <li>
                    <a href="#">行情</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">公告</a>
                </li>
                <li>
                    <a href="#">研报</a>
                </li>
                <li>
                    <a href="#">股吧</a>
                </li>
                <li>
                    <a href="#">财富号</a>
                </li>
                <li>
                    <a href="#">财富号文章</a>
                </li>
                <li>
                    <a href="#">财富生活</a>
                </li>
                <li>
                    <a href="#">博客</a>
                </li>
                <li>
                    <a href="#">组合</a>
                </li>
                <li>
                    <a href="#">问董秘</a>
                </li>
                <li>
                    <a href="#">悬赏问</a>
                </li>
                <li>
                    <a href="#">百科</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cont-div">
        <div class="wd1000">
            <div class="search-result-sum">
                <span>搜索到相关结果共：<em>15678</em>条</span>
            </div>
            <div class="search-result-list">
                <div class="search-result-module-gp">
                            <div class="search-result-module-title clearfix">
                                    <span><em>黄金</em>相关个股</span>
                                    <a href="#" class="newsa">赤峰黄金遭大股东减持</a>
                                    <a href="#" class="newsa">国际金价多头持续升温</a>
                                    <a href="#" class="newsa">黄金会不会回调</a>
                                    <a href="#" class="newsa">伦敦交易所紧急配置黄金</a>
                            </div>
                            <div class="module-gp-table">
                                <table>
                                    <thead>
                                        <th>名称\代码</th>
                                        <th>现价</th>
                                        <th>单日涨跌幅</th>
                                        <th>本周涨跌幅</th>
                                        <th>本月涨跌幅</th>
                                        <th>本年涨跌幅</th>
                                        <th>单日成交量</th>
                                        <th>单日换手率</th>
                                        <th>最近解禁日</th>
                                        <th>相关</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="images/ico/hot.png" class="hot" title="热门股票">
                                                <a href="#" title="查看详细行情">
                                                    <span>赤峰黄金</span>
                                                    <span>SH.600988</span>
                                                </a>
                                                <i class="zbg">沪深300指标股</i>
                                            </td>
                                            <td class="red">86.6</td>
                                            <td class="red">+10.00%</td>
                                            <td class="green">-110.00%</td>
                                            <td class="red">+110.00%</td>
                                            <td class="red">+140.00%</td>
                                            <td>120亿元</td>
                                            <td>14.33%</td>
                                            <td>
                                                <span class="mt5">2020-03-07</span>
                                                <span class="mb5">解禁约<em>1.32</em>亿股</span>
                                            </td>
                                            <td>
                                                <a href="#">[股吧]</a>
                                                <a href="#">[问董秘]</a>
                                                <a href="#">[悬赏问]</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" title="查看详细行情">
                                                    <span>平安证券集团控股</span>
                                                    <span>HK.600547</span>
                                                </a>
                                            </td>
                                            <td class="red" title="港元">34.6(HKD)</td>
                                            <td class="red">+7.00%</td>
                                            <td class="red">+21.34%</td>
                                            <td class="green">-30.00%</td>
                                            <td class="green">-0.30%</td>
                                            <td>120亿元</td>
                                            <td>14.33%</td>
                                            <td>
                                                <span class="mt5">2020-03-07</span>
                                                <span class="mb5">解禁约<em>31.32</em>亿股</span>
                                            </td>
                                            <td>
                                                <span class="nomore">-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                    <a href="#" title="查看详细行情">
                                                        <span>园城黄金</span>
                                                        <span>SH.600123</span>
                                                    </a>
                                                    <i class="zbg">上证50指标股</i>
                                                </td>
                                                <td class="red">14.6</td>
                                                <td class="red">+4.00%</td>
                                                <td class="red">+11.34%</td>
                                                <td class="red">+20.00%</td>
                                                <td class="red">+34.30%</td>
                                                <td>10亿元</td>
                                                <td>0.33%</td>
                                                <td>
                                                    <span class="mt5">2020-12-07</span>
                                                    <span class="mb5">解禁约<em>1.32</em>亿股</span>
                                                </td>
                                                <td>
                                                    <a href="#">[股吧]</a>
                                                    <a href="#">[问董秘]</a>
                                                    <a href="#">[悬赏问]</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td>
                                                        <a href="#" title="查看详细行情">
                                                            <span>西部黄金</span>
                                                            <span>SH.600147</span>
                                                        </a>
                                                    </td>
                                                    <td class="red">11.23</td>
                                                    <td class="red">+1.05%</td>
                                                    <td class="red">+21.34%</td>
                                                    <td class="red">+30.00%</td>
                                                    <td class="red">+44.30%</td>
                                                    <td>120亿元</td>
                                                    <td>33.98%</td>
                                                    <td>
                                                        <span class="nomore">-</span>
                                                    </td>
                                                    <td>
                                                        <a href="#">[股吧]</a>
                                                        <a href="#">[问董秘]</a>
                                                        <a href="#">[悬赏问]</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#" title="查看详细行情">
                                                            <span>湖南黄金</span>
                                                            <span>SZ.600888</span>
                                                        </a>
                                                    </td>
                                                    <td class="green">8.31</td>
                                                    <td class="green">-11.35%</td>
                                                    <td class="green">-31.34%</td>
                                                    <td class="green">-38.00%</td>
                                                    <td class="red">+0.86%</td>
                                                    <td>120亿元</td>
                                                    <td>33.98%</td>
                                                    <td>
                                                        <span class="nomore">-</span>
                                                    </td>
                                                    <td>
                                                        <a href="#">[股吧]</a>
                                                        <a href="#">[问董秘]</a>
                                                        <a href="#">[悬赏问]</a>
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="gpmore">查看更多“黄金”相关个股&gt;&gt;</a>
                            </div>
                           
                </div>
                <div class="search-result-module-qh clearfix">
                    <div class="search-result-module-title clearfix">
                            <span><em>黄金</em>相关期货</span>
                            <a href="#" class="newsa">黄金十年大周期</a>
                            <a href="#" class="newsa">昨晚被空头打包仓</a>
                            <a href="#" class="newsa">黄金会不会回调</a>
                            <a href="#" class="newsa">伦敦交易所紧急配置黄金</a>
                    </div>
                    <div class="module-qh-item clearfix">
                        <div class="qh-head">
                            <a href="#" class="tit">COMEX黄金(GC00Y)</a>
                            <span class="isdell">交易中</span>
                        </div>
                        <div class="qh-list">
                                <div class="qh-list-cont">
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>今开：</span>
                                            <span class="red">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最高：</span>
                                            <span class="green">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="mb bckred clearfix">
                                        <i></i>
                                        <p>1600.54</p>
                                        <span>4.45%</span>
                                        <span>1.83</span>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>昨收：</span>
                                            <span class="green">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最低：</span>
                                            <span class="red">1600.33</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="module-qh-item clearfix">
                            <div class="qh-head">
                                <a href="#" class="tit">沪金主力(AUM)</a>
                                <span class="isdell">休市中</span>
                            </div>
                            <div class="qh-list">
                                    <div class="qh-list-cont">
                                        <div class="tb clearfix">
                                            <P class="clearfix fl">
                                                <span>今开：</span>
                                                <span class="red">1600.33</span>
                                            </P>
                                            <p class="clearfix fr">
                                                <span>最高：</span>
                                                <span class="green">1600.33</span>
                                            </p>
                                        </div>
                                        <div class="mb bckred clearfix">
                                            <i></i>
                                            <p>1600.54</p>
                                            <span>4.45%</span>
                                            <span>1.83</span>
                                        </div>
                                        <div class="tb clearfix">
                                            <P class="clearfix fl">
                                                <span>昨收：</span>
                                                <span class="green">1600.33</span>
                                            </P>
                                            <p class="clearfix fr">
                                                <span>最低：</span>
                                                <span class="red">1600.33</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="module-qh-item clearfix">
                        <div class="qh-head">
                            <a href="#" class="tit">沪金主力(AUM)</a>
                            <span class="isdell">休市中</span>
                        </div>
                        <div class="qh-list">
                            <div class="qh-list-cont">
                                <div class="tb clearfix">
                                    <P class="clearfix fl">
                                        <span>今开：</span>
                                        <span class="red">1600.33</span>
                                    </P>
                                    <p class="clearfix fr">
                                        <span>最高：</span>
                                        <span class="green">1600.33</span>
                                    </p>
                                </div>
                                <div class="mb bckred clearfix">
                                    <i></i>
                                    <p>1600.54</p>
                                    <span>4.45%</span>
                                    <span>1.83</span>
                                </div>
                                <div class="tb clearfix">
                                    <P class="clearfix fl">
                                        <span>昨收：</span>
                                        <span class="green">1600.33</span>
                                    </P>
                                    <p class="clearfix fr">
                                        <span>最低：</span>
                                        <span class="red">1600.33</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-qh-item clearfix">
                            <div class="qh-head">
                                <a href="#" class="tit">沪金主力(AUM)</a>
                                <span class="isdell">休市中</span>
                            </div>
                            <div class="qh-list-cont">
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>今开：</span>
                                            <span class="red">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最高：</span>
                                            <span class="green">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="mb bckgreen clearfix">
                                        <i></i>
                                        <p>1600.54</p>
                                        <span>4.45%</span>
                                        <span>1.83</span>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>昨收：</span>
                                            <span class="green">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最低：</span>
                                            <span class="red">1600.33</span>
                                        </p>
                                    </div>
                                </div>
                    </div>
                    <div class="module-qh-more">
                        <a href="#">更多黄金品种</a>
                        <a href="#">更多期货行情</a>
                        <a href="#">期货龙虎榜单</a>
                        <a href="#">东方财富期货APP</a>
                        <a href="#"><img src="https://q1s.dfcfw.com/webpages/static/img/code.3dde5c0.png" width="72" height="62"></a>
                    </div>
                </div>
                <div class="search-result-module-bk">
                    <div class="search-result-module-title clearfix">
                            <span><em>黄金</em>相关板块</span>
                            <a href="#" class="newsa">有色冶炼加工</a>
                            <a href="#" class="newsa">人民币贬值受惠</a>
                            <a href="#" class="newsa">稀缺资源</a>
                            <a href="#" class="newsa">小金属概念</a>
                    </div>
                    <div class="module-bk-item">
                        <div class="module-bk-item-title clearfix">
                            <div class="bk-item-name clearfix">
                                <a href="#">黄金概念-BK0547</a>
                                <div class="mb">
                                    <i></i>
                                    <p>1600.54</p>
                                    <span>4.45%</span>
                                </div>
                            </div>
                            <div class="bk-item-lb">
                                <p class="clearfix mb17">
                                    <span>今开：<em class="green">35220.24</em></span>
                                    <span>最高：<em class="red">35220.24</em></span>
                                    <span>成交量：555亿</span>
                                    <span>换手：13.33%</span>
                                    <span>外盘：<em class="red">31220.24</em></span>
                                    <span>流通市值：8763.33万</span>
                                </p>
                                <p class="clearfix">
                                    <span>昨收：<em class="red">35220.24</em></span>
                                    <span>最低：<em class="red">35120.18</em></span>
                                    <span>成交额：500亿</span>
                                    <span>量比：1:1</span>
                                    <span>内盘：<em class="red">31220.24</em></span>
                                    <span>流通股本：1444亿</span>
                                </p>
                            </div>
                        </div>
                        <div class="module-bk-item-cont clearfix">
                            <div class="module-bk-item-draw clearfix">
                                    <ul class="clearfix">
                                        <li class="active">
                                            <a href="#">分时图</a>
                                        </li>
                                        <li>
                                            <a href="#">5分钟</a>
                                        </li>
                                        <li>
                                            <a href="#">15分钟</a>
                                        </li>
                                        <li>
                                            <a href="#">30分钟</a>
                                        </li>
                                        <li>
                                            <a href="#">60分钟</a>
                                        </li>
                                        <li>
                                            <a href="#">日K</a>
                                        </li>
                                        <li>
                                            <a href="#">周K</a>
                                        </li>
                                        <li>
                                            <a href="#">月K</a>
                                        </li>
                                        <li>
                                            <a href="#">年K</a>
                                        </li>
                                    </ul>
                                    <div class="item-draw-pic">
                                        <img height="276px" width="578px" src="//webquotepic.eastmoney.com/GetPic.aspx?token=44c9d251add88e27b65ed86506f6e5da&amp;nid=90.BK0547&amp;type=r&amp;imageType=rf&amp;_=1583822082761">
                                    </div>
                            </div>
                            <div class="item-comb-flow">
                                <h1 class="clearfix">
                                    <a href="#" class="active">资金流向</a>
                                    <a href="#">主题基金</a>
                                    <a href="#">模拟组合</a>
                                </h1>
                                <div class="clearfix mt10">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>类型</th>
                                                    <th>流入</th>
                                                    <th>流出</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>超大单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>大单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>中单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>小单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>净超大</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>净大单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>净中单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                                <tr>
                                                    <td>净小单</td>
                                                    <td class="red">100亿</td>
                                                    <td class="green">100亿</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div class="clearfix hd">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>组合名称</th>
                                                    <th>总收益</th>
                                                    <th>最赚钱的股票</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">执行新顺德区</a>
                                                    </td>
                                                    <td class="red">9833.22%</td>
                                                    <td>
                                                        <a href="#">海峡股份</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div class="clearfix hd">
                                        <table>
                                                <thead>
                                                    <th>名称</th>
                                                    <th>近一周</th>
                                                    <th>近一月</th>
                                                    <th>近一年</th>
                                                    <th>成立来</th>
                                                    <th>成立日</th>
                                                    <th>风险等级</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="#">前海开源沪港..</a></td>
                                                        <td class="red">10.32%</td>
                                                        <td class="green">0.32%</td>
                                                        <td class="red">0.12%</td>
                                                        <td class="red">1110.32%</td>
                                                        <td>2020-12-31</td>
                                                        <td>中高</td>
                                                    </tr>
            
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                            <div class="item-bk-more">
                                    <a href="#">更多概念板块</a>
                                    <a href="#">更多主题基金</a>
                                    <a href="#">相关投资组合</a>
                                    <a href="#">天天基金APP</a>
                                    <a href="#"><img src="https://q1s.dfcfw.com/webpages/static/img/code.3dde5c0.png" width="72" height="62"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-result-module-collect" style="height: 900px">
                        <div class="search-result-module-title clearfix">
                                <span><em>黄金</em>其它相关信息</span>
                                <a href="#" class="newsa">买不到牛股？立即查看哪些板块正被机构盯上</a>
                                <a href="#" class="newsa">人民币贬值受惠</a>
                                <a href="#" class="newsa">稀缺资源</a>
                                <a href="#" class="newsa">小金属概念</a>
                        </div>
                        <div class="clearfix">
                            <div class="module-collect-guba list">
                                <h1>股吧</h1>
                                <a href="#" class="getmore">更多黄金相关帖&gt;&gt;</a>
                                <ul>
                                   <li>
                                       <span>【东方财富吧】</span>
                                       <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>矿石，提练多少<em>黄金</em>?</a>
                                       <p>
                                           <span>2020年03月20日</span>
                                       </p>
                                   </li>
                                   <li>
                                        <span>【博时<em>黄金</em>ETF联接A】</span>
                                        <a href="#">请问公司的<em>黄金</em>储备目多少亿，波<em>黄金</em>涨价能够...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【博时<em>黄金</em>ETF联接A】</span>
                                        <a href="#">请问公司的<em>黄金</em>储备目前少亿，这波<em>黄金</em>能够...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【湖南<em>黄金</em>】</span>
                                        <a href="#">省属<em>黄金</em>、平台，受益<em>黄金</em>价格上涨</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【赤峰<em>黄金</em>】</span>
                                        <a href="#">请问中金<em>黄金</em>的<em>黄金</em>储备是多少？</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="module-collect-cfh list ml10">
                                <h1>财富号</h1>
                                <a href="#" class="getmore">更多黄金相关财富号&gt;&gt;</a>
                                <ul>
                                    <li class="clearfix">
                                        <div class="fl">
                                            <a href="#" class="name">
                                                <img src="http://avator.eastmoney.com/qface/1618355667906122/120" class="tx">
                                            </a>
                                        </div>
                                        <div class="fl ml5">
                                            <span>【作者：天天曼云菲】</span>
                                            <a href="#">纸<em>黄金纸</em>，<em>黄金</em>T+D</a>
                                            <p><span>2020年03月20日</span></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="fl">
                                            <a href="#" class="name">
                                                <img src="http://avator.eastmoney.com/qface/4445094974120340/120" class="tx">
                                            </a>
                                        </div>
                                        <div class="fl ml5">
                                            <span>【作者：天天曼云菲】</span>
                                            <a href="#"><em>黄金</em>T+D</a>
                                            <p><span>2020年03月20日</span></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="fl">
                                            <a href="#" class="name">
                                                <img src="http://avator.eastmoney.com/qface/5866094544085574/120" class="tx">
                                            </a>
                                        </div>
                                        <div class="fl ml5">
                                            <span>【作者：天天曼云菲】</span>
                                            <a href="#"><em>黄金</em>入门：什么是现货，<em>黄金</em>T+D</a>
                                            <p><span>2020年03月20日</span></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="fl">
                                            <a href="#" class="name">
                                                <img src="http://avator.eastmoney.com/qface/7973113625132536/120" class="tx">
                                            </a>
                                        </div>
                                        <div class="fl ml5">
                                            <span>【作者：天天曼云菲】</span>
                                            <a href="#"><em>黄金</em>入门：什么，<em>黄金</em>T+D</a>
                                            <p><span>2020年03月20日</span></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="fl">
                                            <a href="#" class="name">
                                                <img src="http://avator.eastmoney.com/qface/1618355667906122/120" class="tx">
                                            </a>
                                        </div>
                                        <div class="fl ml5">
                                            <span>【作者：天天曼云菲】</span>
                                            <a href="#"><em>黄金</em>入门：什么<em>黄金</em>T+D</a>
                                            <p><span>2020年03月20日</span></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="module-collect-xsw list ml10">
                                <h1>悬赏问</h1>
                                <a href="#" class="getmore">更多黄金相悬赏问&gt;&gt;</a>
                                <ul>
                                    <li>
                                        <span>【￥88.00】</span>
                                        <a href="#">区块链迅速冷却、白马，目前<em>黄金</em>目前的...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【￥88.00】</span>
                                        <a href="#">区块链迅速冷却、大跌，目前<em>黄金</em>目前的...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【￥88.00】</span>
                                        <a href="#">区块链迅速冷却大跌，目前<em>黄金</em>目前的...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【￥88.00】</span>
                                        <a href="#">区块链大跌，目前<em>黄金</em>目前的...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【￥88.00】</span>
                                        <a href="#">区块链迅跌，目前<em>黄金</em>目前的...</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="module-collect-gg list mt15">
                                <h1>公告</h1>
                                <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
                                <ul>
                                   <li>
                                       <span>【东方财富】</span>
                                       <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                       <p>
                                           <span>2020年03月20日</span>
                                       </p>
                                   </li>
                                   <li>
                                        <span>【赤峰<em>黄金</em>】</span>
                                        <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【博时<em>黄金</em>】</span>
                                        <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【湖南<em>黄金</em>】</span>
                                        <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                    <li>
                                        <span>【赤峰<em>黄金</em>】</span>
                                        <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                        <p>
                                            <span>2020年03月20日</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="module-collect-yb list mt15 ml10">
                                    <h1>研报</h1>
                                    <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
                                    <ul>
                                       <li>
                                           <span>【东方财富】</span>
                                           <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                           <p>
                                               <span>2020年03月20日</span>
                                           </p>
                                       </li>
                                       <li>
                                            <span>【赤峰<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【博时<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【湖南<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【赤峰<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                    </ul>
                            </div>
                            <div class="module-collect-wdm list mt15 ml10">
                                    <h1>问董秘</h1>
                                    <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
                                    <ul>
                                       <li>
                                           <span>【东方财富】</span>
                                           <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>多少<em>黄金</em>?</a>
                                           <p>
                                               <span>2020年03月20日</span>
                                           </p>
                                       </li>
                                       <li>
                                            <span>【赤峰<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【博时<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【湖南<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>【赤峰<em>黄金</em>】</span>
                                            <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                                            <p>
                                                <span>2020年03月20日</span>
                                            </p>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="clearfix hd">
                            <div class="module-collect-theme fl">
                                <h1 class="ico">
                                    <a href="#">主题</a>
                                </h1>
                                <div class="repres">
                                    <em>黄金</em>
                                    <i>贵金属</i>
                                    <span>避险必备!贵金属,乱世买黄金,局势动荡,美联储加息美联储加息</span>
                                </div>
                                <div class="subpower hd">
                                    <em>黄金</em>
                                    <i>金属</i>
                                    <span>避险必备!贵金属,乱世买黄金,局势动荡,美联储加息美联储加息</span>
                                </div>
                            </div>
                            <div class="module-collect-ht ml10 fl">
                                <h1 class="ico">
                                    <a href="#">话题</a>
                                </h1>
                            </div>
                        </div>
                </div>
                <div class="search-result-module-zhnews">
                    <div class="module-zhnews-fl">
                        <div class="clearfix">
                                <div class="list">
                                        <div class="acrt">
                                            <a href="javascript:void(0)" class="from">中国证券报</a>
                                            <i class="ml5 mr5">●</i>
                                            <a href="javascript:void(0)" class="fz12 hf">媒体频道</a>
                                        </div>
                                        <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                        <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                        <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">第一财经</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">财经频道</a>
                                    </div>
                                    <a href="#" class="actions">上半年<em>黄金</em> 继续暴涨！</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                                <div class="list">
                                    <div class="acrt">
                                        <a href="javascript:void(0)" class="from">环球外汇网</a>
                                        <i class="ml5 mr5">●</i>
                                        <a href="javascript:void(0)" class="fz12 hf">期货频道</a>
                                    </div>
                                    <a href="#" class="actions">其实<em>黄金</em>赚钱很简单没<em>黄金</em> 上涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。</a>
                                    <div class="txtdiv"><span class="times">2020年03月20日</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                    <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                                </div>
                        </div>
                        <div class="clearfix list">
                            <p>相关搜索</p>
                            <p>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                                <a href="#">黄金法巴零九购A</a>
                            </p>
                        </div>
                        <div class="pageF">
                            <ul>
                                <li>
                                    <a href="#">上一页</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">6</a>
                                </li>
                                <li>
                                    <a href="#">7</a>
                                </li>
                                <li>
                                    <a href="#">8</a>
                                </li>
                                <li>
                                    <a href="#">9</a>
                                </li>
                                <li>
                                    <a href="#">10</a>
                                </li>
                                <li>
                                    <a href="#">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>