<div class="search-result-tips">
    <div class="searchresult-time">
        <img src="/images/ico/time.png">
        北京时间：2020年03月25日&nbsp;09:31:56
    </div>
    <div class="searchresult-sum">
        <img src="/images/ico/searchresult-sum.png">
        搜索到相关结果共：<%=data.b.TotalCount%>&nbsp;条
    </div>  
</div>