<div class="entry-tools">
    <h1>北京时间：2020年03月29日&nbsp;13:31:23</h1>
    <div class="entry-tools-change">
       <div class="mb20">
        <p>*黄金：1盎司=31.3113克</p>
        <div class="mt10 clearfix">
            <input type="text" class="entry-tools-change-input" placeholder="输入价格">
            <select class="entry-tools-change-select">
                <option>美元/盎司</option>
                <option>人民币/克</option>
            </select>
        </div>
        <div class="entry-tools-change-button">
            <button>换算</button>
        </div>
        <div class="entry-tools-change-result">
            <p class="clearfix">
                <span class="sp1">###</span>
                <span>人民币/克</span>
            </p>
        </div>
       </div>
       <div class="entry-tools-change-rate mb20">
        <p>*人民币：1元人民币=0.74美元</p>
        <div class="mt10 clearfix">
            <input type="text" class="entry-tools-change-input" placeholder="输入价格">
            <select class="entry-tools-change-select">
                <option>美元</option>
                <option>人民币</option>
                <option>欧元</option>
                <option>英镑</option>
                <option>日元</option>
                <option>韩元</option>
                <option>泰铢</option>
                <option>越南盾</option>
            </select>
            <i class="exi"></i>
            <select class="entry-tools-change-select">
                <option>人民币</option>
                <option>美元</option>
                <option>欧元</option>
                <option>英镑</option>
                <option>日元</option>
                <option>韩元</option>
                <option>泰铢</option>
                <option>越南盾</option>
            </select>
        </div>
        <div class="entry-tools-change-button">
            <button>换算</button>
        </div>
        <div class="entry-tools-change-result">
            <p class="clearfix">
                <span class="sp1">###</span>
                <span>人民币</span>
            </p>
        </div>
       </div>
    </div>
</div>