<div class="search-box">
     <div class="search-head">
          <div class='wd1200 clearfix'>
               <div class="eastlogo">
                    <a class="logo" href="http://www.eastmoney.com">
                         <img src="http://so.eastmoney.com/Content/img/logo-124.png">
                    </a>
               </div>
               <div class="search-form clearfix">
                    <form>
                         <input type="text" class="input-box" value="黄金">
                         <a href="javascript:void(0)" class="search-submit">搜索</a>
                    </form>
               </div>
          </div>
     </div>
</div>