<div class="module-collect-guba list">
        <h1>股吧</h1>
        <a href="#" class="getmore">更多黄金相关帖&gt;&gt;</a>
        <ul>
           
            <li>
                <span>【博时<em>黄金</em>ETF联接A】</span>
                <a href="#">请问公司的<em>黄金</em>储备目前少亿，这波<em>黄金</em>能够...</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【湖南<em>黄金</em>】</span>
                <a href="#">省属<em>黄金</em>、平台，受益<em>黄金</em>价格上涨</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【赤峰<em>黄金</em>】</span>
                <a href="#">请问中金<em>黄金</em>的<em>黄金</em>储备是多少？</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="module-collect-cfh list ml10">
        <h1>财富号</h1>
        <a href="#" class="getmore">更多黄金相关财富号&gt;&gt;</a>
        <ul>
            
            <li class="clearfix">
                <div class="fl">
                    <a href="#" class="name">
                        <img src="http://avator.eastmoney.com/qface/5866094544085574/120" class="tx">
                    </a>
                </div>
                <div class="fl ml5">
                    <span>【作者：天天曼云菲】</span>
                    <a href="#"><em>黄金</em>入门：什么是现货，<em>黄金</em>T+D</a>
                    <p><span>2020年03月20日</span></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="fl">
                    <a href="#" class="name">
                        <img src="http://avator.eastmoney.com/qface/7973113625132536/120" class="tx">
                    </a>
                </div>
                <div class="fl ml5">
                    <span>【作者：天天曼云菲】</span>
                    <a href="#"><em>黄金</em>入门：什么，<em>黄金</em>T+D</a>
                    <p><span>2020年03月20日</span></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="fl">
                    <a href="#" class="name">
                        <img src="http://avator.eastmoney.com/qface/1618355667906122/120" class="tx">
                    </a>
                </div>
                <div class="fl ml5">
                    <span>【作者：天天曼云菲】</span>
                    <a href="#"><em>黄金</em>入门：什么<em>黄金</em>T+D</a>
                    <p><span>2020年03月20日</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="module-collect-xsw list ml10">
        <h1>悬赏问</h1>
        <a href="#" class="getmore">更多黄金相悬赏问&gt;&gt;</a>
        <ul>
           
            <li>
                <span>【￥88.00】</span>
                <a href="#">区块链迅速冷却大跌，目前<em>黄金</em>目前的...</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【￥88.00】</span>
                <a href="#">区块链大跌，目前<em>黄金</em>目前的...</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【￥88.00】</span>
                <a href="#">区块链迅跌，目前<em>黄金</em>目前的...</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="module-collect-gg list mt15">
        <h1>公告</h1>
        <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
        <ul>
           
            <li>
                <span>【博时<em>黄金</em>】</span>
                <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【湖南<em>黄金</em>】</span>
                <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
            <li>
                <span>【赤峰<em>黄金</em>】</span>
                <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                <p>
                    <span>2020年03月20日</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="module-collect-yb list mt15 ml10">
            <h1>研报</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
               
                <li>
                    <span>【博时<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
                <li>
                    <span>【湖南<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
                <li>
                    <span>【赤峰<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
            </ul>
    </div>
    <div class="module-collect-wdm list mt15 ml10">
            <h1>问董秘</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
               <li>
                   <span>【东方财富】</span>
                   <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>多少<em>黄金</em>?</a>
                   <p>
                       <span>2020年03月20日</span>
                   </p>
               </li>
               <li>
                    <span>【赤峰<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
                <li>
                    <span>【博时<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
            </ul>
    </div>
    <div class="module-collect-zt list mt15">
            <h1>资讯</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
               <li>
                   <span>【东方财富】</span>
                   <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>多少<em>黄金</em>?</a>
                   <p>
                       <span>2020年03月20日</span>
                   </p>
               </li>
               <li>
                    <span>【赤峰<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
                <li>
                    <span>【博时<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
            </ul>
    </div>
    <div class="module-collect-zt list mt15 ml10">
            <h1>专题</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
               <li>
                   <span>【东方财富】</span>
                   <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>多少<em>黄金</em>?</a>
                   <p>
                       <span>2020年03月20日</span>
                   </p>
               </li>
               <li>
                    <span>【赤峰<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
                <li>
                    <span>【博时<em>黄金</em>】</span>
                    <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                    <p>
                        <span>2020年03月20日</span>
                    </p>
                </li>
            </ul>
    </div>
    <div class="module-collect-bk list mt15 ml10">
            <h1>博客</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
                    <li class="clearfix">
                            <div class="fl">
                                <a href="#" class="name">
                                    <img src="http://avator.eastmoney.com/qface/5866094544085574/120" class="tx">
                                </a>
                            </div>
                            <div class="fl ml5">
                                <span>【作者：天天曼云菲】</span>
                                <a href="#"><em>黄金</em>入门：什么是现货，<em>黄金</em>T+D</a>
                                <p><span>2020年03月20日</span></p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                <a href="#" class="name">
                                    <img src="http://avator.eastmoney.com/qface/7973113625132536/120" class="tx">
                                </a>
                            </div>
                            <div class="fl ml5">
                                <span>【作者：天天曼云菲】</span>
                                <a href="#"><em>黄金</em>入门：什么，<em>黄金</em>T+D</a>
                                <p><span>2020年03月20日</span></p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                <a href="#" class="name">
                                    <img src="http://avator.eastmoney.com/qface/1618355667906122/120" class="tx">
                                </a>
                            </div>
                            <div class="fl ml5">
                                <span>【作者：天天曼云菲】</span>
                                <a href="#"><em>黄金</em>入门：什么<em>黄金</em>T+D</a>
                                <p><span>2020年03月20日</span></p>
                            </div>
                        </li>
            </ul>
    </div>
    <div class="module-collect-jgdy list mt15">
            <h1>机构调研</h1>
            <a href="#" class="getmore">更多黄金相关公告&gt;&gt;</a>
            <ul>
                    <li>
                            <span>【东方财富】</span>
                            <a href="#">南非<em>黄金</em>矿日产300吨<em>黄金</em>多少<em>黄金</em>?</a>
                            <p>
                                <span>2020年03月20日</span>
                            </p>
                        </li>
                        <li>
                             <span>【赤峰<em>黄金</em>】</span>
                             <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                             <p>
                                 <span>2020年03月20日</span>
                             </p>
                         </li>
                         <li>
                             <span>【博时<em>黄金</em>】</span>
                             <a href="#">600988:赤峰<em>黄金</em>股东集中竞价减持股份进展公告</a>
                             <p>
                                 <span>2020年03月20日</span>
                             </p>
                         </li>
            </ul>
    </div>