<div class="search-result-module-others">
        <div class="search-result-module-title clearfix">
                <span><em>黄金</em>其它相关信息</span>
                <a href="#" class="newsa">买不到牛股？立即查看哪些板块正被机构盯上</a>
                <a href="#" class="newsa">人民币贬值受惠</a>
                <a href="#" class="newsa">稀缺资源</a>
                <a href="#" class="newsa">小金属概念</a>
        </div>
        <div class="clearfix">
            <%-include('newslist.ejs')%> 
        </div>
        <div class="clearfix hd">
            <div class="module-collect-theme fl">
                <h1 class="ico">
                    <a href="#">主题</a>
                </h1>
                <div class="repres">
                    <em>黄金</em>
                    <i>贵金属</i>
                    <span>避险必备!贵金属,乱世买黄金,局势动荡,美联储加息美联储加息</span>
                </div>
                <div class="subpower hd">
                    <em>黄金</em>
                    <i>金属</i>
                    <span>避险必备!贵金属,乱世买黄金,局势动荡,美联储加息美联储加息</span>
                </div>
            </div>
            <div class="module-collect-ht ml10 fl">
                <h1 class="ico">
                    <a href="#">话题</a>
                </h1>
            </div>
        </div>
</div>