<div class="jifen-mx">
    <table>
        <thead>
            <tr>
                <th>时间</th>
                <th>备注</th>
                <th>积分数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>网站日常任务：浏览网站五篇资讯</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>进阶任务：通行证用户绑定手机号</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
            <tr>
                <td>2019-10-23 15:47</td>
                <td>签到</td>
                <td>+3分</td>
            </tr>
        </tbody>
    </table>
</div>