<!-- 关键字相关百科 -->
<div class="entry-baike" data-keywords-mark="true">
    <a href="#" class="tit">赤峰吉隆黄金矿业股份有限公司</a>
    <p>A股上市公司：赤峰黄金(600988)赤峰吉隆黄金矿业股份有限公司(以下简称“赤峰黄金”或“公司”)是上海证券交易所A股主板上市公司,股票代码600988......</p>
    <p>
        <a target="_blank" href="http://f10.eastmoney.com/f10_v2/CompanySurvey.aspx?code=sh601069">公司简介</a>
        <a target="_blank" href="http://f10.eastmoney.com/CompanyBigNews/Index?type=web&amp;code=sh601069">公司大事</a>
        <a target="_blank" href="http://f10.eastmoney.com/CoreConception/Index?type=web&amp;code=sh601069">核心题材</a>
        <a target="_blank" href="http://f10.eastmoney.com/CapitalStockStructure/Index?type=web&amp;code=sh601069">股本结构</a>
        <a target="_blank" href="http://f10.eastmoney.com/CompanyManagement/Index?type=web&amp;code=sh601069">公司高管</a>
        <a target="_blank" href="http://f10.eastmoney.com/NewFinanceAnalysis/Index?type=web&amp;code=sh601069">财务分析</a>
        <a target="_blank" href="http://baike.eastmoney.com/item/%E8%A5%BF%E9%83%A8%E9%BB%84%E9%87%91%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8">更多</a>
    </p>
</div>