                          
<!-- 关键字相关板块概念 -->
<div class="entry-bk">
    <div class="search-result-module-title clearfix">
            <span><em>黄金</em>相关板块</span>
            <a href="#" class="newsa">有色冶炼加工</a>
            <a href="#" class="newsa">人民币贬值受惠</a>
            <a href="#" class="newsa">稀缺资源</a>
            <a href="#" class="newsa newsa2">更多</a>
    </div>
    <div class="entry-bk-cont clearfix">
        <div class="entry-bk-cont-dv clearfix">
            <div class="dvname clearfix">
                <a href="#">黄金概念-BK0547</a>
                <span class="price up">1600.54</span>
                <span class="price up">4.45%</span>
                <span class="rank">板块排名：12</span>
            </div>
            <div class="dvsj">
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>今开：</span>
                        <span class="up">35220.24</span>
                    </p>
                    <p class="clearfix fr">
                        <span>最高：</span>
                        <span class="up">35220.24</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>昨收：</span>
                        <span class="up">35220.24</span>
                    </p>
                    <p class="clearfix fr">
                        <span>最低：</span>
                        <span class="down">35220.24</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>量比：</span>
                        <span>1:1</span> 
                    </p>
                    <p class="clearfix fr">
                        <span>换手：</span>
                        <span>35.32%</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>成交额：</span>
                        <span>500亿</span>
                    </p>
                    <p class="clearfix fr">
                        <span>成交量：</span>
                        <span>555亿</span>
                    </p>
                </div>
            </div>
            <div class="dvlx">
                <table>
                    <thead>
                        <tr>
                            <th>排行</th>
                            <th>名称</th>
                            <th>净流入</th>
                            <th>涨跌幅</th>
                            <th>相关</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="#">赤峰黄金</a>
                            </td>
                            <td class="up">+3125.52万</td>
                            <td class="up">+6.34%</td>
                            <td>
                                <a href="#">[股吧]</a>
                                <a href="#">[数据]</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">赤峰黄金</a></td>
                            <td class="up">+3125.52万</td>
                            <td class="up">+6.34%</td>
                            <td>
                                <a href="#">[股吧]</a>
                                <a href="#">[数据]</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">赤峰黄金</a></td>
                            <td class="down">-3125.52万</td>
                            <td class="down">-6.34%</td>
                            <td>
                                <a href="#">[股吧]</a>
                                <a href="#">[数据]</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="#">赤峰黄金</a></td>
                            <td class="down">-3125.52万</td>
                            <td class="down">-6.34%</td>
                            <td>
                                <a href="#">[股吧]</a>
                                <a href="#">[数据]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="entry-bk-cont-tx clearfix">
            <div class="txdraw clearfix">
                    <div class="fst">
                        <a href="#" target="_blank"><img  src="http://webquotepic.eastmoney.com/GetPic.aspx?token=44c9d251add88e27b65ed86506f6e5da&nid=90.BK0547&type=r&imageType=rs&_=1589535066339"></a>
                    </div>
            </div>
            <div class="txtzjl">
                <a href="#" class="zjlimg" target="_blank"><img  src="http://hq2qt.eastmoney.com/EM_CapitalPictureProducter/Picture/547rs.png"></a>
            </div>
            <p class="fz12">北京时间：2020-03-21&nbsp;19:35:11</p>
        </div>
    </div>
</div>