                          
<!-- 关键字相关板块概念 -->
<div class="entry-bk">
    <div class="search-result-module-title clearfix">
            <span><em>黄金</em>相关板块</span>
            <a href="#" class="newsa">有色冶炼加工</a>
            <a href="#" class="newsa">人民币贬值受惠</a>
            <a href="#" class="newsa">稀缺资源</a>
            <a href="#" class="newsa newsa2">更多</a>
    </div>
    <div class="entry-bk-cont clearfix">
        <div class="entry-bk-cont-dv clearfix">
            <div class="dvname clearfix">
                <a href="#">黄金概念-BK0547</a>
                <div class="hq">
                    <i></i>
                    <p class="up">1600.54</p>
                    <span class="up">4.45%</span>
                </div>
            </div>
            <div class="dvsj">
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>今开：</span>
                        <span class="up">35220.24</span>
                    </p>
                    <p class="clearfix fr">
                        <span>最高：</span>
                        <span class="up">35220.24</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>昨收：</span>
                        <span class="up">35220.24</span>
                    </p>
                    <p class="clearfix fr">
                        <span>最低：</span>
                        <span class="down">35220.24</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>量比：</span>
                        <span>1:1</span> 
                    </p>
                    <p class="clearfix fr">
                        <span>换手：</span>
                        <span>35.32%</span> 
                    </p>
                </div>
                <div class="tb clearfix">
                    <p class="clearfix fl">
                        <span>成交额：</span>
                        <span>500亿</span>
                    </p>
                    <p class="clearfix fr">
                        <span>成交量：</span>
                        <span>555亿</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="entry-bk-cont-tx clearfix">
            <div class="txdraw clearfix">
                    <div class="fst">
                        <a href="#" target="_blank"><img  src="http://webquotepic.eastmoney.com/GetPic.aspx?token=44c9d251add88e27b65ed86506f6e5da&nid=90.BK0547&type=r&imageType=rs&_=1589535066339"></a>
                    </div>
            </div>
            <div class="txtzjl">
                <a href="#" class="zjlimg" target="_blank"><img  src="http://hq2qt.eastmoney.com/EM_CapitalPictureProducter/Picture/547rs.png"></a>
            </div>
        </div>
    </div>
</div>