<div class="entry-tools">
    <!-- <div>height: 30px;
        font-size: 14px;
        background: linear-gradient(45deg, #a92dbf, #ec5200);
        color: #fff;
        padding: 0 10px; -->
        <button>黄金价格换算</button>
        <button>汇率换算</button>
    </div>
<div>
    <div class="entry-tools-change">
        <div class="mb5">
         <p class="tit">*黄金：1盎司=31.3113克</p>
         <div class="mt5 clearfix">
             <input type="text" class="entry-tools-change-input" placeholder="输入价格">
             <select class="entry-tools-change-select">
                 <option>美元/盎司</option>
                 <option>人民币/克</option>
             </select>
             <div class="entry-tools-change-button">
                 <button>换算</button>
             </div>
         </div>
         <div class="entry-tools-change-result">
             <p class="clearfix">
                 <span class="sp1">1578.25</span>
                 <span>人民币/克</span>
             </p>
         </div>
        </div>
        <div class="entry-tools-change-rate">
         <p class="tit">*人民币：1元人民币=0.74美元</p>
         <div class="mt5 clearfix">
             <input type="text" class="entry-tools-change-input" placeholder="输入价格">
             <select class="entry-tools-change-select">
                 <option>美元</option>
                 <option>人民币</option>
                 <option>欧元</option>
                 <option>英镑</option>
                 <option>日元</option>
                 <option>韩元</option>
                 <option>泰铢</option>
                 <option>越南盾</option>
             </select>
             <i class="exi"></i>
             <select class="entry-tools-change-select">
                 <option>人民币</option>
                 <option>美元</option>
                 <option>欧元</option>
                 <option>英镑</option>
                 <option>日元</option>
                 <option>韩元</option>
                 <option>泰铢</option>
                 <option>越南盾</option>
             </select>
             <div class="entry-tools-change-button">
                 <button>换算</button>
             </div>
         </div>
         <div class="entry-tools-change-result">
             <p class="clearfix">
                 <span class="sp1">55877.342</span>
                 <span>人民币元</span>
             </p>
         </div>
        </div>
     </div>
     <h1>*数据仅供参考，交易时以银行柜台成交价为准 更新时间:2020-05-22 16:40</h1>
</div>
</div>