<!-- 关键字相关基金 -->
<div class="entry-fund">
    <div class="search-result-module-title clearfix">
        <span><em>黄金</em>相关基金</span>
        <a href="#" class="newsa">高收益基金</a>
        <a href="#" class="newsa">一天卖50亿爆款基金</a>
        <a href="#" class="newsa">基金一年最高超涨120%</a>
        <a href="#" class="newsa newsa2">更多</a>
    </div>
    <div class="entry-fund-cont">
        <table>
            <thead>
                <tr>
                    <th>代码</th>
                    <th class="wd147">名称</th>
                    <th>单位净值</th>
                    <th>近一月</th>
                    <th>近一年</th>
                    <th>成立来</th>
                    <th>类型</th>
                    <th>风险等级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>000307</td>
                    <td><a href="#">易方达黄金ETF联接A</a></td>
                    <td>
                        <span class="c000">1.1186</span>
                        <span class="c80">05-18</span>
                    </td>
                    <td class="up">+2.16%</td>
                    <td class="down">-12.16%</td>
                    <td class="up">+332.57%</td>
                    
                    <td><a href="#">联接基金</a></td>
                    <td>高风险</td>
                    <td><a href="#">购买</a></td>
                </tr>
                <tr>
                    <td>000307</td>
                    <td><a href="#">华安黄金易ETF联接A</a></td>
                    <td>
                        <span class="c000">1.1186</span>
                        <span class="c80">05-18</span>
                    </td>
                    <td class="up">+2.16%</td>
                    <td class="down">-12.16%</td>
                    <td class="up">+332.57%</td>
                    
                    <td><a href="#">联接基金</a></td>
                    <td>高风险</td>
                    <td><a href="#">购买</a></td>
                </tr>
                <tr>
                    <td>000307</td>
                    <td><a href="#">易方达黄金ETF联接G</a></td>
                    <td>
                        <span class="c000">1.1186</span>
                        <span class="c80">05-18</span>
                    </td>
                    <td class="up">+2.16%</td>
                    <td class="down">-12.16%</td>
                    <td class="up">+332.57%</td>
                    
                    <td><a href="#">联接基金</a></td>
                    <td>高风险</td>
                    <td><a href="#">购买</a></td>
                </tr>
                <tr>
                    <td>000307</td>
                    <td><a href="#">易方达黄金ETF联接C</a></td>
                    <td>
                        <span class="c000">1.1186</span>
                        <span class="c80">05-18</span>
                    </td>
                    <td class="up">+2.16%</td>
                    <td class="down">-12.16%</td>
                    <td class="up">+332.57%</td>
                    
                    <td><a href="#">联接基金</a></td>
                    <td>高风险</td>
                    <td><a href="#">购买</a></td>
                </tr>
                <tr>
                    <td>000307</td>
                    <td><a href="#">博时黄金ETF联接A</a></td>
                    <td>
                        <span class="c000">1.1186</span>
                        <span class="c80">05-18</span>
                    </td>
                    <td class="up">+2.16%</td>
                    <td class="down">-12.16%</td>
                    <td class="up">+332.57%</td>
                    
                    <td><a href="#">联接基金</a></td>
                    <td>高风险</td>
                    <td><a href="#">购买</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>