<!-- 关键字相关期货 -->
    <div class="entry-qh">
            <div class="search-result-module-title clearfix">
                    <span><em>黄金</em>相关期货</span>
                    <a href="#" class="newsa">黄金十年大周期</a>
                    <a href="#" class="newsa">昨晚被空头打包仓</a>
                    <a href="#" class="newsa">黄金会不会回调</a>
                    <a href="#" class="newsa newsa2">更多</a>
            </div>
            <div class="entry-qh-inter">
                <h1 class="tit">
                    <i class="img-inter"></i>
                    <a href="http://quote.eastmoney.com/center/gridlist.html#nobalmetal_futures" class="more" target="_bank">国际贵金属期货</a>
                </h1>
                <div class="entry-qh-inter-quote">
                    <div class="clearfix mb hd20">
                        <div class="entry-qh-item">
                            <div class="qh-head">
                                <img src="../images/ico/usa.png" class="qh-place">
                                <span class="qh-place">纽交所</span>
                                <a href="#" class="tit">COMEX黄金(GC00Y)</a>
                                <span class="isdell">交易中</span>
                            </div>
                            <div class="qh-list">
                                <div class="qh-list-cont">
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>今开：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最高：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>昨收：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最低：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>成交：</span>
                                            <span>100.32万(手)</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>持仓：</span>
                                            <span>100.16万(手)</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>仓差：</span>
                                            <span>-5</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>日增：</span>
                                            <span class="red">+1534</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>外盘：</span>
                                            <span class="green">5.10万</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>内盘：</span>
                                            <span class="red">15.32万</span>
                                        </p>
                                    </div>
                                    <div class="mb hd bckup clearfix">
                                        <i ></i>
                                        <p>1600.54</p>
                                        <span>-4.45%</span>
                                        <span>1.83</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="entry-qh-draw">
                            <img src="http://webquotepic.eastmoney.com/GetPic.aspx?nid=101.GC00Y&imageType=rs">
                            <p>纽约时间：2020-03-25&nbsp;19:31:58</p>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="entry-qh-china">
                <h1 class="tit">
                    <i class="img-sh"></i>
                    <a href="http://quote.eastmoney.com/center/gridlist.html#gold_sh_futures" class="more" target="_bank">上海黄金期货</a>
                </h1>
                <div class="entry-qh-sh-quote">
                    <div class="clearfix mb hd20">
                        <div class="entry-qh-item clearfix">
                            <div class="qh-head">
                                <img src="../images/ico/china.png" class="qh-place">
                                <span class="qh-place">上期所</span>
                                <a href="#" class="tit">沪金主力(AUM)</a>
                                <span class="isdell">开市中</span>
                            </div>
                            <div class="qh-list">
                                <div class="qh-list-cont">
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>今开：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最高：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>昨收：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最低：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>成交：</span>
                                            <span>100.32万(手)</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>持仓：</span>
                                            <span>100.16万(手)</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>仓差：</span>
                                            <span>-5</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>日增：</span>
                                            <span class="red">+1534</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>外盘：</span>
                                            <span class="green">5.10万</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>内盘：</span>
                                            <span class="red">15.32万</span>
                                        </p>
                                    </div>
                                    <div class="mb hd bckdown clearfix">
                                        <i ></i>
                                        <p>1600.54</p>
                                        <span>-4.45%</span>
                                        <span>1.83</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="entry-qh-draw">
                            <img src="http://webquotepic.eastmoney.com/GetPic.aspx?nid=101.GC00Y&imageType=rs">
                            <p>北京时间：2020-03-25&nbsp;19:31:58</p>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="entry-qh-china">
                <h1 class="tit">
                    <i class="img-sh"></i>
                    <a href="http://quote.eastmoney.com/center/gridlist.html#gold_sh_futures" class="more" target="_bank">上海黄金现货</a>
                </h1>
                <div class="entry-qh-sh-quote">
                    <div class="clearfix mb hd20">
                        <div class="entry-qh-item clearfix">
                            <div class="qh-head">
                                <img src="../images/ico/china.png" class="qh-place">
                                <span class="qh-place">上金所</span>
                                <a href="#" class="tit">黄金T+D(AUTD)</a>
                                <span class="isdell">开市中</span>
                            </div>
                            <div class="qh-list">
                                <div class="qh-list-cont">
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>今开：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最高：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>昨收：</span>
                                            <span class="down">1600.33</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>最低：</span>
                                            <span class="down">1600.33</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>成交：</span>
                                            <span>100.32万(手)</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>持仓：</span>
                                            <span>100.16万(手)</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>仓差：</span>
                                            <span>-5</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>日增：</span>
                                            <span class="red">+1534</span>
                                        </p>
                                    </div>
                                    <div class="tb clearfix">
                                        <P class="clearfix fl">
                                            <span>外盘：</span>
                                            <span class="green">5.10万</span>
                                        </P>
                                        <p class="clearfix fr">
                                            <span>内盘：</span>
                                            <span class="red">15.32万</span>
                                        </p>
                                    </div>
                                    <div class="mb hd bckdown clearfix">
                                        <i ></i>
                                        <p>1600.54</p>
                                        <span>-4.45%</span>
                                        <span>1.83</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="entry-qh-draw">
                            <img src="http://webquotepic.eastmoney.com/GetPic.aspx?nid=101.GC00Y&imageType=rs">
                            <p>北京时间：2020-03-25&nbsp;19:31:58</p>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="module-qh-more hd">
                <a href="#">更多黄金品种</a>
                <a href="#">更多期货行情</a>
                <a href="#">东方财富期货APP</a>
                <a href="#"><img src="https://q1s.dfcfw.com/webpages/static/img/code.3dde5c0.png" width="72" height="62"></a>
            </div>
    </div>
