<!-- 关键字相关股吧讨论 -->
<div class="entry-talk a-stock-cbbox" data-keywords-mark="true">
    <h1>〓最新导读</h1>
    <div>
        <a href="#">黄金今晚就不做单了，虽然盘面有要反弹的迹象，但是不</a>
        <span>1天前</span>
    </div>
    <div>
        <a href="#">黄金在1738-1740做空下来，止损1745上方，目标看破1743</a>
        <span>1天前</span>
    </div>
    <div>
        <a href="#">赤峰黄金从技术面来看，黄金日线昨日收小阳K</a>
        <span>3天前</span>
    </div>
    <div>
        <a href="#">黄金基金吸金破纪录 只因实物支持</a>
        <span>1小时前</span>
    </div>
    <div>
        <a href="#">听了鬼的话，昨天买了黄金今天开盘暴跌</a>
        <span>5天前</span>
    </div>
</div>