<!-- 关键字其它相关 -->
<div class="entry-others">
    <div class="search-result-module-title clearfix">
        <span><em>黄金</em>其它相关</span>
        <a href="#" class="newsa">黄金ETF吸金破纪录 因实物支持</a>
        <a href="#" class="newsa">金价飙升 黄金交易火爆</a>
        <a href="http://data.eastmoney.com/cjsj/foreign_0_2.html" class="newsa">全球经济数据</a>
        <a href="http://gold.eastmoney.com/" class="newsa newsa2">更多</a>
    </div>
    <div class="a-stock-cbbox">
    <% if (data.c=="黄金"||data.c=="美元"||data.c=="石油"||data.c=="原油") { %>
     <div class="entry-others-special">
         <div class="top clearfix">
            <div class="item">
                <a href="http://quote.eastmoney.com/gb/zsUDI.html" class="speup" target="_blank">美元指数(UDI)</a>
                <p>
                    <span class="up2">261.51</span>
                    <span class="sp1"></span>
                </p>
                <p>
                    <span class="up2">0.06</span>
                    <span class="up2">7.06%</span>
                </p>
             </div>
             <div class="item">
                <a href="http://quote.eastmoney.com/globalfuture/CL00Y.html" class="spedown" target="_blank">NYMEX原油(CL00Y)</a>
                <p>
                    <span class="down2">261.51</span>
                    <span class="sp2"></span>
                </p>
                <p>
                    <span class="down2">0.06</span>
                    <span class="down2">7.06%</span>
                </p>
             </div>
             <div class="item">
                <a href="http://quote.eastmoney.com/globalfuture/BC.html" class="speup" target="_blank">布伦特原油当月连续(BC)</a>
                <p>
                    <span class="up2">31.51</span>
                    <span class="sp1"></span>
                </p>
                <p>
                    <span class="up2">0.06</span>
                    <span class="up2">7.06%</span>
                </p>
             </div>
             <div class="item">
                <a href="http://quote.eastmoney.com/forex/USDCNH.html" class="spedown" target="_blank">美元离岸人民币(USDCNH)</a>
                <p>
                    <span class="down2">31.51</span>
                    <span class="sp2"></span>
                </p>
                <p>
                    <span class="down2">0.06</span>
                    <span class="down2">7.06%</span>
                </p>
             </div>
             <div class="item">
                <a href="http://quote.eastmoney.com/cnyrate/USDCNYC.html" class="spedown" target="_blank">美元人民币中间价(USDCNYC)</a>
                <p>
                    <span class="down2">31.51</span>
                    <span class="sp2"></span>
                </p>
                <p>
                    <span class="down2">0.06</span>
                    <span class="down2">7.06%</span>
                </p>
             </div>
             <div class="item">
                <a href="http://data.eastmoney.com/cjsj/foreign_0_2.html" class="spedown" target="_blank">美国非农就业人数变化</a>
                <p>
                    <span class="eee">-2500.11</span>
                    <span class="eee">万</span>
                </p>
                <p class="eee">2020-04</p>
             </div>
         </div>
        <div class="middle clearfix">
            <ul>
                <li>
                    <div>
                       <a href="http://finance.eastmoney.com/a/202005251496260026.html" target="_blank">人民币兑美元中间价下调270点 报7.1209</a>
                    </div>
                    <div>
                       <span>2020年05月25日 09:15</span>
                       <span>来源：第一财经</span>
                    </div>
                </li>
                <li>
                   <div>
                      <a href="http://finance.eastmoney.com/a/202005251496260026.html" target="_blank">两大央行利率决议来袭 欧盟复苏基金能否闯关成功是焦点！</a>
                   </div>
                   <div>
                      <span>2020年05月25日 08:33</span>
                      <span>来源：汇通网</span>
                   </div>
               </li>
               <li>
                   <div>
                      <a href="http://forex.eastmoney.com/a/202005251496129648.html" target="_blank">一周展望：冒险追涨VS匆忙退场 高压之下 极端行情在潜伏</a>
                   </div>
                   <div>
                      <span>2020年05月25日 08:42</span>
                      <span>来源：金十数据</span>
                   </div>
               </li>
               <li>
                   <div>
                      <a href="http://finance.eastmoney.com/a/202005251496098349.html" target="_blank">葡萄牙财长支持德法设立5000亿欧元复苏基金倡议</a>
                   </div>
                   <div>
                      <span>2020年05月25日 07:49</span>
                      <span>来源：界面新闻</span>
                   </div>
               </li>
               <li>
                   <div>
                      <a href="http://finance.eastmoney.com/a/202005251495953913.html" target="_blank">人民币围绕7.1小幅波动 出口回暖汇率预期稳定</a>
                   </div>
                   <div>
                      <span>2020年05月25日 04:54</span>
                      <span>来源：<a href="https://media.eastmoney.com/p/diyicaijingribao" target="_blank">第一财经日报</a></span>
                   </div>
               </li>
               <li>
                   <div>
                      <a href="http://forex.eastmoney.com/a/202005251496125957.html" target="_blank">外汇早餐——你每日必备的交易攻略(5月25日)</a>
                   </div>
                   <div>
                      <span>2020年05月25日 08:37</span>
                      <span>来源：环球外汇网</span>
                   </div>
               </li>
            </ul>
        </div>
        <div class="bottom clearfix">
          <div class="item">
              <a href="#">周大福</a>
          </div>
        </div>
     </div>
    <% } %>
    <div class="entry-others-normal" data-keywords-mark="true">
        <div class="item clearfix">
            <div class="title">
                <a href="http://quote.eastmoney.com/zhuti/subject/110002003001" target="_blank">话题</a>
            </div>
            <div class="cont">
                <div class="dvhf">
                    <a href="#">#超级金属价格比肩黄金#</a>
                </div>
                <div class="dvhf clearfix">
                    <div class="fl">
                        <img src="http://gbres.dfcfw.com/Files/picture/20170904/7B9DD06C240D7FE96E4918168707F80A.jpg" width="120px" height="90px">
                    </div>
                   <div class="fr wd420">
                    资料显示，铼是人类发现最晚的天然元素，它在地壳中的含量比所有的稀土元素都小，比钻石更难以获取。根据美国地质调查局的报告，全球探明的铼储量仅为2500吨左右，铼的价格跟白金的价格相仿，一克大概需要两三百块钱。
                   </div>
                </div>
                <div class="dchf">
                    其它相关话题：<a href="#" class="mr5">#天然气发展进入黄金期#</a><a href="#" class="mr5">#黄金概念避险作用明显#</a><a href="#">更多</a>
                </div>
            </div>
        </div>
        <div class="item clearfix">
            <div class="title">
                <a href="http://quote.eastmoney.com/zhuti/subject/110002003001" target="_blank">主题投资</a>
            </div>
            <div class="cont">
                <div class="dvhf">
                    <a href="#">#避险必备!贵金属,乱世买黄金,局势动荡,美联储加息,美元负相关。#</a>
                </div>
                <div class="dvhf">
                    现货黄金站上1710美元 创2012年12月以来新高
                </div>
                <div class="dchf">
                    其它相关主题投资：<a href="#" class="mr5">#美联储再次紧急降息#</a><a href="#" class="mr5">#小金属迎来大机会#</a><a href="#">更多</a>
                </div>
            </div>
        </div>
        <div class="item clearfix">
            <div class="title">
                <a href="http://quote.eastmoney.com/zhuti/subject/110002003001" target="_blank">机构调研</a>
            </div>
            <div class="cont">
                <div class="dvhf">
                    <a href="#">#湖南黄金#2018年5月23日,接待海通证券等多家机构调研</a>
                </div>
                <div class="dvhf">
                    时进行兑付。 2. 公司资产重组业绩承诺情况? 答:公司资产重组业绩承诺于2017年完成,控股股东湖南黄金集团有限责任公司承诺业绩承诺标的资产黄金洞矿业在2014年、2015年、2016年、2017年...
                </div>
                <div class="dchf">
                    其他相关调研：<a href="#" class="mr5">#金一文化#2017年01月11日,接待机构等多家机构调研</a><a href="#">更多</a>
                </div>
            </div>
        </div>
        <div class="item clearfix">
            <div class="title">
                <a href="http://quote.eastmoney.com/zhuti/subject/110002003001" target="_blank">投资组合</a>
            </div>
            <div class="cont">
                <div class="entry-others-normal-combe">
                    <div class="list">
                        <table>
                            <thead>
                                <tr>
                                    <th>组合名称</th>
                                    <th>总收益</th>
                                    <th>关联股票</th>
                                    <th>盈亏比</th>
                                    <th>管理人</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">qinqinyong</a>
                                    </td>
                                    <td>1987.54%</td>
                                    <td>
                                        <a href="#">湖南黄金</a>
                                    </td>
                                    <td>36盈15亏</td>
                                    <td>我只卖黄金</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">qinqinyong</a>
                                    </td>
                                    <td>1987.54%</td>
                                    <td>
                                        <a href="#">湖南黄金</a>
                                    </td>
                                    <td>36盈15亏</td>
                                    <td>我只卖黄金</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">qinqinyong</a>
                                    </td>
                                    <td>1987.54%</td>
                                    <td>
                                        <a href="#">湖南黄金</a>
                                    </td>
                                    <td>36盈15亏</td>
                                    <td>我只卖黄金</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>