
<!-- 关键字相关股票 -->
<div class="entry-stock">
    <div class="search-result-module-title clearfix">
        <span><em>黄金</em>相关股票</span>
        <a href="#" class="newsa">赤峰黄金遭大股东减持</a>
        <a href="#" class="newsa">国际金价多头持续升温</a>
        <a href="#" class="newsa">黄金会不会回调</a>
        <a href="#" class="newsa newsa2">更多</a>
</div>
<div class="entry-stock-table">
    <table>
        <thead>
            <th>名称\代码</th>
            <th>现价</th>
            <th>涨跌幅</th>
            <th>成交量</th>
            <th>换手率</th>
            <th>相关</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../images/ico/hot.png" class="hot" title="热门股票">
                    <a href="#" title="查看详细行情">
                        <span>赤峰黄金</span>
                        <span>SH.600988</span>
                    </a>
                    <i class="zbg">沪深300指标股</i>
                </td>
                <td class="red">86.6</td>
                <td class="red">+10.00%</td>
                <td>120亿元</td>
                <td>14.33%</td>
                <td>
                    <a href="#">[股吧]</a>
                    <a href="#">[问董秘]</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" title="查看详细行情">
                        <span>平安证券集团控股</span>
                        <span>HK.600547</span>
                    </a>
                </td>
                <td class="red" title="港元">34.6(HKD)</td>
                <td class="red">+7.00%</td>
                <td>120亿元</td>
                <td>14.33%</td>
                <td>
                    <span class="nomore">-</span>
                </td>
            </tr>
            <tr>
                    <td>
                        <a href="#" title="查看详细行情">
                            <span>园城黄金</span>
                            <span>SH.600123</span>
                        </a>
                        <i class="zbg">上证50指标股</i>
                    </td>
                    <td class="red">14.6</td>
                    <td class="red">+4.00%</td>
                    <td>10亿元</td>
                    <td>0.33%</td>
                    <td>
                        <a href="#">[股吧]</a>
                        <a href="#">[问董秘]</a>
                    </td>
                </tr>
                <tr>
                        <td>
                            <a href="#" title="查看详细行情">
                                <span>西部黄金</span>
                                <span>SH.600147</span>
                            </a>
                        </td>
                        <td class="red">11.23</td>
                        <td class="red">+1.05%</td>
                        <td>120亿元</td>
                        <td>33.98%</td>
                        <td>
                            <a href="#">[股吧]</a>
                            <a href="#">[问董秘]</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" title="查看详细行情">
                                <span>湖南黄金</span>
                                <span>SZ.600888</span>
                            </a>
                        </td>
                        <td class="green">8.31</td>
                        <td class="green">-11.35%</td>
                        <td>120亿元</td>
                        <td>33.98%</td>
                        <td>
                            <a href="#">[股吧]</a>
                            <a href="#">[问董秘]</a>
                        </td>
                    </tr>
        </tbody>
    </table>
    <a href="#" class="stockmore">查看更多“黄金”相关个股&gt;&gt;</a>
</div>

</div>
