<div class='wenda-question clearfix'>
         <div class='t'>
           <span>我回答了</span>
           <span class='xs_money'>$88元</span>
           <span>的悬赏：</span>
           <i class='over alive'>悬赏中</i>
         </div>
         <div class='bcn'>预期上证指数收于3045.66点，大盘小幅震荡整理，成交量萎缩，未来3000点附近震荡整理的概率大。</div>
         <div class='r mt10'>
            <a href='javascript:void(0)'>【火爆悬赏竞猜：7月2日上证指数收盘点位会是多少？简单说下预测理由 1. 竞猜时点位请精确到小数点后两位，当日收盘前半小时停止竞猜】</a>
         </div>
         <div class="ml6 mt10">
            <span class="fz14">阅读(10万)</span>
            <span class="fz14">回答(32)</span>
         </div>
         <div class='ansbq mt10'>
             <span class='c80'>2019-07-01 14:21:43</span>
         </div>
</div>
<div class='wenda-question clearfix'>
    <div class='t'>
      <span>我回答了</span>
      <span class='xs_money'>$8元</span>
      <span>的悬赏：</span>
      <i class='over'>被采纳</i>
    </div>
    <div class='bcn'>“现在的情况，短期不适宜交易，容易踏空！持股观望，才是理想！”</div>
    <div class='r mt10'>
       <a href='javascript:void(0)'>【603915国茂股份 成本22.26 套6个多点 请问老师明后几天怎样操作 后市如何 谢谢】</a>
    </div>
    <div class="ml6 mt10">
        <span class="fz14">阅读(10万)</span>
        <span class="fz14">回答(32)</span>
    </div>
    <div class='ansbq mt10'>
        <span class='c80'>2019-07-01 14:21:43</span>
    </div>
</div>
<div class='wenda-question clearfix'>
    <div class='t'>
      <span>我回答了</span>
      <span class='xs_money'>$81元</span>
      <span>的悬赏：</span>
      <i class='over'>悬赏结束</i>
    </div>
    <div class='bcn'>市场在完成两个5分钟中枢后，随着c段的背驰，开启了下跌的走势。本人财富号文章早就提到了风险，一直跟踪本人的粉丝都可以验证。关于其中的技术原理，也分析的不能再详细了。对于这个区域而言，仓位必须严格控制，最多三成。 投资就是做大概率的事，当风险明显高于机会的时候，必须选择轻仓操作。如果技术水平有限，甚至可以选择空仓。做大概率的事，短期风险非常大的几根阳线错过了，你没有多大损失。一旦在风险区，重仓参与出现大幅回调，再想挽回本金都是比较难受的事。 经过这三天的回调走势，短期看不出反转的信号。所以操作上还是建议控制好仓位，轻仓短线。宁可不做，也不做错！这就是风险控制，这就是巴菲特强调的保住本金！ 关于热点，相信很多人已经被热点打脸了。本人昨天在文章中说了一下大消费板块的看法，很凑巧今天这个板块就跌给大家看了。板块本身没问题，就看你如何选时了。越热的板块，就要越冷静，而越冷的板块，就是要持续关注，寻找它的转暖信号，逐步的完成建仓！真正等到人家飞黄腾达的时候，很有可能跟不上它的节奏了。节奏乱了，盈利就没有保证了。最后祝各位投资愉快！</div>
    <div class='r mt10'>
       <a href='javascript:void(0)'>【周一大涨之后A股已连续调整了3天，究竟还要调整多久？热点全面熄火，后市该关注那些潜力板块？】</a>
    </div>
    <div class="ml6 mt10">
        <span class="fz14">阅读(10万)</span>
        <span class="fz14">回答(32)</span>
    </div>
    <div class='ansbq mt10'>
        <span class='c80'>2019-07-01 14:21:43</span>
    </div>
</div>