
<div class="wenda-question wenda-message">
    <div class="clearfix">
       <div class="clearfix">
          <i class="bq">系统</i>
          <a href="#" class="sys-result">你的回答被采纳了，获得了<span class="xs_money">$5元</span></a>
       </div>
       <div class="bcn mt10 fz12 hide">#这种调查对股民是没有意义的，因为股民永远是持仓的，6000点、5000点、3200点、2500点，历来如此的。倒是要问问私募、公募、机构、国资、证金、保险、社保、外资们他们准备如何过节！！！#</div>
       <div class="ansbq mt10">
             <span class="c80">2019-07-01 14:21:43</span>
       </div>
    </div>
</div>
<div class="wenda-question wenda-message">
    <div class="clearfix">
       <div class="clearfix">
          <i class="bq">系统</i>
          <a href="#" class="sys-result">你的回答被采纳了，获得了<span class="xs_money">$5元</span></a>
       </div>
       <div class="bcn mt10 fz12 hide">#肯定是在散户中间做的调查，等同于八成散户被套牢。今天是暴跌后的缩量弱反弹，大盘受阻于三十日线，这个阻力位应该过得去，毕竟有周线级别支撑可以挺几天。我上周末就说过下周一，会是红盘，大家等着就好。今天趋势尚好近期抗跌的股票反弹力度最大。银行股不需要稳盘了就调整了，无奈的很，可以买一些长期持有。深度被套的，抢反弹的，我认为可以五成仓位及以下持股过节，规避节日消息面的不确定性，当然满仓被套的可以拿着赌赌运气，个人觉得风险不大。如果有宽松利好或者与彼岸的大进展利好，那你就攒到了，我觉得节后几日风险不大，而出大利好的概率也不大，走着看吧。昨晚又一堆利好，有人说你做梦，一看就是小白，大盘不好当然利好频出，股票大涨可能是做梦，但何时出利好的判断很容易。我认为节前的暴跌部分释放了短期风险，节后会稳定几天，如果没有利好，大盘也突破不了2980，那么就及时逢高减仓吧。周日看看消息面继续跟进。谢谢大家点赞支持，祝福周末快乐，虽然多数人只能休息一天。#</div>
       <div class="ansbq mt10">
             <span class="c80">2019-07-01 14:21:43</span>
       </div>
    </div>
</div>
<div class="wenda-question wenda-message">
   <div class="clearfix">
      <div class="clearfix">
         <i class="bq">系统</i>
         <div class="sys-result">你发布的提问“$中兵红箭(SZ000519)$...”已通过审核。</div>
      </div>
      <div class="bcn mt10 fz12 hide">#肯定是在散户中间做的调查，等同于八成散户被套牢。今天是暴跌后的缩量弱反弹，大盘受阻于三十日线，这个阻力位应该过得去，毕竟有周线级别支撑可以挺几天。我上周末就说过下周一，会是红盘，大家等着就好。今天趋势尚好近期抗跌的股票反弹力度最大。银行股不需要稳盘了就调整了，无奈的很，可以买一些长期持有。深度被套的，抢反弹的，我认为可以五成仓位及以下持股过节，规避节日消息面的不确定性，当然满仓被套的可以拿着赌赌运气，个人觉得风险不大。如果有宽松利好或者与彼岸的大进展利好，那你就攒到了，我觉得节后几日风险不大，而出大利好的概率也不大，走着看吧。昨晚又一堆利好，有人说你做梦，一看就是小白，大盘不好当然利好频出，股票大涨可能是做梦，但何时出利好的判断很容易。我认为节前的暴跌部分释放了短期风险，节后会稳定几天，如果没有利好，大盘也突破不了2980，那么就及时逢高减仓吧。周日看看消息面继续跟进。谢谢大家点赞支持，祝福周末快乐，虽然多数人只能休息一天。#</div>
      <div class="ansbq mt10">
            <span class="c80">2019-07-01 14:21:43</span>
      </div>
   </div>
</div>
<div class="wenda-question wenda-message">
   <div class="clearfix">
      <div class="clearfix">
         <i class="bq">系统</i>
         <div class="sys-result">你发布的提问“$中兵红箭(SZ000519)$...”已被删除，原因是：辱骂谣言删除。</div>
      </div>
      <div class="bcn mt10 fz12 hide">#肯定是在散户中间做的调查，等同于八成散户被套牢。今天是暴跌后的缩量弱反弹，大盘受阻于三十日线，这个阻力位应该过得去，毕竟有周线级别支撑可以挺几天。我上周末就说过下周一，会是红盘，大家等着就好。今天趋势尚好近期抗跌的股票反弹力度最大。银行股不需要稳盘了就调整了，无奈的很，可以买一些长期持有。深度被套的，抢反弹的，我认为可以五成仓位及以下持股过节，规避节日消息面的不确定性，当然满仓被套的可以拿着赌赌运气，个人觉得风险不大。如果有宽松利好或者与彼岸的大进展利好，那你就攒到了，我觉得节后几日风险不大，而出大利好的概率也不大，走着看吧。昨晚又一堆利好，有人说你做梦，一看就是小白，大盘不好当然利好频出，股票大涨可能是做梦，但何时出利好的判断很容易。我认为节前的暴跌部分释放了短期风险，节后会稳定几天，如果没有利好，大盘也突破不了2980，那么就及时逢高减仓吧。周日看看消息面继续跟进。谢谢大家点赞支持，祝福周末快乐，虽然多数人只能休息一天。#</div>
      <div class="ansbq mt10">
            <span class="c80">2019-07-01 14:21:43</span>
      </div>
   </div>
</div>