<div class="main">
        <div class="cont-div">
                <div class="wd1000">
                    <div class="search-result-sum">
                       123
                    </div>
                    <div class="search-result-list">
                        
                    </div>
                </div>
            </div>
    </div>
<%- blockFor("htmlbottom") %>
<script src="../js/quote.js"></script>
