.main{
    width: 100%;
    margin-top: 110px;
    position: relative;
    z-index: 7;
}

.nav-div{
    background: #f7f7f7
}

.nav-div ul{

}

.nav-div li {
    float: left;
    padding:10px 15px;
}

.nav-div li a:hover{
    color:#ec5200;
}

.nav-div li.active{
    background: #ec5200;
}

.nav-div li a{
    font-size: 14px;
}

.nav-div li.active a{
    color:#fff;
}


.cont-div{
    width: 100%;
    margin-top:10px;
    position: relative;
}

.search-result-sum{
    font-size: 15px;
    position: relative;
}

.search-result-sum span{
    font-size: 12px;
    vertical-align: middle
}

.search-result-sum span em{
    color: #ec5200;
    margin-right: 7px;
    font-style: normal;
    letter-spacing: 1px;
}

.search-result-list{
    position: relative;
    margin: 10px auto 0px auto;
}

.search-result-module-qh{
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
}

.search-result-list .search-result-module-title{
    margin-bottom: 5px;
}

.search-result-list .search-result-module-title span{
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    font-size: 17px;
}


.search-result-list .search-result-module-title em{
    font-style: normal;
    color: red;
}

.search-result-list .search-result-module-title a.newsa{
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: underline;
    margin-top: 6px;
    color: #004a99;
}

.search-result-list .search-result-module-title a:hover{
    color:#ec5200;
    transition: 0.3s;
}

.module-qh-item{
    width: 260px;
    float: left;
    margin-right: 10px;
    position: relative;
    /* border: 2px solid #0063ca; */
}

.module-qh-item .qh-head{
    width: 100%;
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
}


.module-qh-item .qh-head .bq{
    display: none;
    position: absolute;
    top: -22px;
    left: 0px;
    color: #fff;
    z-index: 3;
    font-size: 12px;
    font-style: normal;
    background: #003369;
    padding: 3px 5px;
}

.module-qh-item .qh-head a.tit{
    font-size: 12px;
    display: block;
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    color: #004a99;
}

.module-qh-item .qh-head a:hover{
    color:#ec5200;
    transition: 0.3s
}

.module-qh-item .qh-head .isdell{
    display: block;
    font-size: 12px;
    display: block;
    color: #ee0404;
    float: right;
    margin-right: 10px;
}

.module-qh-item .qh-head .nodell{
    display: block;
}


.module-qh-item .qh-head .qh-more{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 100%;
    background: url(../images/ico/qh-more.png) no-repeat -2px 3px;
}

.module-qh-item .qh-list{
    padding: 0px 5px 5px 5px;
    position: relative;
    background: #fbfbfb;
}

.module-qh-item .qh-list .qh-list-cont{
    margin: 0px 5px 5px 5px;
    text-align: center;
}

.qh-list .qh-list-cont .top-arc{
    text-align: left;
    /* margin-top: 3px; */
    padding-top: 5px;
}

.qh-list .qh-list-cont .bottom-arc{
    text-align: left;
    margin-top: 5px;
}

.qh-list .qh-list-cont .top-arc p{
    width: 115px;
    font-size: 12px;
}

.qh-list .qh-list-cont .red{
    color: #f00;
}

.qh-list .qh-list-cont .green{
    color: #00940a;
}

.qh-list .qh-list-cont .qred{
    color: #f00;
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.qh-list .qh-list-cont .qgreen{
    color: #00940a;
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.top-arc p span{
    display: block;
    float: left;
    line-height: 22px;
}

.bottom-arc p span{
    font-size: 14px;
    line-height: 22px;
}

.bottom-arc .updown{
    margin-left: 25px;
}

.bottom-arc .sum{
    margin-left: 15px;
    margin-top: 12px;
}

.bottom-arc .updown i{
    display: block;
    width: 32px;
    height: 47px;
}

.bottom-arc .updown i.up{
    background: url(../images/ico/qh-red.png) no-repeat center 10px;
}

.bottom-arc .updown i.down{
    background: url(../images/ico/qh-down.png) no-repeat center 10px;
}




.bottom-arc p.qred{
    color: rgb(184, 172, 172);
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.bottom-arc p.qgreen{
    color: #00ff11;
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.search-result-module-qh .module-qh-more{
    float: left;
}

.search-result-module-qh .module-qh-more a{
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}


.search-result-module-gp{
    margin-top: 10px;
    position: relative;
}

.search-result-module-gp em{
    font-style: normal;
    color:red
}

.search-result-module-gp .search-result-module-table{
    text-align: center
}

.search-result-module-gp .search-result-module-table a.gpmore{
    font-size: 12px;

}

.search-result-module-gp table{
    border-collapse: collapse;
    width: 100%;
}

.search-result-module-gp table th{
    background: #f7f7f7;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid #eee;
}

.search-result-module-gp table tr{
    border-bottom: 1px solid #eee
}

.search-result-module-gp table td{
    font-size: 12px;
    text-align: center;
    /* height: 35px; */
    /* line-height: 35px; */
    padding: 5px 0;
    /* border-bottom: 1px solid #d6d6d6; */
    position: relative;
    vertical-align: middle;
    /* line-height: 18px; */
}

.search-result-module-gp td i.zbg{
    font-size: 12px;
    background: #ab00e2;
    color: #fff;
    padding: 2px 5px;
    font-style: normal;

}

.search-result-module-gp table td .hot{
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 3;
}

.search-result-module-gp table span{
    display: block;
    font-size: 12px;
}


.search-result-module-gp td a,
.search-result-module-gp td a span{
    color:#004a99
}

.search-result-module-gp td span.nomore{
    height: 48px;
    line-height: 48px;
}


.search-result-module-gp td a:hover span,
.search-result-module-gp td a:hover{
    color:#ec5200;
    transition: 0.3s;
}

.search-result-module-gp tr:hover{
    background: #fffef4;
    transition: 0.3s;
}

.search-result-module-bk{
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative; 
}

.module-bk-item-title{
    position: relative;
}

.module-bk-item-title a.bk-item-name{
    font-size: 15px;
    display: block;
    padding: 7px;
    float: left;
}

.module-bk-item-title div.bk-item-lb{
    float: left;
    margin-left: 10px;
    position: relative;
}

.module-bk-item-title div.bk-item-lb p{
    margin-bottom: 5px;
}

.module-bk-item-title div.bk-item-lb p span{
    font-size: 12px;
    display: block;
    float: left;
    width: 135px;
}

.search-result-module-bk .module-bk-item-cont{
    position: relative;
}

.module-bk-item-cont .module-bk-item-draw{
    margin-left: 7px;
    float: left;
    position: relative;
}

.module-bk-item-draw ul{

}

.module-bk-item-draw li{
    float: left;
    padding: 5px 15px;
    background: #f7f7f7;
}

.module-bk-item-draw li a{
    font-size: 14px;
    cursor: pointer;
}

.module-bk-item-draw li.active{
    background: #0068bb;
}

.module-bk-item-draw li.active a{
    color:#fff;
}

.module-bk-item-draw .item-draw-pic{
    margin-top: 7px;
    position: relative;
}

.module-bk-item-cont .item-cash-flow{
    margin-left: 7px;
    float: left;
    position: relative;
}

.module-bk-item-cont h1{
    font-weight: normal;
    text-align: center;
}

.item-cash-flow div.l{
    float: left;
    border-right: 1px solid #eee;
}

.item-cash-flow div.l p{
    color:#f00;
}

.item-cash-flow div.r{
    float: right;
}

.item-cash-flow div.r p{
    color:#00940a;
}

.item-cash-flow div{
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
}


.item-cash-flow li{
    border-bottom: 1px solid #eeeeee;
}


.item-cash-flow li p{
    line-height: 35px;
}

.item-comb-flow{
    float: left;
    width: 485px;
}

.item-comb-flow h1 a{
    margin-right: 10px;
    font-size: 12px;
    display: block;
    float: left;
    padding: 5px 10px;
}

.item-comb-flow h1 a.active{
    font-size: 14px;
    color: #ec5200;
    padding: 3px 10px;
    /* display: block; */
    /* float: left; */
    /* background: #f7f7f7; */
    border-bottom: 2px solid #ec5200;
}

.item-comb-flow table{
    width: 100%;
    border-collapse: collapse;
}

.item-comb-flow table tr{
    border-bottom: 1px solid #eee;
}

.item-comb-flow table td{
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

.item-comb-flow table th{
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    /* height: 25px; */
    text-align: center;
    line-height: 25px;
}

.module-bk-item-cont .item-bk-more{
    float: left;
    margin-left: 10px;
}

.item-bk-more a{
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}

/* #004a99 00458f 003b7a ecf5ff 74b5fc */