.main {
  width: 100%;
  margin-top: 128px;
  position: relative;
  z-index: 7;
}
.search-result-module-item {
  position: relative;
}
.search-result-module-item a.stockitem-title-link {
  font-size: 14px;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  background: #064e96;
  padding: 0px 10px;
  color: #e2fadf;
  position: relative;
}
.search-result-module-item a.stockitem-title-link:hover {
  background: #0b4988;
}
.search-result-module-item a.stockitem-title-link i.ysj {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(/images/ico/ysj.png) no-repeat 2px 0;
}
.search-result-module-item .a-stockitem-cont {
  position: relative;
}
/*导航栏*/
.search-box {
  position: fixed;
  top: 33px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  border-bottom: 2px solid #ec5200;
  background: #f7f7f7;
  box-shadow: 3px 3px 2px 1px #adadad;
}
.search-box .search-head {
  padding-top: 15px;
  position: relative;
}
.search-box .search-head .eastlogo,
.search-box .search-head .search-form {
  float: left;
}
.search-box .search-head .eastlogo {
  margin-top: 0px;
  margin-right: 10px;
}
.search-box .search-head .search-form .input-box {
  width: 500px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  /* color: #faf4ff; */
  position: relative;
  background: #fdfdfd;
  display: block;
  float: left;
  border: 2px solid #ec5200;
}
.search-box .search-head .search-form .search-submit {
  width: 100px;
  height: 39px;
  display: block;
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 39px;
  letter-spacing: 5px;
  background: #ec5200;
}
.search-box .search-head .search-form .search-submit .search-submit:hover {
  background: #da4d02;
}
/*end*/
.nav-div {
  position: relative;
  margin-top: 10px;
}
.nav-div ul {
  list-style: none;
}
.nav-div li {
  float: left;
  padding: 5px 15px;
}
.nav-div li a:hover {
  color: #ec5200;
}
.nav-div li.active {
  background: #ec5200;
}
.nav-div li a {
  font-size: 14px;
  color: #000;
}
.nav-div li.active a {
  color: #fff;
}
/*end*/
/*搜索结果条数*/
.search-result-sum {
  padding-top: 10px;
  position: relative;
}
.search-result-sum span {
  font-size: 12px;
  vertical-align: middle;
}
.search-result-sum span em {
  color: #ec5200;
  margin-right: 7px;
  font-style: normal;
  letter-spacing: 1px;
}
/*end*/
/*词条搜索结果*/
.search-result-list {
  position: relative;
  margin: 10px auto 0px auto;
}
.search-result-list .search-result-module-title {
  position: relative;
}
.search-result-list .search-result-module-title span {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  font-size: 17px;
}
.search-result-list .search-result-module-title em {
  font-style: normal;
  color: red;
}
.search-result-list .search-result-module-title a.newsa {
  display: block;
  float: left;
  font-size: 12px;
  margin-left: 10px;
  text-decoration: underline;
  margin-top: 6px;
  color: #808080;
}
/*end*/
/*main个股样式*/
.search-result-module-item {
  margin-top: 10px;
  position: relative;
}
.search-result-module-item a.stockitem-title-link {
  font-size: 14px;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  background: #064e96;
  padding: 0px 10px;
  color: #e2fadf;
  position: relative;
}
.search-result-module-item a.stockitem-title-link:hover {
  background: #0b4988;
}
.search-result-module-item a.stockitem-title-link i.ysj {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(/images/ico/ysj.png) no-repeat 2px 0;
}
/*
综合新闻列表
*/
.search-result-module-zhnews {
  margin-top: 30px;
  position: relative;
}
.search-result-module-zhnews .module-zhnews-fl {
  width: 640px;
  float: left;
  position: relative;
}
.search-result-module-zhnews .module-zhnews-fl em {
  color: #f00;
}
.search-result-module-zhnews .list {
  margin-bottom: 20px;
}
.search-result-module-zhnews .list .acrt {
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
}
.search-result-module-zhnews .list .acrt .xsprice {
  font-size: 13px;
  margin-left: 5px;
  background: #f00;
  color: #fff;
  padding: 2px 7px;
}
.search-result-module-zhnews .list .zx-item,
.search-result-module-zhnews .list .gb-item,
.search-result-module-zhnews .list .xswd-item,
.search-result-module-zhnews .list .wdm-item,
.search-result-module-zhnews .list .yb-item,
.search-result-module-zhnews .list .cfh-item,
.search-result-module-zhnews .list .boke-item {
  position: relative;
}
.search-result-module-zhnews .list .sdicon {
  padding: 4px 5px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-right: 5px;
  /* box-shadow: 3px 3px 2px 1px #adadad;
    -webkit-box-shadow:3px 3px 2px 1px #adadad; */
}
.search-result-module-zhnews .list .zx-item .icon {
  background: #0023e2;
}
.search-result-module-zhnews .list .gb-item .icon {
  background: #4394fe;
}
.search-result-module-zhnews .list .xswd-item .icon {
  background: #607D8B;
}
.search-result-module-zhnews .list .wdm-item .icon {
  background: #FF9800;
}
.search-result-module-zhnews .list .yb-item .icon {
  background: #E91E63;
}
.search-result-module-zhnews .list .cfh-item .icon {
  background: #FF5722;
}
.search-result-module-zhnews .list .boke-item .icon {
  background: #795548;
}
.search-result-module-zhnews .list .xswd-pitem,
.search-result-module-zhnews .list .wdm-pitem,
.search-result-module-zhnews .list .cfh-pitem,
.search-result-module-zhnews .list .boke-pitem {
  font-size: 13px;
  line-height: 21px;
  position: relative;
}
.search-result-module-zhnews .list .xswd-pitem p {
  margin-top: 5px;
}
.search-result-module-zhnews .list .xswd-pitem p b {
  color: #0062c7;
}
.search-result-module-zhnews .acrt .from {
  font-size: 12px;
}
.search-result-module-zhnews .acrt .from_gay {
  font-size: 12px;
  color: #808080;
  cursor: default;
}
.search-result-module-zhnews .acrt i {
  font-size: 12px;
  color: #ec5200;
}
.search-result-module-zhnews .list .actions {
  font-size: 16px;
  /* font-weight: bold; */
  text-decoration: underline;
}
.search-result-module-zhnews .list .txtdiv {
  font-size: 13px;
  line-height: 21px;
}
.search-result-module-zhnews .txtdiv .times {
  margin-right: 10px;
}
.search-result-module-zhnews .list .fl_img {
  width: 145px;
  float: left;
}
.search-result-module-zhnews .list .fl_img img {
  display: block;
  width: 145px;
  height: 100px;
}
.search-result-module-zhnews .list .fl_txt {
  width: 485px;
  float: left;
  margin-left: 10px;
}
.search-result-module-zhnews .list .urldiv {
  font-size: 13px;
  color: #008000;
}
.search-result-module-zhnews .ablink {
  margin-top: 15px;
  position: relative;
}
.search-result-module-zhnews .ablink p a {
  font-size: 14px;
  display: block;
  float: left;
  width: 33%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*综合新闻列表end*/
/*底部翻页*/
.pageF {
  margin-top: 15px;
  position: relative;
}
.pageF ul {
  margin: 0 auto;
  width: 470px;
}
.pageF li {
  float: left;
  width: 35px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #eee;
  margin-left: 9px;
}
.pageF li a {
  display: block;
  /* line-height: 22px; */
  font-size: 14px;
}
.pageF li.active {
  background: #ec5200;
}
.pageF li.active a {
  color: #fff;
}
.pageF .pre {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eee;
  padding: 3px 8px;
  text-align: center;
}
.pageF .next {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: 1px solid #eee;
  padding: 3px 8px;
  text-align: center;
}
.pageF .sted {
  color: #808080;
}
.footer {
  position: relative;
  margin-top: 10px;
  background-color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
/*end*/
/*股市视频直播*/
.stock-living-video {
  position: relative;
  display: none;
}
.stock-living-video p.title {
  font-size: 16px;
}
/*end股市视频直播*/
/* #004a99 00458f 003b7a ecf5ff 74b5fc */
