.search-box{
  position: fixed;
  top: 33px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  border-bottom: 2px solid #ec5200;
  background: #242e38;
  /* background: url("../images/ico/sbg.jpg") repeat-x center top; */
}

.search-box .search-head{
  padding-top: 15px;
  position: relative;
}

.search-head .eastlogo,.search-head .search-form{
  float: left;
}

.search-head .eastlogo{
  margin-top: 0px;
  margin-right: 10px;
}

.search-head .search-form .input-box{
  width: 500px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  color: #faf4ff;
  position: relative;
  background: #2c3f52;
  display: block;
  float: left;
  border: 2px solid #ec5200;
}

.search-head .search-form .search-submit{
  width: 100px;
  height: 39px;
  display: block;
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 39px;
  letter-spacing: 5px;
  background: #ec5200;
}

.search-form .search-submit:hover{
  background: #da4d02
}