<div class="main">
    <div class="cont-div">
            <div class="wd1000">
                <div class="search-result-sum">
                    <%-include('../shared/searchresult.ejs')%> 
                </div>
                <div class="search-result-list">
                    <%-include('../module/stock.ejs')%> 
                    <%-include('../module/futures.ejs')%>
                    <%-include('../module/bk.ejs')%>
                </div>
            </div>
        </div>
    
</div>
<div class="fixed-sidebar">
    <div class="hot-search">
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
        <a href="#">新妖王！金盾股份四连板</a>
    </div>
    <div class="hot-up">

    </div>
</div>