.search-result-module-qh{
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
}



.module-qh-item{
    width: 215px;
    float: left;
    margin-right: 10px;
    position: relative;
    /* border: 2px solid #0063ca; */
}

.module-qh-item .qh-head{
    width: 100%;
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
}


.module-qh-item .qh-head .bq{
    display: none;
    position: absolute;
    top: -22px;
    left: 0px;
    color: #fff;
    z-index: 3;
    font-size: 12px;
    font-style: normal;
    background: #003369;
    padding: 3px 5px;
}

.module-qh-item .qh-head a.tit{
    font-size: 12px;
    display: block;
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    color: #004a99;
}

.module-qh-item .qh-head a:hover{
    color:#ec5200;
    transition: 0.3s
}

.module-qh-item .qh-head .isdell{
    display: block;
    font-size: 12px;
    display: block;
    color: #ee0404;
    float: right;
    margin-right: 10px;
}

.module-qh-item .qh-head .nodell{
    display: block;
}


.module-qh-item .qh-head .qh-more{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 100%;
    background: url(/images/ico/qh-more.png) no-repeat -2px 3px;
}

.module-qh-item .qh-list{
    position: relative;
    background: #fbfbfb;
}

.module-qh-item .qh-list .qh-list-cont{
    text-align: center;
}

.qh-list-cont .tb{
    text-align: left;
    padding-top: 5px;
}

.qh-list-cont .tb p{
    width: 90px;
    font-size: 12px;
    padding-left: 5px;
}

.qh-list-cont .tb p span{
    display: block;
    float: left;
    line-height: 22px;
}

.qh-list-cont .mb{
    width: 100%;
    margin-top: 5px;
}

.qh-list-cont .mb i{
    display: block;
    float: left;
    width: 30px;
    height: 35px;
    background: url(/images/ico/down3.png) no-repeat center top;
}

.qh-list-cont .mb p{
    float: left;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    font-weight: bold;
    line-height: 35px;
}

.qh-list-cont .mb span{
    display: block;
    float: left;
    font-size: 12px;
    color: #fff;
    /* line-height: 35px; */
    margin-right: 5px;
    padding-top: 12px;
}

.search-result-module-qh .module-qh-more{
    float: left;
}

.search-result-module-qh .module-qh-more a{
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}

.search-result-module-gp{
    margin-top: 10px;
    position: relative;
}

.search-result-module-gp em{
    font-style: normal;
    color:red
}

.search-result-module-gp .module-gp-table{
    text-align: center
}

.search-result-module-gp .module-gp-table a.gpmore{
    font-size: 12px;

}

.search-result-module-gp table{
    border-collapse: collapse;
    width: 100%;
}

.search-result-module-gp table th{
    background: #f7f7f7;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    border-top: 1px solid #eee;
}

.search-result-module-gp table tr{
    border-bottom: 1px solid #eee
}

.search-result-module-gp table td{
    font-size: 12px;
    text-align: center;
    /* height: 35px; */
    /* line-height: 35px; */
    padding: 5px 0;
    /* border-bottom: 1px solid #d6d6d6; */
    position: relative;
    vertical-align: middle;
    /* line-height: 18px; */
}

.search-result-module-gp td i.zbg{
    font-size: 12px;
    background: #ab00e2;
    color: #fff;
    padding: 2px 5px;
    font-style: normal;

}

.search-result-module-gp table td .hot{
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 3;
}

.search-result-module-gp table span{
    display: block;
    font-size: 12px;
}


.search-result-module-gp td a,
.search-result-module-gp td a span{
    color:#004a99
}

.search-result-module-gp td span.nomore{
    height: 48px;
    line-height: 48px;
}


.search-result-module-gp td a:hover span,
.search-result-module-gp td a:hover{
    color:#ec5200;
    transition: 0.3s;
}

.search-result-module-gp thead tr:hover{
    background: #fffef4;
    transition: 0.3s;
}


.search-result-module-bk{
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative; 
}

.module-bk-item-title{
    position: relative;
}

.module-bk-item-title .bk-item-name{
    display: block;
    padding: 0px 7px 7px 7px;
    float: left;
}

.module-bk-item-title .bk-item-name a{
    display: block;
}

.module-bk-item-title .bk-item-name .mb{
    line-height: 27px;
    margin-top: 5px;
}

.bk-item-name .mb i{
    display: block;
    width: 18px;
    height: 18px;
    background: url(/images/ico/up2.png) no-repeat center top;
    float: left;
    margin-top: 3px;
}

.bk-item-name .mb p{
    float: left;
    font-weight: bold;
    font-size: 22px;
    color: #f00;
    margin-left: 10px;
}

.bk-item-name .mb span{
    font-size: 12px;
    color: #f00;
    margin-left: 10px;
}

.module-bk-item-title div.bk-item-lb{
    float: left;
    margin-left: 10px;
    position: relative;
}


.module-bk-item-title div.bk-item-lb p span{
    font-size: 12px;
    display: block;
    float: left;
    width: 135px;
}

.search-result-module-bk .module-bk-item-cont{
    position: relative;
}

.module-bk-item-cont .module-bk-item-draw{
    margin-left: 7px;
    float: left;
    position: relative;
}

.module-bk-item-draw ul{

}

.module-bk-item-draw li{
    float: left;
    padding: 5px 15px;
    background: #f7f7f7;
}

.module-bk-item-draw li a{
    font-size: 14px;
    cursor: pointer;
}

.module-bk-item-draw li.active{
    background: #0068bb;
}

.module-bk-item-draw li.active a{
    color:#fff;
}

.module-bk-item-draw .item-draw-pic{
    margin-top: 7px;
    position: relative;
}

.module-bk-item-cont .item-cash-flow{
    margin-left: 7px;
    float: left;
    position: relative;
}

.module-bk-item-cont h1{
    font-weight: normal;
    text-align: center;
}

.item-cash-flow div.l{
    float: left;
    border-right: 1px solid #eee;
}

.item-cash-flow div.l p{
    color:#f00;
}

.item-cash-flow div.r{
    float: right;
}

.item-cash-flow div.r p{
    color:#00940a;
}

.item-cash-flow div{
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
}


.item-cash-flow li{
    border-bottom: 1px solid #eeeeee;
}


.item-cash-flow li p{
    line-height: 35px;
}

.item-comb-flow{
    float: left;
    width: 305px;
}

.item-comb-flow h1 a{
    margin-right: 10px;
    font-size: 12px;
    display: block;
    float: left;
    padding: 5px 10px;
}

.item-comb-flow h1 a.active{
    font-size: 14px;
    color: #fff;
    padding: 5px 15px;
    background: #0068bb
}

.item-comb-flow table{
    width: 100%;
    border-collapse: collapse;
}

.item-comb-flow table tr{
    border-bottom: 1px solid #eee;
}

.item-comb-flow table tr.fjx{
    border-bottom: 1px solid #000000;
}

.item-comb-flow table td{
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
}

.item-comb-flow table th{
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    /* height: 25px; */
    text-align: center;
    line-height: 25px;
}

.module-bk-item-cont .item-bk-more{
    float: left;
    margin-left: 10px;
}

.item-bk-more a{
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}

.search-result-module-otherss{
    margin-top: 10px;
    position: relative;
}


.search-result-module-otherss em{
    color:#f00;
}

.search-result-module-otherss .list
{
    width: 326px;
    position: relative;
    float: left;
}

.search-result-module-otherss .list h1
{
    font-weight: normal;
    font-size: 14px;
    padding: 5px 0px 5px 5px;
    border-bottom: 2px solid #ec5200
}

.search-result-module-otherss .list li
{
    padding: 5px 5px;
}

.search-result-module-otherss .list li a
{
    font-size: 13px;
    display: block;
    margin-top:3px;
    padding-left: 6px;
    text-decoration: underline;
}

.search-result-module-otherss .list li p
{
    margin-top: 3px;
    margin-left: 6px;
}

.search-result-module-otherss .list li span
{
    font-size: 12px;
    display: block;
    margin-top: 3px;
}

.search-result-module-otherss .list .getmore
{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
}

.search-result-module-otherss .module-collect-cfh img.tx,
.search-result-module-otherss .module-collect-bk img.tx
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.search-result-module-otherss .module-collect-cfh li a.name,
.search-result-module-otherss .module-collect-bk li a.name
{
    text-decoration: none;
}

.search-result-module-otherss .module-collect-guba h1{
    /* border-bottom: 2px solid #f00; */
}


.search-result-module-otherss .module-collect-gg h1{
    /* border-bottom: 2px solid #ff00e0 */
}

.search-result-module-otherss .module-collect-yb h1{
    /* border-bottom: 2px solid #ff00e0; */
}

.search-result-module-otherss .module-collect-wdm h1{
    /* border-bottom: 2px solid #ff00e0; */
}

.search-result-module-otherss .module-collect-zt h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-bk h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-jgdy h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-theme,
.search-result-module-otherss .module-collect-ht
{
    margin-top: 25px;
    width: 495px;
    height: 500px;
    position: relative;
}

.search-result-module-otherss .module-collect-theme .ico,
.search-result-module-otherss .module-collect-ht .ico{
    display: block;
    width: 95px;
    padding: 8px 0 8px 5px;
    font-weight: normal;
    background: #bf681e;
}

.search-result-module-otherss .module-collect-theme .ico a,
.search-result-module-otherss .module-collect-ht .ico a{
    color: #fff;
    padding: 5px 28px;
    text-align: center;
}

.module-collect-theme .ico:hover,
.module-collect-ht .ico:hover{
    transition: 0.3s
}

.module-collect-theme .repres{
    font-size: 14px;
    margin-top: 10px;
    padding-left: 10px;
}

.module-collect-theme .repres em{

}

.module-collect-theme .repres i{
    font-style: normal;
    padding: 0 5px;
    font-size: 14px;
    border:2px solid #ec5200
}

.module-collect-theme .repres span{

}

.module-collect-theme .subpower{

}
