

.entry-stock{
    position: relative;
    .entry-stock-table{
        text-align: center;
        a.stockmore{
            font-size: 12px;
        
        }
        a:hover span{
            color:#ec5200
        }

            td{
                position: relative;
                vertical-align: middle;
                i.zbg{
                    font-size: 12px;
                    background: #ff6262;
                    color: #fff;
                    padding: 2px 5px;
                    font-style: normal;
                }
                .hot{
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    z-index: 3;
                }
            }
            span{
                display: block;
                color:#0040d2
            }

        
    }
    
}
/*end*/

/*百科*/
.entry-baike{
    margin-bottom: 10px;
    position: relative;
    a{
        text-decoration: underline;
    }
    a.tit{
        text-decoration: underline;
    }
    p{
        margin-top: 5px;
        font-size: 12px;
        line-height: 20px;
        word-break: break-all;
        white-space: normal;
        text-overflow: hidden;
    }
}
/*导读*/
.entry-talk{
    font-size: 14px;
    position: relative;
    h1{
        margin-bottom: 5px;
    }
    div{
        margin-bottom: 7px;
    }
    a{
        font-size: 14px;
        text-decoration: underline;
    }
    span{
        font-size: 12px;
    }
}


/*词条搜索期货*/
.entry-qh{
    position: relative;
    .entry-qh-inter,.entry-qh-china{
        position: relative;
    }
    h1.tit{
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 10px;
        display: none;
        i.img-inter{
            padding: 1px 10px;
            margin-right: 5px;
            background: url(/images/ico/inter-qh.png) no-repeat center top;
        }
        i.img-sh{
            padding: 1px 10px;
            margin-right: 5px;
            background: url(/images/ico/sh-qh.png) no-repeat center top;
        }
        a{
            text-decoration: underline;
            color:#000;
        }
        a:hover{
            color:#ec5200;
        }
    }
    .entry-qh-inter-quote{
        position: relative;
    }
    .entry-qh-item{
        width: 400px;
        margin-right: 15px;
        float: left;
        position: relative;
        .qh-head{
            width: 100%;
            position: relative;
            height: 30px;
            line-height: 30px;
            background: #f9f9f9;
            border-bottom: 1px solid #eaeaea;
            .price{
                font-size: 12px;
                display: block;
                float: left;
                margin-right: 5px;
            }
            img.qh-place{
                display: block;
                float: left;
                margin-top: 3px;
                margin-right: 5px;
                margin-left: 5px;
            }
            span.qh-place{
                font-size: 12px;
                display: block;
                float: left;
            }
            .bq{
                display: none;
                position: absolute;
                top: -22px;
                left: 0px;
                color: #fff;
                z-index: 3;
                font-size: 12px;
                font-style: normal;
                background: #003369;
                padding: 3px 5px;
            }
            a:hover{
                color:#ec5200;
                transition: 0.3s
            }
            a.tit{
                font-size: 14px;
                display: block;
                float: left;
                padding-left: 10px;
                margin-right: 10px;
            }
            .isdell{
                display: block;
                font-size: 12px;
                display: block;
                color: #ee0404;
                float: right;
                margin-right: 10px;
            }
            .nodell{
                display: block;
            }
            .qh-more{
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 25px;
                height: 100%;
                background: url(/images/ico/qh-more.png) no-repeat -2px 3px;
            }
        }
        .qh-list{
            position: relative;
            .qh-list-cont{
                text-align: center;
                .tb{
                    text-align: left;
                    padding-top: 5px;
                    p{
                        width: 135px;
                        font-size: 14px;
                        padding-left: 5px;
                        span{
                            display: block;
                            float: left;
                            line-height: 22px;
                        }
                    }
                }
                .mb{
                    width: 100%;
                    margin-top: 5px;
                    p{
                        float: left;
                        font-size: 24px;
                        color: #fff;
                        margin-right: 10px;
                        font-weight: bold;
                        line-height: 35px;
                    }
                    span{
                        display: block;
                        float: left;
                        font-size: 14px;
                        color: #fff;
                        /* line-height: 35px; */
                        margin-right: 5px;
                        /* padding-top: 13px; */
                        line-height: 35px;
                    }
                }
                .bckup{
                    i{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 35px;
                        margin-left: 20px;
                        background: url(/images/ico/up3.png) no-repeat center 8px;
                    }
                }
                .bckdown{
                    i{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 35px;
                        margin-left: 20px;
                        background: url(/images/ico/down3.png) no-repeat center 8px;
                    }
                }
            }
        }
    }
    .entry-qh-draw{
        float: left;
        position: relative;
        a{
            display: block;
        }
        p{
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
}
/*end*/


/*词条搜索板块*/
.entry-bk{
    position: relative;
    .entry-bk-cont{
        position: relative;
        .entry-bk-cont-dv{
            width: 400px;
            float: left;
            margin-right: 15px;
            position: relative;
            .dvname{
                display: block;
                height: 30px;
                line-height: 30px;
                background: #f9f9f9;
                border-bottom: 1px solid #eaeaea;
                a{
                    font-size: 14px;
                    display: block;
                    float: left;
                    padding-left: 10px;
                    padding-top: 0;
                    margin-right: 10px;
                }
                .price{
                    float: left;
                    display: block;
                    font-size: 12px;
                    margin-left: 5px;
                }
                .rank{
                    display: block;
                    float: right;
                    margin-right: 10px;
                    font-size: 12px;
                }
            
            }
            .dvsj{
                position: relative;
                p span{
                    font-size: 14px;
                    display: block;
                    float: left;
                    line-height: 22px;
                }
                .tb{
                    text-align: left;
                    padding-top: 5px;
                }
                p{
                    width: 135px;
                    font-size: 14px;
                    padding-left: 5px;
                }
            }
            .dvlx{
                margin-top: 10px;
                position: relative;
                h1{
                    font-weight: normal;
                    font-size: 14px;
                    border-bottom: 1px solid #eee;
                    padding: 3px 0px 3px 5px;
                }
            }
        }
        .entry-bk-cont-tx{
            float: left;
            position: relative;
            .txtzjl{
                margin-top:5px;
                position: relative;
                a.zjlimg{
                    display: block;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
/*end*/



/*词条搜索基金*/
.entry-fund{
    position: relative;
    .entry-fund-cont{
        position: relative;
        table{
            width: 100%;
            margin-top: 10px;
            border-collapse:collapse;
            tr{
                border-bottom: 1px solid #eee;
            }
            th{
                background: #e7f3ff;
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                font-weight: normal;
                text-align: center;
                color: #000000;
            }
            td{
                font-size: 14px;
                text-align: center;
                padding: 15px 0;
                vertical-align: middle;
            }
        }
    }
}
/*end*/

/*词条搜索其它*/
.entry-others{
    position: relative;
    .entry-others-special{
        position: relative;
        .middle{
            margin: 10px 0;
            position: relative;
            li{
                font-size: 14px;
                /* margin-top: 10px; */
                margin-bottom: 10px;
                float: left;
                width: 334px;
                margin-right: 5px;
                height: 60px;
                div{
                    margin-bottom: 5px;
                    max-height: 36px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;

                    a{
                        text-decoration: underline;
                    }
                    span{
                        font-size: 12px;
                        color: #808080;
                    }
                }
                
            }
        }
        .item{
            position: relative;
            padding-bottom: 5px;
            background: #000;
            float: left;
            margin-bottom: 1px;
            width: 226px;
            height: 90px;
            a{
                font-size: 14px;
                // background:-webkit-linear-gradient(45deg, #3bb0ff, #e935ff);
                display: block;
                padding: 5px 10px;
                color:#fff;
            }
            p{
                font-size: 14px;
                text-align: center;
                margin-top: 10px;
                position: relative;
                padding-left: 10px;
                span{
                    display:inline-block;
                }
                .sp1{
                    background: url(/images/ico/bjup.png) 0 0 no-repeat;
                    width: 12px;
                    height: 12px;
                }
                .sp2{
                    background: url(/images/ico/bjdown.png) 0 0 no-repeat;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    .entry-others-normal{
        position: relative;
        .item{
            margin-bottom: 10px;
            position: relative;
            .title{
                float: left;
                margin-right: 10px;
                font-size: 14px;
                background: #0089ff;
                text-align: center;
                padding: 0px;
                color: #fff;
                width: 85px;
                /* border: 1px solid #0040d2; */
                a{
                    display: block;
                    /* color: #ffc107; */
                    background: #fff;
                    margin: 3px;
                    padding: 3px 5px;
                }
                &:hover{
                    background: #005ba9;
                }
            }
            .cont{
                float: left;
                font-size: 14px;
                width: 555px;
                line-height: 22px;
                .dvhf{
                    margin-bottom: 5px;
                }
                .entry-others-normal-combe{
                    position: relative;
                }
            }
        }

    }
}


/*词条搜索现货*/
.entry-spot{
    margin-top: 20px;
    position: relative;
    .entry-spot-inter,.entry-spot-china{
        position: relative;
    }
    h1.tit{
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 10px;
        i.img-inter{
            padding: 1px 10px;
            margin-right: 5px;
            background: url(/images/ico/inter-qh.png) no-repeat center top;
        }
        i.img-sh{
            padding: 1px 10px;
            margin-right: 5px;
            background: url(/images/ico/sh-qh.png) no-repeat center top;
        }
        a{
            color:#384650;
        }
        a:hover{
            color:#ec5200;
        }
    }
    .entry-spot-inter-quote{
        position: relative;
    }
    .entry-spot-item{
        width: 280px;
        float: left;
        position: relative;
        .spot-head{
            width: 100%;
            position: relative;
            height: 30px;
            line-height: 30px;
            background: #f9f9f9;
            border-bottom: 1px solid #eaeaea;
            img.spot-place{
                display: block;
                float: left;
                margin-top: 3px;
                margin-right: 5px;
                margin-left: 5px;
            }
            span.spot-place{
                font-size: 12px;
                display: block;
                float: left;
            }
            .bq{
                display: none;
                position: absolute;
                top: -22px;
                left: 0px;
                color: #fff;
                z-index: 3;
                font-size: 12px;
                font-style: normal;
                background: #003369;
                padding: 3px 5px;
            }
            a:hover{
                color:#ec5200;
                transition: 0.3s
            }
            a.tit{
                font-size: 13px;
                display: block;
                float: left;
                padding-left: 10px;
                margin-right: 10px;
            }
            .isdell{
                display: block;
                font-size: 12px;
                display: block;
                color: #ee0404;
                float: right;
                margin-right: 10px;
            }
            .nodell{
                display: block;
            }
            .spot-more{
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 25px;
                height: 100%;
                background: url(/images/ico/qh-more.png) no-repeat -2px 3px;
            }
        }
        .spot-list{
            position: relative;
            .spot-list-cont{
                text-align: center;
                .tb{
                    text-align: left;
                    padding-top: 5px;
                    p{
                        width: 135px;
                        font-size: 14px;
                        padding-left: 5px;
                        span{
                            display: block;
                            float: left;
                            line-height: 22px;
                        }
                    }
                }
                .mb{
                    width: 100%;
                    margin-top: 5px;
                    p{
                        float: left;
                        font-size: 24px;
                        color: #fff;
                        margin-right: 10px;
                        font-weight: bold;
                        line-height: 35px;
                    }
                    span{
                        display: block;
                        float: left;
                        font-size: 14px;
                        color: #fff;
                        /* line-height: 35px; */
                        margin-right: 5px;
                        /* padding-top: 13px; */
                        line-height: 35px;
                    }
                }
                .bckup{
                    i{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 35px;
                        margin-left: 20px;
                        background: url(/images/ico/up3.png) no-repeat center 8px;
                    }
                }
                .bckdown{
                    i{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 35px;
                        margin-left: 20px;
                        background: url(/images/ico/down3.png) no-repeat center 8px;
                    }
                }
            }
        }
    }
}

/*特殊词条换算*/
.entry-tools{
    position: relative;
    h1{
        font-size: 14px;
        /* margin-top: 5px; */
        /* color: #fff; */
        // background: #ffeac3;
    }
    h1.warn{
        margin-top: 5px;
        font-size: 12px;
        font-weight: normal;
        color:#808080;
    }
    .entry-tools-change{
        position: relative;
        .entry-tools-change-gold{
            float: left;
            margin-right: 10px;
        }
        p{
            font-size: 14px;
            font-weight: bold;
        }
        p.tit{
            font-weight: normal;
        }
        .entry-tools-change-input{
            width: 107px;
            display: block;
            float: left;
            height: 25px;
            font-size: 12px;
            margin-right: 10px;
            padding-left: 10px;
            border: 1px solid #aaa;
            line-height: 25px;
            &:focus{
                border: 1px solid #ec5200;
            }
        }
        .entry-tools-change-select{
            font-size: 12px;
            display: block;
            float: left;
            width: 90px;
            height: 27px;
        }
        .entry-tools-change-button{
            position: relative;
            float: left;
            margin-left: 10px;
            button{
                width: 45px;
                height: 27px;
                border: 1px solid #0070e4;
                background: #0062c7;
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                &:hover{
                    border: 1px solid #c74500;
                    background: #ec5200;
                }
            }
        }
        .entry-tools-change-result{
            position: relative;
            /* margin-left: 10px; */
            /* height: 31px; */
            line-height: 30px;
            /* border-bottom: 1px solid #cccccc; */
            margin-top: 10px;
            p{
                span{
                    font-size: 18px;
                    display: block;
                    float: left;
                    /* margin-right: 10px; */
                    padding-right: 5px;
                }
                .sp1{
                    color: #ec5200;
                }
            }
        }
        .entry-tools-change-rate{
            float: left;
            position: relative;
            .exi{
                display: block;
                float: left;
                width: 14px;
                height: 14px;
                background: url(/images/ico/entry-exi.png) no-repeat center top;
                margin-right: 8px;
                margin-left: 8px;
                margin-top: 5px;
            }
        }
    }
}



.search-result-module-otherss{
    margin-top: 10px;
    position: relative;
}


.search-result-module-otherss em{
    color:#f00;
}

.search-result-module-otherss .list
{
    width: 326px;
    position: relative;
    float: left;
}

.search-result-module-otherss .list h1
{
    font-weight: normal;
    font-size: 14px;
    padding: 5px 0px 5px 5px;
    border-bottom: 2px solid #ec5200
}

.search-result-module-otherss .list li
{
    padding: 5px 5px;
}

.search-result-module-otherss .list li a
{
    font-size: 13px;
    display: block;
    margin-top:3px;
    padding-left: 6px;
    text-decoration: underline;
}

.search-result-module-otherss .list li p
{
    margin-top: 3px;
    margin-left: 6px;
}

.search-result-module-otherss .list li span
{
    font-size: 12px;
    display: block;
    margin-top: 3px;
}

.search-result-module-otherss .list .getmore
{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
}

.search-result-module-otherss .module-collect-cfh img.tx,
.search-result-module-otherss .module-collect-bk img.tx
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.search-result-module-otherss .module-collect-cfh li a.name,
.search-result-module-otherss .module-collect-bk li a.name
{
    text-decoration: none;
}

.search-result-module-otherss .module-collect-guba h1{
    /* border-bottom: 2px solid #f00; */
}


.search-result-module-otherss .module-collect-gg h1{
    /* border-bottom: 2px solid #ff00e0 */
}

.search-result-module-otherss .module-collect-yb h1{
    /* border-bottom: 2px solid #ff00e0; */
}

.search-result-module-otherss .module-collect-wdm h1{
    /* border-bottom: 2px solid #ff00e0; */
}

.search-result-module-otherss .module-collect-zt h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-bk h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-jgdy h1{
    /* border-bottom: 2px solid #2196F3; */
}

.search-result-module-otherss .module-collect-theme,
.search-result-module-otherss .module-collect-ht
{
    margin-top: 25px;
    width: 495px;
    height: 500px;
    position: relative;
}

.search-result-module-otherss .module-collect-theme .ico,
.search-result-module-otherss .module-collect-ht .ico{
    display: block;
    width: 95px;
    padding: 8px 0 8px 5px;
    font-weight: normal;
    background: #bf681e;
}

.search-result-module-otherss .module-collect-theme .ico a,
.search-result-module-otherss .module-collect-ht .ico a{
    color: #fff;
    padding: 5px 28px;
    text-align: center;
}

.module-collect-theme .ico:hover,
.module-collect-ht .ico:hover{
    transition: 0.3s
}

.module-collect-theme .repres{
    font-size: 14px;
    margin-top: 10px;
    padding-left: 10px;
}

.module-collect-theme .repres em{

}

.module-collect-theme .repres i{
    font-style: normal;
    padding: 0 5px;
    font-size: 14px;
    border:2px solid #ec5200
}

.module-collect-theme .repres span{

}

.module-collect-theme .subpower{

}

@import './right.less';
