
<div class='choose mystock clearfix'>
     <a href='javascript:void(0)' class='choose-i c80 active clearfix' data-id='getZstock'>
            <span class='sp1'></span>
            <span class='sp2'>自选股票</span>
     </a>
     <a href='javascript:void(0)' class='choose-i c80 clearfix' data-id='getZcom'>
            <span class='sp1'></span>
            <span class='sp2'>自选组合</span>
     </a>
     <a href='javascript:void(0)' class='choose-i c80 clearfix' data-id='getZfound'>
            <span class='sp1'></span>
            <span class='sp2'>自选基金</span>
     </a>
</div>
<p class='stocksearch clearfix'>
<input type='text' class='mystock-input' placeholder='输入代码、名称添加股票' />
<a href='javascript:void(0)' class='mystock-add'>添加</a>
<a href='javascript:void(0)' class='mystock-enternew'>进入新版自选股</a>
<a href='javascript:void(0)' class='mystock-down' title='展开全部' id='mystock-down'style='display:none'>↓</a>
</p>