<div class='shouc-cfh'>
<div class='clearfix'>
<div class='fl'>
<img src='https://avator.eastmoney.com/qface/7804004988153438/120' class='scimg'>
<a href="#" class="dy  fz14 mt5" title="订阅">+</a>
</div>
<div class="wd580 fl ml10">
<div class="clearfix">
<a href="#" class="c456 fz14 fl">格隆汇深圳发展有限公司</a>
<span class="fl jigou ml10"></span>
</div>
<p class='mb5 mt30'><a href='javascript:void(0)' class='c456'>南北船战略重组：股民集体狂欢，受伤的却是韩国</a></p>
<p class='fz14 c46'>7月1日，A股迎来了下半年行情的“开门红”。仅仅一天，沪深两市总市值暴涨1.5万亿元，持仓的股民们终于回了一波血。也就在当日晚间，一则关于南北船合并重组——“中国神船”将要诞生的消息不断</p>
</div>
</div>
<div class='shouc-cfh-btm mt5'>
<span class='fz12 hc'></span>
</div>
</div>
<div class='shouc-cfh'>
<div class='clearfix'>
<div class='fl'>
<img src='https://avator.eastmoney.com/qface/3355325579293132/120' class='scimg'>
<a href="#" class="escdy  fz14 mt5" title="取订">-</a>
</div>
<div class="wd580 fl ml10">
<div class="clearfix">
<a href="#" class="c456 fz14 fl">方家女子</a>
<span class="fl isvip ml10"></span>
</div>
<p class='mb5 mt30'><a href='javascript:void(0)' class='c456'>南北船战略重组：股民集体狂欢，受伤的却是韩国</a></p>
<p class='fz14 c46'>7月1日，A股迎来了下半年行情的“开门红”。仅仅一天，沪深两市总市值暴涨1.5万亿元，持仓的股民们终于回了一波血。也就在当日晚间，一则关于南北船合并重组——“中国神船”将要诞生的消息不断</p>
</div>
</div>
<div class='shouc-cfh-btm mt5'>
<span class='fz12 hc'></span>
</div>
</div>
<div class='shouc-cfh'>
<div class='clearfix'>
<div class='fl'>
<img src='https://avator.eastmoney.com/qface/6353094759922544/120' class='scimg'>
<a href="#" class="escdy  fz14 mt5" title="取订">-</a>
</div>
<div class="wd580 fl ml10">
<div class="clearfix">
<a href="#" class="c456 fz14 fl">翠鸟资本</a>
<span class="fl isvip ml10"></span>
</div>
<p class='mb5 mt30'><a href='javascript:void(0)' class='c456'>南北船战略重组：股民集体狂欢，受伤的却是韩国</a></p>
<p class='fz14 c46'>7月1日，A股迎来了下半年行情的“开门红”。仅仅一天，沪深两市总市值暴涨1.5万亿元，持仓的股民们终于回了一波血。也就在当日晚间，一则关于南北船合并重组——“中国神船”将要诞生的消息不断</p>
</div>
</div>
<div class='shouc-cfh-btm mt5'>
<span class='fz12 hc'></span>
</div>
</div>
<div class='shouc-cfh'>
<div class='clearfix'>
<div class='fl'>
<img src='https://avator.eastmoney.com/qface/5910065439874360/120' class='scimg'>
<a href="#" class="escdy  fz14 mt5" title="取订">-</a>
</div>
<div class="wd580 fl ml10">
<div class="clearfix">
<a href="#" class="c456 fz14 fl">独孤视界孙文胜</a>
<span class="fl  ml10"></span>
</div>
<p class='mb5 mt30'><a href='javascript:void(0)' class='c456'>南北船战略重组：股民集体狂欢，受伤的却是韩国</a></p>
<p class='fz14 c46'>7月1日，A股迎来了下半年行情的“开门红”。仅仅一天，沪深两市总市值暴涨1.5万亿元，持仓的股民们终于回了一波血。也就在当日晚间，一则关于南北船合并重组——“中国神船”将要诞生的消息不断</p>
</div>
</div>
<div class='shouc-cfh-btm mt5'>
<span class='fz12 hc'></span>
</div>
</div>
