<div class='shouc-head'>
<div class='choose clearfix' id='shouc-head'>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getShoucGuba'>
股吧
</a>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getShoucHuati'>
话题
</a>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getShoucWenda'>
问答
</a>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getShoucMoney'>
财富号
</a>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getShoucTouzi'>
主题投资
</a>
</div>
</div>