<p class='zhuye-head' style='display:none'><i></i></p>
<div class='choose clearfix' id='zhuye-head'>
     <a href='javascript:void(0)' class='choose-i  clearfix' data-id='getRandom'>随机推荐</a>
     <a href='javascript:void(0)' class='choose-i  clearfix' data-id='getHot'>市场热点</a>
     <a href='javascript:void(0)' class='choose-i active  clearfix' data-id='getWatched'>我关注的</a>
</div>
<a href='javascript:void(0)' class='zhuye-head-reload' title='重置刷新' id='zhuye-head-reload' style='display:none'></a>
<div class='search-art'>
<input type='text' class='search-ipt' data-p='true' placeholder='搜索你想要的相关内容'>
<a href="#" class='search-submit'></a>
</div>
