<div class="o-stock-base">
    <div class="o-stock-name clearfix">
        <div class="o-stock-name-a">
            <a href="http://quote.eastmoney.com/sh600988.html" class="tit" target="_blank">
                <span class="sp1">腾讯控股</span>
                <span class="sp2">(00700)</span>
             </a>
        </div>
        <div class="o-stock-name-b">
            <span class="bckclose">已收盘</span>
        </div>
        <div class="o-stock-name-c">
            <span title="港股">港</span>
        </div>
        <div class="o-stock-name-d">
            <a href="http://quote.eastmoney.com/center/list.html#mk0144_1" class="ggt" title="查看港股通" target="_blank">港股通</a>
        </div>
        <div class="o-stock-name-e">
            <a href="javaascript:void(0)" class="addzx" target="_blank">+添加自选股</a>
        </div>
    </div>
    <div class="o-stock-price clearfix">
        <div class="o-stock-price-t">
            <h1 class="down3">456.32</h1>
            <i></i>
            <span class="down3">-16.43%</span>
            <span class="down3">-1.31</span>
            <b>(港元)</b>
        </div>
    </div>
    <div class="o-stock-link clearfix">
        <a href="#">[股吧]</a>
        <a href="http://emweb.securities.eastmoney.com/PC_HKF10/CoreReading/index?type=web&code=00700&color=b">[F10核心资料]</a>
        <a href="http://data.eastmoney.com/cjsj/foreign_8_0.html">[香港经济数据]</a>
    </div>
    <div class="o-stock-info clearfix">
        <table>
            <tr>
                <td>今开：430.32</td>
                <td>最高：430.32</td>
                <td>成交量：3444.32万</td>
                <td>昨收：430.32</td>
                <td>最低：430.32</td>
                <td>成交额：17.32亿</td>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
</div>