<div class="a-stock-bk">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-bk.png">
            <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="a1" title="查看详细内容" target="_blank">相关板块</a>
        </div>
        <div class="fl mt14">
            <a href="#">贵金属板块</a>
            <a href="#">黄金概念</a>
            <a href="#">人民币贬值</a>
            <a href="#">有色冶炼</a>
            <a href="http://data.eastmoney.com/zjlx/" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
    <div class="a-stock-bk-table a-stock-cbbox clearfix">
            <table>
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>指数</th>
                        <th>今日涨跌幅</th>
                        <th>本周涨跌幅</th>
                        <th>本月涨跌幅</th>
                        <th>今日换手率</th>
                        <th>今日成交量</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><a href="#">贵金属<br>(BK03232)</a></td>
                            <td class="green">2235.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">黄金概念<br>(BK78372)</a></td>
                            <td class="red">35.57</td>
                            <td class="red">+6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">人民币贬值<br>(BK332)</a></td>
                            <td class="green">315.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">稀有资源<br>(BKa8773)</a></td>
                            <td class="green">35.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">有色金属<br>(BK39222)</a></td>
                            <td class="green">35.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                </tbody>
            </table>
    </div>
</div>