<div class="a-stock-history">
    <h1>上市时间：2004年03月28日</h1>
    <p>
        <span class="sp1">发行价格：</span>
        <span>45.32元</span>
    </p>
    <p>
        <span class="sp1">历史最高价：</span>
        <span>123.34元<b>2015年05月28日</b></span>
    </p>
    <p>
        <span class="sp1">历史最低价：</span>
        <span>3.34元<b>2016年12月28日</b></span>
    </p>
</div>