<div class="a-stock-jj">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-jj.png">
            <a href="http://data.eastmoney.com/gpzy/" class="a1" title="查看详细内容" target="_blank">相关解禁</a>
        </div>
        <div class="fl mt14">
            <a href="#">为何大股东选择此时质押？</a>
            <a href="#">质押不担心，为了业绩飙升</a>
            <a href="http://data.eastmoney.com/dxf/" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
   <div class="a-stock-jj-txt a-stock-cbbox"><span>最近解禁日：<em class="red">2020年3月20日</em>，将解禁<em class="red">1.29亿</em>股</span></div>
</div>