<div class="a-stock-jyfx">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-jyfx.png">
            <a href="http://f10.eastmoney.com/BusinessAnalysis/Index?type=web&code=SH600988#" class="a1" title="查看详细内容" target="_blank">经营分析</a>
        </div>
    </div>
    <div class="a-stock-jyfx-list a-stock-cbbox clearfix">
        <!-- <img src="../images/ico/gd.png" class="gdrs-img"> -->
        <h1>从事货物与技术的进出口业务;贵金属、有色金属购销;对采矿业及其他国家允许投资的行业的投资与管理。</h1>
        <div class="a-stock-jyfx-jzrq">*截止2019年12月31日：</div>
        <div class="a-stock-jyfx-draw clearfix">
            <div class="clearfix">
                <h1>按产品</h1>
                <P class="lb clearfix">
                    <span class="clearfix"><i class="i1"></i>电解铜「50.32%」</span>
                    <span class="clearfix"><i class="i2"></i>黄金「40.32%」</span>
                    <span class="clearfix"><i class="i3"></i>白银「20.32%」</span>
                    <span class="clearfix"><i class="i4"></i>钯「10.32%」</span>
                    <span class="clearfix"><i class="i5"></i>其它「0.42%」</span>
                    <span class="clearfix"><i class="i6"></i>铅「0.32%」</span>
                    <span class="clearfix"><i class="i7"></i>锌精粉「0.22%」</span>
                </P>
                <div class="fl">
                    <img src="../images/ico/jyfx1.png">
                </div>
            </div>
            <div class="clearfix">
                <h1>按业务</h1>
                <P class="lb clearfix">
                    <span class="clearfix"><i class="i1"></i>3C</span>
                    <span class="clearfix"><i class="i2"></i>数码</span>
                </P>
                <div class="fl">
                    <img src="../images/ico/jyfx1.png">
                </div>
            </div>
            <div class="clearfix">
                <h1>按地区</h1>
                <P class="lb clearfix">
                    <span class="clearfix"><i class="i1"></i>湖南</span>
                    <span class="clearfix"><i class="i2"></i>上海</span>
                    <span class="clearfix"><i class="i3"></i>北京</span>
                    <span class="clearfix"><i class="i4"></i>深圳</span>
                    <span class="clearfix"><i class="i5"></i>西藏</span>
                </P>
                <div class="fl">
                    <img src="../images/ico/jyfx1.png">
                </div>
            </div>
        </div>
    </div>
</div>