<div class="o-stock-name clearfix">
    <div class="o-stock-name-t">
        <a href="http://quote.eastmoney.com/sh600988.html" class="tit" target="_blank">
            <span class="sp1">腾讯控股</span>
            <span class="sp2">(00700)</span>
         </a>
    </div>
    <div class="o-stock-name-b a-stock-base-price">
        <div class="clearfix">
            <span class="sp1 red">35.54</span>
            <i></i>
        </div>
        <div class="clearfix">
            <span class="sp2 red">+1.32</span>
            <span class="sp2 red">+10.00%</span>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://guba.eastmoney.com/list,600988.html" target="_blank">[股吧]</a>
                <a href="http://guba.eastmoney.com/qa/qa_search.aspx?company=600988&keyword=&questioner=&qatype=1" target="_blank">[问董秘]</a>
                <a href="#">[H股]</a>
            </p>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://data.eastmoney.com/stockdata/600988.html" target="_blank" class="mr12">[数据]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#zjdx" target="_blank" class="mr12">[资金]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#jzpg" target="_blank">[价值]</a>
            </p>
        </div>
        <div class="link mt5">
            <p>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#zlkp" class="mr12" target="_blank">[主力]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#yqjk" class="mr12" target="_blank">[舆情]</a>
                <a href="http://data.eastmoney.com/stockcomment/stock/600988.html#qsyp" target="_blank">[趋势]</a>
            </p>
        </div>
        <div class="addstock">
            <a href="#" target="_self">＋添加自选股</a>
        </div>
    </div>
    <!-- <a href="http://emweb.securities.eastmoney.com/PC_HKF10/CoreReading/index?type=web&code=00700&color=b" class="jxban" target="_blank">核心必读</a>
    <a href="#" class="jxban" target="_blank">公司回购</a>
    <a href="#" class="ccjj" target="_blank">查看持股基金</a>
    <a href="#" class="ccjj" target="_blank">查看深度数据</a>
    <a href="#" class="ccjj" target="_blank">查看日历</a>
    <a href="#" class="ccjj" target="_blank">查看百科</a> -->
</div>