<div class="a-stock-yidong">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-yd.png">
            <a href="http://quote.eastmoney.com/changes/stocks/sh600988.html" class="a1" target="_blank">今日异动</a>
        </div>
        <div class="fl mt14">
            <a href="#">贵金属概念异动</a>
            <a href="#">黄金概念异动</a>
            <a href="#">人民币贬值异动</a>
            <a href="http://quote.eastmoney.com/changes/" class="a2" target="_blank">查看更多异动</a>
        </div>
    </div>
    <div class="a-stock-yidong-list a-stock-cbbox">
        <div class="a-stock-yidong-list-head clearfix">
                <span>时间</span>
                <span>类型</span>
                <span>详情</span>
                <span>价格</span>
                <span>涨跌幅</span>
                <span>实际成交(手)</span>
                <a href="#" class="reload-yd" title="刷新数据"></a>
        </div>
        <div class="a-stock-yidong-cont">
            <div class="clearfix mb5">
                    <span>10:55:33</span>
                    <span class="up">大笔买入</span>
                    <span class="up">1.68万手</span>
                    <span class="up">8.25</span>
                    <span class="up">+2.56%</span>
                    <span>400</span>
            </div>
            <div class="clearfix mb5">
                    <span>10:30:21</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>10:27:54</span>
                    <span class="up">封涨停板</span>
                    <span class="up">13.31元</span>
                    <span class="up">13.31</span>
                    <span class="up">+10.05%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>10:02:33</span>
                    <span class="up">火箭发射</span>
                    <span class="up">10.00%</span>
                    <span class="up">13.31</span>
                    <span class="up">+10.05%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>10:00:00</span>
                    <span class="up">快速反弹</span>
                    <span class="up">1.98%</span>
                    <span class="up">11.25</span>
                    <span class="up">+1.98%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:58:56</span>
                    <span class="down">60日新高</span>
                    <span class="down">12.11元</span>
                    <span class="down">12.10</span>
                    <span>0.00%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">打开涨停板</span>
                    <span class="down">13.31元</span>
                    <span class="down">13.31</span>
                    <span class="up">+10.00%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">高台跳水</span>
                    <span class="down">1.24%</span>
                    <span class="down">81.25</span>
                    <span class="up">+1.24%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
            <div class="clearfix mb5">
                    <span>09:55:33</span>
                    <span class="down">大笔卖出</span>
                    <span class="down">1.68万手</span>
                    <span class="down">81.25</span>
                    <span class="up">+2.56%</span>
                    <span>111400</span>
            </div>
        </div>
        <div class="a-stock-yidong-result">
            <div class="domore clearfix">
                <div class="tit fl">
                    <p>
                        <span>多方异动成交量：</span>
                        <em class="up">498765</em>
                    </p>
                </div>
                <div class="kit fl clearfix">
                        <span data-yd-status="bigbuy">∽大笔买单：<em>123</em>次</span>
                        <span data-yd-status="bigbuy">∽火箭升空：<em>123</em>次</span>
                        <span data-yd-status="bigbuy">∽封涨停板：<em>123</em>次</span>
                        <span data-yd-status="bigbuy">∽快速反弹：<em>123</em>次</span>
                        <span data-yd-status="bigbuy">∽60日新高：<em>123</em>次</span>
                </div>
            </div>
            <div class="domore clearfix">
                <div class="tit fl">
                    <p>
                        <span>空方异动成交量：</span>
                        <em class='down'>3000</em>
                    </p>
                </div>
                <div class="kit fl clearfix">
                    <span data-yd-status="bigbuy">∽大笔卖单：<em>123</em>次</span>
                    <span data-yd-status="bigbuy">∽打开涨停板：<em>123</em>次</span>
                    <span data-yd-status="bigbuy">∽高台跳水：<em>123</em>次</span>
                    <span data-yd-status="bigbuy">∽有大卖盘：<em>123</em>次</span>
                </div>
            </div>
        </div>
    </div>
</div>