<div class="a-stock-zjl">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-zjl.png">
            <a href="http://data.eastmoney.com/zjlx/600988.html" class="a1" target="_blank">今日资金流</a>
        </div>
        <div class="fl mt14">
            <a href="#">贵金属资金流</a>
            <a href="#">黄金概念资金流</a>
            <a href="#">人民币贬值资金流</a>
            <a href="http://data.eastmoney.com/zjlx/" class="a2" target="_blank">查看更多资金流</a>
        </div>
    </div>
    <div class="a-stock-zjl-div a-stock-cbbox">
        <div class="a-stock-zjl-table clearfix">
            <div class="a-stock-zjl-list">
                <table>
                        <thead>
                            <tr>
                                <th>类型</th>
                                <th>净额</th>
                                <th>净占比</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>超大单净流入</td>
                                    <td class="green">-3578.45万</td>
                                    <td class="green">-6.43%</td>
                                </tr>
                                <tr>
                                    <td>大单净流入</td>
                                    <td class="green">-3578.45万</td>
                                    <td class="green">-6.43%</td>
                                </tr>
                                <tr>
                                    <td>中单净流入</td>
                                    <td class="green">-3578.45万</td>
                                    <td class="green">-6.43%</td>
                                </tr>
                                <tr>
                                    <td>小单净流入</td>
                                    <td class="red">78.45万</td>
                                    <td class="red">+6.43%</td>
                                </tr>
                        </tbody>
                    </table>
            </div>
            <div class="a-stock-zjl-list">
                    <table>
                            <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>流入</th>
                                    <th>流出</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>超大单</td>
                                        <td class="green">-3578.45万</td>
                                        <td class="green">-3578.45万</td>
                                    </tr>
                                    <tr>
                                        <td>大单</td>
                                        <td class="green">-3578.45万</td>
                                        <td class="green">-3578.45万</td>
                                    </tr>
                                    <tr>
                                        <td>中单</td>
                                        <td class="green">-3578.45万</td>
                                        <td class="green">-3578.45万</td>
                                    </tr>
                                    <tr>
                                        <td>小单</td>
                                        <td class="green">-3578.45万</td>
                                        <td class="green">-3578.45万</td>
                                    </tr>
                            </tbody>
                        </table>
            </div>
        </div>
        <div class="a-stock-zjl-result clearfix">
            <div class="clearfix tit fl">
                <p>
                    <span>主力净流入：</span>
                    <em class="green">-1232万</em>元
                </p>
            </div>
            <div class="clearfix fl ml20">
                    <span>∽主力流入：<em class="red">+1232万</em>元</span>
                    <span>∽主力流出：<em class="green">-7564万</em>元</span>
            </div>
        </div>
    </div>
</div>