<div class="a-stock-zy">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-zy.png">
            <a href="http://data.eastmoney.com/gpzy/" class="a1" title="查看详细内容" target="_blank">相关质押</a>
        </div>
        <div class="fl mt14">
            <a href="#">西藏矿业大股东突发质押</a>
            <a href="#">连阿里股份也卖了！软银孙正义400万股</a>
            <a href="http://data.eastmoney.com/gpzy/" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
    <div class="a-stock-zy-txt a-stock-cbbox">
        <span>截止2020-04-17，质押比例<em class="red">20.87%</em>。质押股数<em class="red">34730.51万</em>股，质押市值<em class="red">1.32亿</em>元</span>
    </div>
</div>