<div class='guba_head'>
<div class='choose clearfix' id='guba-head'>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getGubaPosting'>
我的帖子
</a>
<a href='javascript:void(0)' class='choose-i  clearfix' data-id='getGubaReply'>
我的回复
</a>
<a href='javascript:void(0)' class='choose-i   clearfix' data-id='getGubaReplyMe'>
回复我的
</a>
<a href='javascript:void(0)' class='choose-i   clearfix' data-id='getGubaZan'>
称赞我的
</a>
<a href='javascript:void(0)' class='choose-i   clearfix' data-id='getGubaInv'>
提到我的
</a>
<a href='javascript:void(0)' class='choose-i   clearfix' data-id='getWenDongMi'>
问董秘
</a>
</div>
</div>