<div class='jifen-my'>
   <div class="jifen-action">
      <div class="jifen-action-t clearfix">
         <div class="dv1">
            <span class="sp1">677分</span>
         </div>
         <div class="dv2 clearfix">
             <div class="ckin active">
                <a href="#">
                   <span class="sp1">今天</span>
                   <span class="sp2">+3</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">明天</span>
                   <span class="sp2">+3</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">后天</span>
                   <span class="sp2">+3</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">10-25</span>
                   <span class="sp2">+3</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">10-26</span>
                   <span class="sp2">+6</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">10-27</span>
                   <span class="sp2">+6</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">10-28</span>
                   <span class="sp2">+6</span>
                </a>
             </div>
             <div class="ckin">
                <a href="#">
                   <span class="sp1">10-29</span>
                   <span class="sp2">+6</span>
                </a>
             </div>
         </div>
      </div>
   </div>
   <div class="jifen-mission">
      <div class="daily">
          <h1>日常任务</h1>
          <div class="daydv clearfix">
             <div class="task-1 clearfix">
                <div class="dv1">
                     <img src="../images/ico/task_one.png">
                </div>
                <div class="dv2">
                     <h2>浏览网站五篇资讯<span>(0/5)</span></h2>
                     <p>1分</p>
                </div>
                <div class="dv3">
                   <a href="#" class="gofinish">去完成</a>
                </div>
             </div>
             <div class="task-1 lt clearfix">
                  <div class="dv1">
                       <img src="../images/ico/task_two.png">
                  </div>
                  <div class="dv2">
                       <h2>发布财富号自媒体文章<span>(0/1)</span></h2>
                       <p>1分</p>
                  </div>
                  <div class="dv3">
                     <a href="#" class="gofinish">去完成</a>
                  </div>
               </div>
          </div>
      </div>
      <div class="advanced">
         <h1>进阶任务</h1>
         <div class="daydv clearfix">
               <div class="task-1 clearfix">
                  <div class="dv1">
                       <img src="../images/ico/task_three.png">
                  </div>
                  <div class="dv2">
                       <h2>首次绑定A股账户</h2>
                       <p>100分</p>
                  </div>
                  <div class="dv3">
                     <a href="#" class="gofinish">去完成</a>
                  </div>
               </div>
               <div class="task-1 lt clearfix">
                    <div class="dv1">
                         <img src="../images/ico/task_five.png">
                    </div>
                    <div class="dv2">
                         <h2>绑定手机</h2>
                         <p>20分</p>
                    </div>
                    <div class="dv3">
                       <a href="#" class="gofinish">去完成</a>
                    </div>
                 </div>
         </div>
         <div class="daydv clearfix">
               <div class="task-1 lt clearfix">
                     <div class="dv1">
                          <img src="../images/ico/task_six.png">
                     </div>
                     <div class="dv2">
                          <h2>开通融资融券账户</h2>
                          <p>500分</p>
                     </div>
                     <div class="dv3">
                        <a href="#" class="gofinish">去完成</a>
                     </div>
                  </div>
         </div>
      </div>
   </div>
</div>