<div class="a-stock-yj">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-yj.png">
            <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="a1" title="查看详细内容" target="_blank">业绩一览</a>
        </div>
    </div>
    <div class="a-stock-yj-table clearfix">
            <table>
                <thead>
                    <tr>
                        <th>截止日期</th>
                        <th>预计利润(元)</th>
                        <th>变动幅度</th>
                        <th>预告类型</th>
                        <th>上年同期净利润(元)</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>2020-06-31</td>
                            <td>2873万~3889万</td>
                            <td class="red">233.43%~432.65%</td>
                            <td class="red">盈利</td>
                            <td>2947万</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                        <tr>
                            <td>2020-12-31</td>
                            <td>130亿</td>
                            <td class="green">22.43%~42.65%</td>
                            <td class="green">亏损</td>
                            <td>2947万</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                        <tr>
                            <td>2020-03-31</td>
                            <td>130亿</td>
                            <td class="green">22.43%~42.65%</td>
                            <td class="green">亏损</td>
                            <td>2947万</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                        <tr>
                            <td>2019-12-31</td>
                            <td>130亿</td>
                            <td class="green">22.43%~42.65%</td>
                            <td class="green">亏损</td>
                            <td>2947万</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                </tbody>
            </table>
    </div>
</div>