<div class="a-stock-xg">
    <div class="a-stock-linktitle clearfix">
        <div class="fl mr10">
            <img src="../images/ico/stock-xg.png">
            <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="a1" title="查看详细内容" target="_blank">相关股票</a>
        </div>
        <div class="fl mt14">
            <a href="#">园城黄金</a>
            <a href="#">洛阳黄金</a>
            <a href="http://data.eastmoney.com/zjlx/" class="a2" target="_blank">查看更多</a>
        </div>
    </div>
    <div class="a-stock-xg-table clearfix">
            <table>
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>价格</th>
                        <th>今日涨跌幅</th>
                        <th>本周涨跌幅</th>
                        <th>本月涨跌幅</th>
                        <th>今日换手率</th>
                        <th>今日成交量</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><a href="#">山东黄金<br>(600850)</a></td>
                            <td class="green">35.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">二六三<br>(600850)</a></td>
                            <td class="red">35.57</td>
                            <td class="red">+6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">贵州茅台<br>(600850)</a></td>
                            <td class="green">315.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">中兵红箭<br>(600850)</a></td>
                            <td class="green">35.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                        <tr>
                            <td><a href="#">中国重工<br>(600850)</a></td>
                            <td class="green">35.57</td>
                            <td class="green">-6.43%</td><td class="red">+16.43%</td>
                            <td class="red">+36.43%</td>
                            <td>12.13%</td>
                            <td>9033.33万</td>
                        </tr>
                </tbody>
            </table>
    </div>
</div>