<% if (!data.b.IsSuccess) { %>
    <div class="search-result-module-stockitem clearfix">
        <div class="stockitem-name clearfix">
            <a href="#" target="_blank">赤峰黄金(600988)</a>
            <a href="#" class="addstock" target="_self">添加自选股</a>
            <a href="#" class="jxban" target="_blank">操盘必读</a>
            <a href="#" class="ccjj" target="_blank">查看企业信用</a>
            <a href="#" class="jxban" target="_blank">查看极速版行情</a>
            <a href="#" class="ccjj" target="_blank">查看持股基金</a>
            <a href="#" class="ccjj" target="_blank">查看深度数据</a>
            <a href="#" class="ccjj" target="_blank">查看日历</a>
            <a href="#" class="ccjj" target="_blank">查看百科</a>
            <div>
                <a href="#">龙虎榜</a>
            </div>
        </div>
        <div class="clearfix">
            <div class="fl wd700" style="border-right: 10px solid #e2faff;">
                <div class="stockitem-cont clearfix">
                    <div class="clearfix">
                            <div class="fl mr15">
                                    <div class="price clearfix">
                                        <span class="sp1 red">35.54</span>
                                        <i></i>
                                    </div>
                                    <div class="price clearfix">
                                        <span class="sp2 red">+1.32</span>
                                        <span class="sp2 red">+10.00%</span>
                                    </div>
                                    <div class="link mt5">
                                        <p>
                                            <a href="#">[股吧]</a>
                                            <a href="#">[悬赏问]</a>
                                            <a href="#">[问董秘]</a>
                                        </p>
                                    </div>
                                    <div class="status">
                                        <p class="mt10">
                                            <span>沪</span>
                                            <span>上证50</span>
                                           
                                        </p>
                                    </div>
                                </div>
                                <div class="fl wd533">
                                    <div class="clearfix">
                                        <div class="time clearfix">
                                            <p class="fl">2020-03-07&nbsp;星期二&nbsp;14:51</p>
                                            <p class="fl jyz">开盘中</p>
                                                 <!-- <p class="status xsz">休市中</p>
                                                <p class="status tpz">停牌中</p>
                                                <p class="status tsz">退市中</p> -->
                                        </div>
                                            <div class="source fl">
                                                <p class="clearfix">
                                                    <span>今开：<em class="green">35.24</em></span>
                                                    <span>最高：<em class="red">35.24</em></span>
                                                    <span>涨停：<em class="red">45.24</em></span>
                                                    <span>成交量：80万手</span>
                                                </p>
                                                <p class="clearfix">
                                                    <span>昨收：<em class="red">20.24</em></span>
                                                    <span>最低：<em class="red">20.18</em></span>
                                                    <span>跌停：<em class="green">10.18</em></span>
                                                    <span>成交额：500亿</span>
                                                </p>
                                                <p class="clearfix">
                                                    <span>换手率：13.33%</span>
                                                    <span>市盈率(动)：899</span>
                                                    <span>流通股本：1444亿</span>
                                                    <span>流通市值：8763.3万</span>
                                                </p>
                                            </div>
                                    </div>
                                </div>
                    </div>
                    <div class="clearfix mt10">
                        <div class="clearfix">
                            <a href="//same.eastmoney.com/c?z=eastmoney&amp;la=0&amp;si=1&amp;cg=86&amp;c=1063&amp;ci=1&amp;or=47&amp;l=10879&amp;bg=10879&amp;b=16261&amp;u=https%3A%2F%2Facttg.eastmoney.com%2Fpub%2Fweb_kh_dchqy_zt_01_01_01_0" target="_blank"><img src="//g1.dfcfw.com/g3/201902/20190225163634.gif" style="width: 690px;height:34px;border:none;"></a>
                        </div>
                    </div>
                    <div class="clearfix mt10">
                            <%-include("./video.ejs")%> 
                        </div>
                    <div class="clearfix mt10">
                        <div class="stockitem-pictxt clearfix">
                            <div class="draw">
                                <ul class="clearfix">
                                    <li class="active">
                                        <a href="#">分时图</a>
                                    </li>
                                    <li>
                                        <a href="#">日K</a>
                                    </li>
                                    <li>
                                        <a href="#">周K</a>
                                    </li>
                                    <li>
                                        <a href="#">月K</a>
                                    </li>
                                    <li>
                                        <a href="#">年K</a>
                                    </li>
                                </ul>
                                <div class="mt10">
                                    <img src="../images/ico/stock.png" width="100%" height="350">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix mt10">
                        <div class="about-yd">
                            <div class="clearfix">
                                <a href="http://quote.eastmoney.com/changes/stocks/sh600988.html" class="stockitem-title-link" target="_blank">单日异动<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#">贵金属概念异动</a>
                                    <a href="#">黄金概念异动</a>
                                    <a href="#">人民币贬值异动</a>
                                    <a href="http://quote.eastmoney.com/changes/" target="_blank">查看更多异动</a>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="about-yd-list">
                                    <div class="about-yd-list-head clearfix">
                                            <span>时间</span>
                                            <span>类型</span>
                                            <span>详情</span>
                                            <span>价格</span>
                                            <span>涨跌幅</span>
                                            <span>实际成交(手)</span>
                                            <a href="#" class="reload-yd" title="刷新数据"></a>
                                    </div>
                                    <div class="about-yd-list-cont">
                                        <div class="clearfix mb5">
                                                <span>10:55:33</span>
                                                <span class="red">大笔买入</span>
                                                <span class="red">1.68万手</span>
                                                <span class="red">8.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:30:21</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:27:54</span>
                                                <span class="red">封涨停板</span>
                                                <span class="red">13.31元</span>
                                                <span class="red">13.31</span>
                                                <span class="red">+10.05%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:02:33</span>
                                                <span class="red">火箭发射</span>
                                                <span class="red">10.00%</span>
                                                <span class="red">13.31</span>
                                                <span class="red">+10.05%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:00:00</span>
                                                <span class="red">快速反弹</span>
                                                <span class="red">1.98%</span>
                                                <span class="red">11.25</span>
                                                <span class="red">+1.98%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:58:56</span>
                                                <span class="green">60日新高</span>
                                                <span class="green">12.11元</span>
                                                <span class="green">12.10</span>
                                                <span>0.00%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">打开涨停板</span>
                                                <span class="green">13.31元</span>
                                                <span class="green">13.31</span>
                                                <span class="red">+10.00%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">高台跳水</span>
                                                <span class="green">1.24%</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+1.24%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                    </div>
                                    <div class="about-yd-sum">
                                        <div class="domore clearfix">
                                            <div class="tit fl">
                                                <p>
                                                    <span>多方异动成交量：</span>
                                                    <em>498765</em>
                                                </p>
                                            </div>
                                            <div class="kit fl clearfix">
                                                    <span>∽大笔买单：<em>123</em>次</span>
                                                    <span>∽火箭升空：<em>123</em>次</span>
                                                    <span>∽封涨停板：<em>123</em>次</span>
                                                    <span>∽快速反弹：<em>123</em>次</span>
                                                    <span>∽60日新高：<em>123</em>次</span>
                                            </div>
                                        </div>
                                        <div class="domore clearfix">
                                            <div class="tit fl">
                                                <p>
                                                    <span>空方异动成交量：</span>
                                                    <em class='green'>3000</em>
                                                </p>
                                            </div>
                                            <div class="kit fl clearfix">
                                                <span>∽大笔卖单：<em>123</em>次</span>
                                                <span>∽打开涨停板：<em>123</em>次</span>
                                                <span>∽高台跳水：<em>123</em>次</span>
                                                <span>∽有大卖盘：<em>123</em>次</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clearfix mt10">
                            <div class="about-zjl">
                                <div class="clearfix">
                                        <a href="http://data.eastmoney.com/zjlx/600988.html" class="stockitem-title-link" target="_blank">单日资金流<i class="ysj"></i></a>
                                        <div class="fl about-yd-qt">
                                            <a href="#">贵金属资金流</a>
                                            <a href="#">黄金概念资金流</a>
                                            <a href="#">人民币贬值资金流</a>
                                            <a href="http://data.eastmoney.com/zjlx/" target="_blank">查看更多资金流</a>
                                        </div>
                                </div>
                                <div class="about-zjl-table clearfix">
                                    <div class="about-zjl-list">
                                        <table>
                                                <thead>
                                                    <tr>
                                                        <th>类型</th>
                                                        <th>净额</th>
                                                        <th>净占比</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                            <td>超大单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>大单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>中单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>小单净流入</td>
                                                            <td class="red">78.45万</td>
                                                            <td class="red">+6.43%</td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="about-zjl-list">
                                            <table>
                                                    <thead>
                                                        <tr>
                                                            <th>类型</th>
                                                            <th>流入</th>
                                                            <th>流出</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                <td>超大单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>大单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>中单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>小单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                    </div>
                                    <a href="#" class="reload-yd" title="刷新数据"></a>
                                </div>
                                <div class="about-zjl-sum">
                                    <div class="clearfix tit fl">
                                        <p>
                                            <span>主力净流入：</span>
                                            <em class="green">-1232</em>万元
                                        </p>
                                    </div>
                                    <div class="clearfix fl">
                                            <span>∽主力流入：<em>1232</em>万元</span>
                                            <span>∽主力流出：<em>-7564</em>万元</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix mt10">
                        <div class="zyjj">
                            <div class="clearfix">
                                <a href="http://data.eastmoney.com/gpzy/" class="stockitem-title-link" target="_blank">质押<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#" title="西藏矿业大股东突发质押4344万股">西藏矿业大股东突发质押</a>
                                    <a href="#" title="大森机电股东赵晓东质押400万股 用于为贷款提供股权质押担保">大森机电股东赵晓东质押400万股</a>
                                    <a href="#" title="连阿里股份也卖了！软银孙正义股权质押提至60% 问题还不止“缺钱”">连阿里股份也卖了！软银孙正义股</a>
                                    <a href="http://data.eastmoney.com/gpzy/" target="_blank">查看更多质押</a>
                                </div>
                            </div>
                            <p>
                                <span>截止2020-04-17，质押比例<em>20.87</em>%。质押股数<em>34730.51</em>万股，质押市值<em>1.32</em>亿元</span>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix mt20">
                        <div class="zyjj">
                            <div class="clearfix">
                                <a href="http://data.eastmoney.com/gpzy/" class="stockitem-title-link" target="_blank">解禁<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#" title="西藏矿业大股东突发质押4344万股">解禁1234343</a>
                                    <a href="#" title="大森机电股东赵晓东质押400万股 用于为贷款提供股权质押担保">解禁供股权质押担</a>
                                    <a href="#" title="连阿里股份也卖了！软银孙正义股权质押提至60% 问题还不止“缺钱”">解禁</a>
                                    <a href="http://data.eastmoney.com/dxf/" target="_blank">查看更多解禁</a>
                                </div>
                            </div>
                            <p><span>到2022-11-14，将解禁<em>1.29</em>亿股</span></p>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix mt10">
                        <%-include("./others.ejs")%> 
                    </div>
            </div>
            <div class="fl wd290">
                <div class="stockitem-part">
                    <div class="about-stock mb10">
                        <div class="mb3">
                            <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="stockitem-title-link" target="_blank">相关股票<i class="ysj"></i></a>
                        </div>
                        <div class="pl10">
                                <table>
                                        <tr>
                                                <td><a href="#">山东黄金</a></td>
                                                <td class="red">35.61</td>
                                                <td class="red">10.00%</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">二六三</a></td>
                                                <td class="red">3115.61</td>
                                                <td class="red">1000.00%</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">ST个股</a></td>
                                                <td class="green">0.22</td>
                                                <td class="green">5.30%</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">ST个股</a></td>
                                                <td class="green">0.22</td>
                                                <td class="green">5.30%</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">ST个股</a></td>
                                                <td class="green">0.22</td>
                                                <td class="green">5.30%</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">ST个股</a></td>
                                                <td class="green">0.22</td>
                                                <td class="green">5.30%</td>
                                            </tr>
                                    </table>
                        </div>
                    </div>
                    <div class="about-bk mb10">
                            <div class="mb3"><a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="stockitem-title-link" target="_blank">相关板块<i class="ysj"></i></a></div>
                           <div class="pl10">
                                <table>
                                        <tr>
                                            <td><a href="#">黄金概念</a></td>
                                            <td class="red">10.00%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">人民币贬值收益</a></td>
                                            <td class="red">10.00%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">稀有资源</a></td>
                                            <td class="red">0.00%</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">贵金属</a></td>
                                            <td class="red">10.00%</td>
                                        </tr>
                                    </table>
                           </div>
                    </div>
                    <div class="about-yj mb10">
                            <div class="mb3"><a href="http://data.eastmoney.com/bbsj/600988.html" class="stockitem-title-link" target="_blank">相关业绩<i class="ysj"></i></a></div>
                            <div class="pl10">
                                    <table>
                                            <thead>
                                                <tr>
                                                    <th>截止日期</th>
                                                    <th>预计净利润(元)</th>
                                                    <th>类型</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2020-03-31</td>
                                                    <td>
                                                        <p>8.20亿～9.20亿</p>
                                                        <p class="red">112.57%～138.49%</p>
                                                    </td>
                                                    <td class="bjup"><img src="../images/ico/bjup.png">预增</td>
                                                </tr>
                                                 <tr>
                                                    <td>2020-01-31</td>
                                                    <td>
                                                        <p>1438.20亿～9223.20亿</p>
                                                        <p class="green">1112.57%～1384.49%</p>
                                                    </td>
                                                    <td class="bjdown"><img src="../images/ico/bjdown.png">预减</td>
                                                </tr>
                                                <tr>
                                                    <td>2020-01-31</td>
                                                    <td>
                                                        <p>148.20亿～923.20亿</p>
                                                        <p class="green">12.57%～134.49%</p>
                                                    </td>
                                                    <td class="bjdown"><img src="../images/ico/bjdown.png">预减</td>
                                                </tr>
                                                <tr>
                                                    <td>2020-01-31</td>
                                                    <td>
                                                        <p>18.20亿～922.20亿</p>
                                                        <p class="green">2.57%～4.49%</p>
                                                    </td>
                                                    <td class="bjdown"><img src="../images/ico/bjdown.png">预减</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                            </div>
                    </div>
                    <div class="about-ts">
                            <div class="mb3"> <a href="http://data.eastmoney.com/notices/stock/600988.html" class="stockitem-title-link" target="_blank">相关提示<i class="ysj"></i></a></div>
                            <div class="pl10">
                                    <table>
                                            <thead>
                                                <tr>
                                                    <th>类型</th>
                                                    <th>内容</th>
                                                    <th>日期</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="wd55">行政处罚</td>
                                                    <td><a href="#" title="对赤峰吉隆黄金矿业股份有限公司及有关责任人予以通报批评">对赤峰吉隆黄金矿业股...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">资产重组</td>
                                                    <td><a href="#" title="赤峰黄金收购报告书">赤峰黄金收购报告书</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">重大事项</td>
                                                    <td><a href="#" title="关于赤峰黄金为子公司担包">关于赤峰黄金为子公司担...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">持股变动</td>
                                                    <td><a href="#" title="关于赤峰黄金股东集中竞价减持公告">关于赤峰黄金股东集中...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">风险警告</td>
                                                    <td><a href="#" title="关于赤峰黄金股股价异常公告">关于赤峰黄金股股价异常...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>