<% if (!data.b.IsSuccess) { %>
    <div class="search-result-module-stockitem clearfix">
        <div class="stockitem-name clearfix">
            <a href="#" target="_blank">赤峰黄金(600988)</a>
            <a href="#" class="addstock" target="_self">添加自选股</a>
            <a href="#" class="jxban" target="_blank">操盘必读</a>
            <a href="#" class="ccjj" target="_blank">查看企业信用</a>
            <a href="#" class="jxban" target="_blank">查看极速版行情</a>
            <a href="#" class="ccjj" target="_blank">查看持股基金</a>
            <a href="#" class="ccjj" target="_blank">查看深度数据</a>
            <a href="#" class="ccjj" target="_blank">查看日历</a>
            <a href="#" class="ccjj" target="_blank">查看百科</a>
            <div>
                <a href="#">龙虎榜</a>
            </div>
        </div>
        <div class="clearfix">
            <div class="fl wd700" style="border-right: 5px solid #e2faff;">
                <div class="stockitem-cont clearfix">
                    <div class="clearfix">
                            <div class="fl mr15">
                                    <div class="price clearfix">
                                        <span class="sp1 red">35.54</span>
                                        <i></i>
                                    </div>
                                    <div class="price clearfix">
                                        <span class="sp2 red">+1.32</span>
                                        <span class="sp2 red">+10.00%</span>
                                    </div>
                                    <div class="link mt5">
                                        <p>
                                            <a href="#">[股吧]</a>
                                            <a href="#">[悬赏问]</a>
                                            <a href="#">[问董秘]</a>
                                        </p>
                                    </div>
                                    <div class="status">
                                        <p class="mt10">
                                            <span>沪</span>
                                            <span>上证50</span>
                                           
                                        </p>
                                    </div>
                                </div>
                                <div class="fl wd533">
                                    <div class="clearfix">
                                        <div class="time clearfix">
                                            <p class="fl">2020-03-07&nbsp;星期二&nbsp;14:51</p>
                                            <p class="fl jyz">开盘中</p>
                                                 <!-- <p class="status xsz">休市中</p>
                                                <p class="status tpz">停牌中</p>
                                                <p class="status tsz">退市中</p> -->
                                        </div>
                                            <div class="source fl">
                                                <p class="clearfix">
                                                    <span>今开：<em class="green">35.24</em></span>
                                                    <span>最高：<em class="red">35.24</em></span>
                                                    <span>涨停：<em class="red">45.24</em></span>
                                                    <span>成交量：80万手</span>
                                                </p>
                                                <p class="clearfix">
                                                    <span>昨收：<em class="red">20.24</em></span>
                                                    <span>最低：<em class="red">20.18</em></span>
                                                    <span>跌停：<em class="green">10.18</em></span>
                                                    <span>成交额：500亿</span>
                                                </p>
                                                <p class="clearfix">
                                                    <span>换手率：13.33%</span>
                                                    <span>市盈率(动)：899</span>
                                                    <span>流通股本：1444亿</span>
                                                    <span>流通市值：8763.3万</span>
                                                </p>
                                            </div>
                                    </div>
                                </div>
                    </div>
                    <div class="clearfix mt20">
                        <div class="clearfix">
                            <a href="//same.eastmoney.com/c?z=eastmoney&amp;la=0&amp;si=1&amp;cg=86&amp;c=1063&amp;ci=1&amp;or=47&amp;l=10879&amp;bg=10879&amp;b=16261&amp;u=https%3A%2F%2Facttg.eastmoney.com%2Fpub%2Fweb_kh_dchqy_zt_01_01_01_0" target="_blank"><img src="//g1.dfcfw.com/g3/201902/20190225163634.gif" style="width: 690px;height:34px;border:none;"></a>
                        </div>
                    </div>
                    <div class="clearfix mt20">
                            <%-include("./video.ejs")%> 
                        </div>
                    <div class="clearfix mt20">
                        <div class="stockitem-pictxt clearfix">
                            <div class="draw">
                                <ul class="clearfix">
                                    <li class="active">
                                        <a href="#">分时图</a>
                                    </li>
                                    <li>
                                        <a href="#">日K</a>
                                    </li>
                                    <li>
                                        <a href="#">周K</a>
                                    </li>
                                    <li>
                                        <a href="#">月K</a>
                                    </li>
                                    <li>
                                        <a href="#">年K</a>
                                    </li>
                                </ul>
                                <div class="mt10">
                                    <img src="../images/ico/stock.png" width="100%" height="350">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix mt20">
                        <div class="about-yd">
                            <div class="clearfix">
                                <a href="http://quote.eastmoney.com/changes/stocks/sh600988.html" class="stockitem-title-link" target="_blank">单日异动<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#">贵金属概念异动</a>
                                    <a href="#">黄金概念异动</a>
                                    <a href="#">人民币贬值异动</a>
                                    <a href="http://quote.eastmoney.com/changes/" target="_blank">查看更多异动</a>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="about-yd-list">
                                    <div class="about-yd-list-head clearfix">
                                            <span>时间</span>
                                            <span>类型</span>
                                            <span>详情</span>
                                            <span>价格</span>
                                            <span>涨跌幅</span>
                                            <span>实际成交(手)</span>
                                            <a href="#" class="reload-yd" title="刷新数据"></a>
                                    </div>
                                    <div class="about-yd-list-cont">
                                        <div class="clearfix mb5">
                                                <span>10:55:33</span>
                                                <span class="red">大笔买入</span>
                                                <span class="red">1.68万手</span>
                                                <span class="red">8.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:30:21</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:27:54</span>
                                                <span class="red">封涨停板</span>
                                                <span class="red">13.31元</span>
                                                <span class="red">13.31</span>
                                                <span class="red">+10.05%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:02:33</span>
                                                <span class="red">火箭发射</span>
                                                <span class="red">10.00%</span>
                                                <span class="red">13.31</span>
                                                <span class="red">+10.05%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>10:00:00</span>
                                                <span class="red">快速反弹</span>
                                                <span class="red">1.98%</span>
                                                <span class="red">11.25</span>
                                                <span class="red">+1.98%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:58:56</span>
                                                <span class="green">60日新高</span>
                                                <span class="green">12.11元</span>
                                                <span class="green">12.10</span>
                                                <span>0.00%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">打开涨停板</span>
                                                <span class="green">13.31元</span>
                                                <span class="green">13.31</span>
                                                <span class="red">+10.00%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">高台跳水</span>
                                                <span class="green">1.24%</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+1.24%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                        <div class="clearfix mb5">
                                                <span>09:55:33</span>
                                                <span class="green">大笔卖出</span>
                                                <span class="green">1.68万手</span>
                                                <span class="green">81.25</span>
                                                <span class="red">+2.56%</span>
                                                <span>111400</span>
                                        </div>
                                    </div>
                                    <div class="about-yd-sum">
                                        <div class="domore clearfix">
                                            <div class="tit fl">
                                                <p>
                                                    <span>多方异动成交量：</span>
                                                    <em class="red">498765</em>
                                                </p>
                                            </div>
                                            <div class="kit fl clearfix">
                                                    <span>∽大笔买单：<em>123</em>次</span>
                                                    <span>∽火箭升空：<em>123</em>次</span>
                                                    <span>∽封涨停板：<em>123</em>次</span>
                                                    <span>∽快速反弹：<em>123</em>次</span>
                                                    <span>∽60日新高：<em>123</em>次</span>
                                            </div>
                                        </div>
                                        <div class="domore clearfix">
                                            <div class="tit fl">
                                                <p>
                                                    <span>空方异动成交量：</span>
                                                    <em class='green'>3000</em>
                                                </p>
                                            </div>
                                            <div class="kit fl clearfix">
                                                <span>∽大笔卖单：<em>123</em>次</span>
                                                <span>∽打开涨停板：<em>123</em>次</span>
                                                <span>∽高台跳水：<em>123</em>次</span>
                                                <span>∽有大卖盘：<em>123</em>次</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="clearfix mt20">
                            <div class="about-zjl">
                                <div class="clearfix">
                                        <a href="http://data.eastmoney.com/zjlx/600988.html" class="stockitem-title-link" target="_blank">单日资金流<i class="ysj"></i></a>
                                        <div class="fl about-yd-qt">
                                            <a href="#">贵金属资金流</a>
                                            <a href="#">黄金概念资金流</a>
                                            <a href="#">人民币贬值资金流</a>
                                            <a href="http://data.eastmoney.com/zjlx/" target="_blank">查看更多资金流</a>
                                        </div>
                                </div>
                                <div class="about-zjl-table clearfix">
                                    <div class="about-zjl-list">
                                        <table>
                                                <thead>
                                                    <tr>
                                                        <th>类型</th>
                                                        <th>净额</th>
                                                        <th>净占比</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                            <td>超大单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>大单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>中单净流入</td>
                                                            <td class="green">-3578.45万</td>
                                                            <td class="green">-6.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>小单净流入</td>
                                                            <td class="red">78.45万</td>
                                                            <td class="red">+6.43%</td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="about-zjl-list">
                                            <table>
                                                    <thead>
                                                        <tr>
                                                            <th>类型</th>
                                                            <th>流入</th>
                                                            <th>流出</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                <td>超大单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>大单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>中单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                            <tr>
                                                                <td>小单</td>
                                                                <td class="green">-3578.45万</td>
                                                                <td class="green">-3578.45万</td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                    </div>
                                    <a href="#" class="reload-yd" title="刷新数据"></a>
                                </div>
                                <div class="about-zjl-sum">
                                    <div class="clearfix tit fl">
                                        <p>
                                            <span>主力净流入：</span>
                                            <em class="green">-1232</em>万元
                                        </p>
                                    </div>
                                    <div class="clearfix fl ml20">
                                            <span>∽主力流入：<em>1232</em>万元</span>
                                            <span>∽主力流出：<em class="green">-7564</em>万元</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix mt20">
                            <div class="about-stock">
                                <div class="clearfix">
                                        <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="stockitem-title-link" target="_blank">相关股票<i class="ysj"></i></a>
                                </div>
                                <div class="about-stock-table clearfix">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>价格</th>
                                                    <th>单日涨跌幅</th>
                                                    <th>本周涨跌幅</th>
                                                    <th>本月涨跌幅</th>
                                                    <th>单日换手率</th>
                                                    <th>单日成交量</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td><a href="#">山东黄金<br>(600850)</a></td>
                                                        <td class="green">35.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">二六三<br>(600850)</a></td>
                                                        <td class="red">35.57</td>
                                                        <td class="red">+6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">贵州茅台<br>(600850)</a></td>
                                                        <td class="green">315.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">中兵红箭<br>(600850)</a></td>
                                                        <td class="green">35.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">中国重工<br>(600850)</a></td>
                                                        <td class="green">35.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix mt20">
                            <div class="about-stock">
                                <div class="clearfix">
                                        <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="stockitem-title-link" target="_blank">相关板块<i class="ysj"></i></a>
                                        <div class="fl about-yd-qt">
                                            <a href="#">贵金属板块</a>
                                            <a href="#">黄金概念</a>
                                            <a href="#">人民币贬值</a>
                                            <a href="http://data.eastmoney.com/zjlx/" target="_blank">查看更多板块</a>
                                        </div>
                                </div>
                                <div class="about-stock-table clearfix">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>指数</th>
                                                    <th>单日涨跌幅</th>
                                                    <th>本周涨跌幅</th>
                                                    <th>本月涨跌幅</th>
                                                    <th>单日换手率</th>
                                                    <th>单日成交量</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td><a href="#">贵金属<br>(BK03232)</a></td>
                                                        <td class="green">2235.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">黄金概念<br>(BK78372)</a></td>
                                                        <td class="red">35.57</td>
                                                        <td class="red">+6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">人民币贬值<br>(BK332)</a></td>
                                                        <td class="green">315.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">稀有资源<br>(BKa8773)</a></td>
                                                        <td class="green">35.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">有色金属<br>(BK39222)</a></td>
                                                        <td class="green">35.57</td>
                                                        <td class="green">-6.43%</td><td class="red">+16.43%</td>
                                                        <td class="red">+36.43%</td>
                                                        <td>12.13%</td>
                                                        <td>9033.33万</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix mt20">
                            <div class="about-gd">
                                    <div class="clearfix">
                                        <a href="http://f10.eastmoney.com/ShareholderResearch/Index?type=web&code=SH600988#" class="stockitem-title-link" target="_blank">相关股东<i class="ysj"></i></a>
                                    </div>
                                    <div class="about-gd-rs clearfix">
                                        <img src="../images/ico/gd.png" class="gdrs-img">
                                        <div class="jzrq">*截止2020年3月31日：</div>
                                        <div class="sjkg"><h1>实际控制人：中国投资有限责任公司 （持股比例：37.76%）</h1></div>
                                        <div class="domore clearfix">
                                                <div class="tit ml32 fl">
                                                    <p class="mb5">
                                                        <span>股东人数：</span>
                                                        <em>11.57</em>
                                                        <b>万户</b>
                                                    </p>
                                                    <p>
                                                        <span>人数较上期变化：</span>
                                                        <em class="red">+11.57%</em>
                                                    </p>
                                                    
                                                </div>
                                                <div class="kit fl clearfix">
                                                        <span>∽人均流通：<em>1.2</em>万股</span>
                                                        <span>∽筹码集中度：<em>非常集中</em></span>
                                                        <span>∽人均持股金额：<em>6</em>万元</span>
                                                        <span>∽持股较上期变化：<em class="green">-4.61%</em></span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="about-lt">
                                        <h1>十大流通股东</h1>
                                                <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="wd40">名次</th>
                                                                <th class="wd220">股东名称</th>
                                                                <th class="wd70">股份类型</th>
                                                                <th class="wd110">持股数(股)</th>
                                                                <th class="wd70">流通占比</th>
                                                                <th>增减(股)</th>
                                                                <th>变动比例</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td class="pr6">中国银行股份有限公司-银华优质增长混合型证券投资基金</td>
                                                                <td>A股</td>
                                                                <td>431,731,982</td>
                                                                <td>30.27%</td>
                                                                <td class="green">-26.00%</td>
                                                                <td class="green">-8.12%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td class="pr6">香港中央结算代理人有限公司/香港中央结算有限公司</td>
                                                                <td>H股,A股</td>
                                                                <td>87,334,481,614</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td class="pr6">全国社会保障基金理事会</td>
                                                                <td>A股</td>
                                                                <td>12,331,645,18</td>
                                                                <td>3.46%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td class="pr6">中国人寿保险股份有限公司-传统-普通保险产品-005L-CT001沪</td>
                                                                <td>A股</td>
                                                                <td>472,599,788</td>
                                                                <td>30.27%</td>
                                                                <td class="red">94,929,461</td>
                                                                <td class="red">+25.14%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td class="pr6">中央汇金投资有限责任公司</td>
                                                                <td>A股</td>
                                                                <td>806,678</td>
                                                                <td>0.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td class="pr6">中国铁路投资有限公司</td>
                                                                <td>A股</td>
                                                                <td>116,678</td>
                                                                <td>12.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td class="pr6">香港上海汇丰银行有限公司</td>
                                                                <td>A股</td>
                                                                <td>6,678</td>
                                                                <td>0.27%</td>
                                                                <td class="green">-3,065,800</td>
                                                                <td class="green">-11.94%</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                </table>
                                    </div>
                                    <div class="about-lt">
                                        <h1>十大股东</h1>
                                                <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="wd40">名次</th>
                                                                <th class="wd220">股东名称</th>
                                                                <th class="wd85">股份类型</th>
                                                                <th class="wd110">持股数(股)</th>
                                                                <th class="wd70">总股占比</th>
                                                                <th>增减(股)</th>
                                                                <th>变动比例</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td class="pr6">China Galaxy Enterprise Limited</td>
                                                                <td>限售流通A股</td>
                                                                <td>431,731,982</td>
                                                                <td>30.27%</td>
                                                                <td class="green">-26.00%</td>
                                                                <td class="green">-8.12%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td class="pr6">香港中央结算代理人有限公司/香港中央结算有限公司</td>
                                                                <td>流通A股</td>
                                                                <td>87,334,481,614</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>流通A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td class="pr6">全国社会保障基金理事会</td>
                                                                <td>流通A股</td>
                                                                <td>12,331,645,18</td>
                                                                <td>3.46%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td class="pr6">中国人寿保险股份有限公司-传统-普通保险产品-005L-CT001沪</td>
                                                                <td>流通A股</td>
                                                                <td>472,599,788</td>
                                                                <td>30.27%</td>
                                                                <td class="red">94,929,461</td>
                                                                <td class="red">+25.14%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>流通A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td class="pr6">中央汇金投资有限责任公司</td>
                                                                <td>流通A股</td>
                                                                <td>806,678</td>
                                                                <td>0.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td class="pr6">中华人民共和国财政部</td>
                                                                <td>流通A股</td>
                                                                <td>110,984,806,678</td>
                                                                <td>30.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td class="pr6">中国铁路投资有限公司</td>
                                                                <td>流通A股</td>
                                                                <td>116,678</td>
                                                                <td>12.27%</td>
                                                                <td>不变</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td class="pr6">香港上海汇丰银行有限公司</td>
                                                                <td>流通A股</td>
                                                                <td>6,678</td>
                                                                <td>0.27%</td>
                                                                <td class="green">-3,065,800</td>
                                                                <td class="green">-11.94%</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                </table>
                                    </div>
                            </div>
                    </div>
                    <div class="clearfix mt20">
                            <div class="about-stock">
                                <div class="clearfix">
                                        <a href="http://quote.eastmoney.com/center/boardlist.html#boards-BK07321" class="stockitem-title-link" target="_blank">业绩一览<i class="ysj"></i></a>
                                </div>
                                <div class="about-stock-table clearfix">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>截止日期</th>
                                                    <th>预计利润(元)</th>
                                                    <th>变动幅度</th>
                                                    <th>预告类型</th>
                                                    <th>上年同期净利润(元)</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td>2020-06-31</td>
                                                        <td>2873万~3889万</td>
                                                        <td class="red">233.43%~432.65%</td>
                                                        <td class="red">盈利</td>
                                                        <td>2947万</td>
                                                        <td><a href="#">查看详情</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2020-12-31</td>
                                                        <td>130亿</td>
                                                        <td class="green">22.43%~42.65%</td>
                                                        <td class="green">亏损</td>
                                                        <td>2947万</td>
                                                        <td><a href="#">查看详情</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2020-03-31</td>
                                                        <td>130亿</td>
                                                        <td class="green">22.43%~42.65%</td>
                                                        <td class="green">亏损</td>
                                                        <td>2947万</td>
                                                        <td><a href="#">查看详情</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2019-12-31</td>
                                                        <td>130亿</td>
                                                        <td class="green">22.43%~42.65%</td>
                                                        <td class="green">亏损</td>
                                                        <td>2947万</td>
                                                        <td><a href="#">查看详情</a></td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix mt20">
                        <div class="zyjj">
                            <div class="clearfix">
                                <a href="http://data.eastmoney.com/gpzy/" class="stockitem-title-link" target="_blank">质押<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#" title="西藏矿业大股东突发质押4344万股">西藏矿业大股东突发质押</a>
                                    <a href="#" title="大森机电股东赵晓东质押400万股 用于为贷款提供股权质押担保">大森机电股东赵晓东质押400万股</a>
                                    <a href="#" title="连阿里股份也卖了！软银孙正义股权质押提至60% 问题还不止“缺钱”">连阿里股份也卖了！软银孙正义股</a>
                                    <a href="http://data.eastmoney.com/gpzy/" target="_blank">查看更多质押</a>
                                </div>
                            </div>
                            <p>
                                <span>截止2020-04-17，质押比例<em class="red">20.87%</em>。质押股数<em class="red">34730.51万股</em>，质押市值<em class="red">1.32亿元</em></span>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix mt20">
                        <div class="zyjj">
                            <div class="clearfix">
                                <a href="http://data.eastmoney.com/gpzy/" class="stockitem-title-link" target="_blank">解禁<i class="ysj"></i></a>
                                <div class="fl about-yd-qt">
                                    <a href="#" title="西藏矿业大股东突发质押4344万股">解禁1234343</a>
                                    <a href="#" title="大森机电股东赵晓东质押400万股 用于为贷款提供股权质押担保">解禁供股权质押担</a>
                                    <a href="#" title="连阿里股份也卖了！软银孙正义股权质押提至60% 问题还不止“缺钱”">解禁</a>
                                    <a href="http://data.eastmoney.com/dxf/" target="_blank">查看更多解禁</a>
                                </div>
                            </div>
                            <p><span>最近解禁日：<em class="red">2020年3月20日</em>，将解禁<em class="red">1.29</em>亿股</span></p>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix mt20">
                        <%-include("./others.ejs")%> 
                </div>
            </div>
            <div class="fl wd295">
                <div class="stockitem-part">
                    <div class="about-ts">
                            <div class="mb3 clearfix"> <a href="http://data.eastmoney.com/notices/stock/600988.html" class="stockitem-title-link" target="_blank">相关提示<i class="ysj"></i></a></div>
                            <div class="pl10">
                                    <table>
                                            <thead>
                                                <tr>
                                                    <th>类型</th>
                                                    <th>内容</th>
                                                    <th>日期</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="wd55">行政处罚</td>
                                                    <td><a href="#" title="对赤峰吉隆黄金矿业股份有限公司及有关责任人予以通报批评">对赤峰吉隆黄金矿业股...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">资产重组</td>
                                                    <td><a href="#" title="赤峰黄金收购报告书">赤峰黄金收购报告书</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">重大事项</td>
                                                    <td><a href="#" title="关于赤峰黄金为子公司担包">关于赤峰黄金为子公司担...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">持股变动</td>
                                                    <td><a href="#" title="关于赤峰黄金股东集中竞价减持公告">关于赤峰黄金股东集中...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">风险警告</td>
                                                    <td><a href="#" title="关于赤峰黄金股股价异常公告">关于赤峰黄金股股价异常...</a></td>
                                                    <td>2020-03-31</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                    </div>
                    <div class="about-gd">
                            <div class="mb3 clearfix"> <a href="http://f10.eastmoney.com/ShareholderResearch/Index?type=web&code=SH600988#" class="stockitem-title-link" target="_blank">相关股东<i class="ysj"></i></a></div>
                            <div class="pl10">
                                <!-- <h1>实际控制人：赵美光 （持股比例：30.42%）</h1> -->
                                    <table>
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>持股数</th>
                                                    <th>占比</th>
                                                    <th>增减</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>不变</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                                <tr>
                                                    <td class="wd55">赵光美</td>
                                                    <td>431,731,982</td>
                                                    <td>30.27%</td>
                                                    <td>431,731,982</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>