<% if (data.qh) { %>
    <div class="search-result-module-qh clearfix">
            <div class="search-result-module-title clearfix">
                    <span><em>黄金</em>相关期货</span>
                    <a href="#" class="newsa">黄金十年大周期</a>
                    <a href="#" class="newsa">昨晚被空头打包仓</a>
                    <a href="#" class="newsa">黄金会不会回调</a>
                    <a href="#" class="newsa">伦敦交易所紧急配置黄金</a>
            </div>
            <div class="module-qh-item clearfix">
                <div class="qh-head">
                    <a href="#" class="tit">COMEX黄金(GC00Y)</a>
                    <span class="isdell">交易中</span>
                </div>
                <div class="qh-list">
                        <div class="qh-list-cont">
                            <div class="tb clearfix">
                                <P class="clearfix fl">
                                    <span>今开：</span>
                                    <span class="red">1600.33</span>
                                </P>
                                <p class="clearfix fr">
                                    <span>最高：</span>
                                    <span class="green">1600.33</span>
                                </p>
                            </div>
                            <div class="mb bckred clearfix">
                                <i></i>
                                <p>1600.54</p>
                                <span>4.45%</span>
                                <span>1.83</span>
                            </div>
                            <div class="tb clearfix">
                                <P class="clearfix fl">
                                    <span>昨收：</span>
                                    <span class="green">1600.33</span>
                                </P>
                                <p class="clearfix fr">
                                    <span>最低：</span>
                                    <span class="red">1600.33</span>
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="module-qh-item clearfix">
                    <div class="qh-head">
                        <a href="#" class="tit">沪金主力(AUM)</a>
                        <span class="isdell">休市中</span>
                    </div>
                    <div class="qh-list">
                            <div class="qh-list-cont">
                                <div class="tb clearfix">
                                    <P class="clearfix fl">
                                        <span>今开：</span>
                                        <span class="red">1600.33</span>
                                    </P>
                                    <p class="clearfix fr">
                                        <span>最高：</span>
                                        <span class="green">1600.33</span>
                                    </p>
                                </div>
                                <div class="mb bckred clearfix">
                                    <i></i>
                                    <p>1600.54</p>
                                    <span>4.45%</span>
                                    <span>1.83</span>
                                </div>
                                <div class="tb clearfix">
                                    <P class="clearfix fl">
                                        <span>昨收：</span>
                                        <span class="green">1600.33</span>
                                    </P>
                                    <p class="clearfix fr">
                                        <span>最低：</span>
                                        <span class="red">1600.33</span>
                                    </p>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="module-qh-item clearfix">
                <div class="qh-head">
                    <a href="#" class="tit">沪金主力(AUM)</a>
                    <span class="isdell">休市中</span>
                </div>
                <div class="qh-list">
                    <div class="qh-list-cont">
                        <div class="tb clearfix">
                            <P class="clearfix fl">
                                <span>今开：</span>
                                <span class="red">1600.33</span>
                            </P>
                            <p class="clearfix fr">
                                <span>最高：</span>
                                <span class="green">1600.33</span>
                            </p>
                        </div>
                        <div class="mb bckred clearfix">
                            <i></i>
                            <p>1600.54</p>
                            <span>4.45%</span>
                            <span>1.83</span>
                        </div>
                        <div class="tb clearfix">
                            <P class="clearfix fl">
                                <span>昨收：</span>
                                <span class="green">1600.33</span>
                            </P>
                            <p class="clearfix fr">
                                <span>最低：</span>
                                <span class="red">1600.33</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module-qh-item clearfix">
                    <div class="qh-head">
                        <a href="#" class="tit">沪金主力(AUM)</a>
                        <span class="isdell">休市中</span>
                    </div>
                    <div class="qh-list-cont">
                            <div class="tb clearfix">
                                <P class="clearfix fl">
                                    <span>今开：</span>
                                    <span class="red">1600.33</span>
                                </P>
                                <p class="clearfix fr">
                                    <span>最高：</span>
                                    <span class="green">1600.33</span>
                                </p>
                            </div>
                            <div class="mb bckgreen clearfix">
                                <i></i>
                                <p>1600.54</p>
                                <span>4.45%</span>
                                <span>1.83</span>
                            </div>
                            <div class="tb clearfix">
                                <P class="clearfix fl">
                                    <span>昨收：</span>
                                    <span class="green">1600.33</span>
                                </P>
                                <p class="clearfix fr">
                                    <span>最低：</span>
                                    <span class="red">1600.33</span>
                                </p>
                            </div>
                        </div>
            </div>
            <div class="module-qh-more">
                <a href="#">更多黄金品种</a>
                <a href="#">更多期货行情</a>
                <a href="#">期货龙虎榜单</a>
                <a href="#">东方财富期货APP</a>
                <a href="#"><img src="https://q1s.dfcfw.com/webpages/static/img/code.3dde5c0.png" width="72" height="62"></a>
            </div>
        </div>
<% } %>