<% if (data.b.news) { %>
    <div class="search-result-module-zhnews clearfix">
            <div class="module-zhnews-fl">
                <div class="clearfix">
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">超级大国都在压盘<em>黄金</em>，为什么还不简单？看看持有的美国持看持有那么多黄金不就明白了吗!买入<em class="red">赤峰黄金</em>等死</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">亏死也炒股</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">赤峰黄金吧</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list">
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                </div>
                <div class="ablink clearfix">
                    <p>相关搜索</p>
                    <p class="clearfix">
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                    </p>
                </div>
                <div class="pageF">
                    <a href="#" class="pre sted">上一页</a>
                    <a href="#" class="next">下一页</a>
                    <ul>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">8</a>
                        </li>
                        <li>
                            <a href="#">9</a>
                        </li>
                        <li>
                            <a href="#">10</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
<% } %>