
    <div class="search-result-module-zhnews clearfix">
            <div class="module-zhnews-fl">
                <div class="clearfix">
                        <div class="list a-stock-cbbox">
                            <div class="zx-item">
                                <span class="sdicon icon">资讯</span>
                                <a href="#" class="actions">数据不会“说谎” <em>黄金</em>值得持有的三大理由</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">中国证券报</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">媒体频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="gb-item">
                                <span class="sdicon icon">股吧</span>
                                <a href="#" class="actions">超级大国都在压盘<em>黄金</em>，为什么还不简单？看看持有的美国持看持有那么多黄金不就明白了吗!买入<em class="red">赤峰黄金</em>等死</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">亏死也炒股</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">赤峰黄金吧</a>
                                    <span class="ml5">回复：(38)</span>
                                </div>
                                <div class="txtdiv clearfix">
                                        <span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而黄金价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃
                                </div>
                                <div class="urldiv">http://guba.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="gb-item">
                                <span class="sdicon icon">股吧</span>
                                <a href="#" class="actions">交易系统发出买入信号，尾盘入驻<em>赤峰黄金</em>，两个交易日目标10%收益，希望主力给个面子!!</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">小散的直联</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">赤峰黄金吧</a>
                                    <span class="ml5">回复：(1)</span>
                                </div>
                                <div class="txtdiv clearfix">
                                    <div class="fl_img">
                                        <img src="../images/ico/cfhj.jpg">
                                    </div>
                                    <div class="fl_txt">
                                        <div><span class="times">2020年03月20日&nbsp;09:30:16</span>交易系统发出买入信号，尾盘入驻<em>赤峰黄金</em>，两个交易日目标10%收益，希望主力给个面子</div>
                                        <div class="urldiv">http://guba.eastmoney.com/news/1786,20180628896248168.html</div>
                                    </div>

                                </div>
                                
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="gb-item">
                                <span class="sdicon icon">股吧</span>
                                <a href="#" class="actions">转载一篇关于近期<em>黄金</em>走势的文章，写的很有道理...</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from">只买A股</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">赤峰黄金吧</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span>今年以来，国际金融市场动荡，股票市场、原油普遍下跌，而<em>黄金</em>价格则表现强势，今年前两月涨幅超过15%。《号外财经网》注意到，金价的快速上涨，使得资金大举涌向<em>黄金</em>ETF，与此同时，<em>黄金</em>QDII也表现可圈可点。据《号外财经网》观察，2016年以来全球金融市场动荡重新点燃</div>
                                <div class="urldiv">http://global.eastmoney.com/news/1786,20180628896248168.html</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="cfh-item">
                                <span class="sdicon icon">财富号</span>
                                <a href="#" class="actions">周三策略：指数或短期回调，持股为上！<em>赤峰黄金</em>/佳禾智能/中迪投资/园城<em>黄金</em></a>
                            </div>
                                <div class="acrt">
                                    <span>作者：</span>
                                    <a href="javascript:void(0)" class="from">海哥说股888</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span></div>
                                <div class="cfh-pitem">外围市场在五一假期期间出现回调，A股明天开市，指数很可能会低开，但低开绝不是卖点。在4月28日，沪指已经进行了一次深度探底，在穿破2800点后迅速被抄底资金拉回，收了一根银针探底，在接下来的两个交易日走出两根大</div>
                                <div class="urldiv">http://caifuhao.eastmoney.com/news/20200504144740104317100</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="zx-item">
                                <span class="sdicon icon">资讯</span>
                                <a href="#" class="actions"><em>赤峰黄金</em>海外矿山<em>黄金</em>资源量增至330万盎司</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from_gay">证券时报网</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">财经频道</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月24日&nbsp;19:00:01</span><em>赤峰黄金</em>4月30日发布2019年年度报告显示，经过探矿增储，其海外矿山塞邦铜金矿的<em>黄金</em>资源量增至330万盎司。据悉，<em>赤峰黄金</em>确立了“双业务核心”发展模式，即在存量业务稳步增长的同时，积极开拓创新增量业务</div>
                                <div class="urldiv">http://finance.eastmoney.com/a/202004301473390829.html</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="xswd-item">
                                <span class="sdicon icon">悬赏问答</span>
                                <a href="#" class="actions">$<em>赤峰黄金(SH600988)</em>$本周能否稳在九元,后市是否继续持有,各位股友客观指点一二.....</a>
                            </div>
                                <div class="acrt">
                                    <span>悬赏金额：</span>
                                    <em class="xsprice">¥8.00</em>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span></div>
                                <div class="xswd-pitem">
                                    <p><b>回答1</b>：是有关联性，原油期货暴跌，尤其是4月21日那次跌为负值，使得市场对通胀预期普遍...</p>
                                    <p><b>回答2</b>：朋友你好！有关联，都属于国际大众商品，在常态波动下，原油，黄金不联动，在特殊情况...</p>
                                    <p><b>回答3</b>：下跌会影响市场防御性保值，原油对黄金有影响，但是，不是决定影响。</p>
                                </div>
                                <div class="urldiv">http://ask.eastmoney.com/detail.html?qid=412786273101549568</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="gg-item">
                                <span class="sdicon icon">公告</span>
                                <a href="http://data.eastmoney.com/notices/detail/600988/AN202005131379646890,JWU4JWI1JWE0JWU1JWIzJWIwJWU5JWJiJTg0JWU5JTg3JTkx.html" class="actions" target="_blank">600988:赤峰<em>黄金</em>:光大证券股份有限公司关于赤峰<em>黄金</em>发行股份购买资产并募集配套资金暨关联交易...</a>
                            </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span><a href="#"><img src="../images/ico/pdf.png">查看PDF原文</a></div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="wdm-item">
                                <span class="sdicon icon">问董秘</span>
                                <a href="#" class="actions">贵公司的最大股东赵美光是非公开发行股票的发行对象之一，所有人都知道他想以最低价接盘，请问贵公司股票盘口天天压盘有他的股票吗？</a>
                            </div>
                                <div class="acrt">
                                    <span>提问者：</span>
                                    <a href="javascript:void(0)" class="from">赤峰黄金股友</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span></div>
                                <div class="wdm-pitem">尊敬的投资者您好！根据公司了解的情况，赵美光先生没有卖出所持有的赤峰黄金股票，截至目前也没有收到其减持赤峰黄金股票的计划。感谢您对公司的关注与支持！</div>
                                <div class="urldiv">http://guba.eastmoney.com/news,600988,878105609.html</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="boke-item">
                                <span class="sdicon icon">博客</span>
                                <a href="#" class="actions">周三策略：指数或短期回调，持股为上！<em>赤峰黄金</em>/佳禾智能/中迪投资/园城<em>黄金</em></a>
                            </div>
                                <div class="acrt">
                                    <span>作者：</span>
                                    <a href="javascript:void(0)" class="from">海哥说股888</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span></div>
                                <div class="cfh-pitem">外围市场在五一假期期间出现回调，A股明天开市，指数很可能会低开，但低开绝不是卖点。在4月28日，沪指已经进行了一次深度探底，在穿破2800点后迅速被抄底资金拉回，收了一根银针探底，在接下来的两个交易日走出两根大</div>
                                <div class="urldiv">http://boke.eastmoney.com/news/20200504144740104317100</div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="yb-item">
                                <span class="sdicon icon">研报</span>
                                <a href="#" class="actions">建大矿上规模，剥离资产回归主业</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from_gay">国金证券</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)" class="from_gay">丁士涛</a>
                                </div>
                                <div class="txtdiv"><span class="times">2020年03月20日&nbsp;19:00:01</span><a href="#"><img src="../images/ico/pdf.png">查看PDF原文</a></div>
                        </div>
                        <div class="list a-stock-cbbox">
                            <div class="zx-item">
                                <span class="sdicon icon">资讯</span>
                                <a href="#" class="actions"><em>黄金</em>下一站：1900上方的历史高位</a>
                            </div>
                                <div class="acrt">
                                    <a href="javascript:void(0)" class="from_gay">黄金头条</a>
                                    <i class="ml5 mr5">●</i>
                                    <a href="javascript:void(0)">外汇频道</a>
                                </div>
                                <div class="txtdiv clearfix">
                                    <div class="fl_img">
                                        <img src="../images/ico/getpic.png">
                                    </div>
                                    <div class="fl_txt">
                                        <div><span class="times">2020年03月20日&nbsp;09:30:16</span>黄金市场继续围绕1700美元/盎司关口附近波动，尽管近期上行受阻，但黄金下行支撑仍然稳固。BI高级大宗商品策略师Mike McGlone表示，看好黄金突破历史高位1900美元/盎司上方水平。</div>
                                        <div class="urldiv">http://guba.eastmoney.com/news/1786,20180628896248168.html</div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="ablink clearfix">
                    <p>相关搜索</p>
                    <p class="clearfix">
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                        <a href="#">黄金法巴零九购A</a>
                    </p>
                </div>
                <!-- <div class="pageF">
                    <a href="#" class="pre sted">上一页</a>
                    <a href="#" class="next">下一页</a>
                    <ul>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">8</a>
                        </li>
                        <li>
                            <a href="#">9</a>
                        </li>
                        <li>
                            <a href="#">10</a>
                        </li>
                    </ul>
                </div> -->
            </div>
    </div>
