<div class="search-result-module-others">
        <div class="others-list">
           <div class="mb10 clearfix">
                <a href="#" class="link">【股吧】</a>
                <div class="fl">
                    <div class="clearfix mb10">
                        <span class="time">2020-03-13</span>
                        <a href="#" class="ctx">超级大国都在压盘<em>黄金</em>，为什么还不简单？看看持有的美国持看持有...【<em>赤峰黄金</em>吧】(12)</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx"><em>赤峰</em>今天尾盘8.35走了，上周五8.52进3000股，亏了600元...【<em>赤峰黄金</em>吧】(8)</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">今晚<em>黄金</em>直接要暴涨啊，坐等美黄金开盘...【美<em>黄金</em>吧】(431)</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx"><em>黄金</em>基金最近也要爆发...【博时<em>黄金</em>ETF联接A】(431)</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">今晚<em>黄金</em>多头打爆空头....【期货吧】(431)</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">转载一篇关于近期<em>黄金</em>走势的文章，写的很有道理...【山东<em>黄金</em>吧】(431)</a>
                    </div>
                </div>
           </div>
           <div class="mb10 clearfix">
                <a href="#" class="link">【悬赏问】</a>
                <div class="fl">
                    <div class="clearfix mb10">
                        <span class="time">2020-03-13</span>
                        <a href="#" class="ctx">健康元 华友钴业 <em>赤峰黄金</em>走势如何？如何操作？潜力最大的是哪个？@船长...<em class="xsprice">¥19.39</em></a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx"><em>赤峰</em>本周能否稳在九元,后市是否继续持有,各位股友客观指点一二.....<em class="xsprice">¥8.00</em></a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">$<em>赤峰黄金</em>(SH600988)$美联储无限宽松，除了黄金板块还有哪些适合投资呢，...<em class="xsprice">¥811.00</em></a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">$<em>赤峰黄金</em>(SH600988)$我8.30买的，还有机会脱手吗？】<em class="xsprice">¥8.00</em></a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">$<em>赤峰黄金</em>(SH600988)$到3月15号之前是什么行情？<em class="xsprice">¥8.00</em></a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">$<em>赤峰黄金</em>(SH600988)$ @船长1998  老师，看了一段时间你给别人的解答，也学...<em class="xsprice">¥8.00</em></a>
                    </div>
                </div>
           </div>
           <div class="mb10 clearfix">
                <a href="#" class="link">【问董秘】</a>
                <div class="fl">
                    <div class="clearfix mb10">
                        <span class="time">2020-03-13</span>
                        <a href="#" class="ctx">黄金每克涨一元，贵公司能否请人计算出利润会增加多少？</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">请问目前的股东人数是多少？</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">贵公司的最大股东赵美光是非公开发行股票的发行对象之一，所有人都知道他想以最低价接盘</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">看了几个黄金股票。好像都是利好不赚钱，是什么原因？利润都去哪里了？。。。</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">郴州雄风稀贵金属涉及钯金，稀土业务么？赤峰黄金公司相关的公司涉及黄金</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">请问公司是否准备进军稀土行业？现有矿产是否有稀土储存</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="mt10 clearfix">
            <!-- <img src="//z1.dfcfw.com/2015/7/15/20150715221313406778222.jpg"> -->
                <!-- <img src="https://avator.eastmoney.com/qface/8884054598579200/50"> -->
        </div>
</div>