<div class="search-result-module-others">
        <div class="others-list">
           <div class="mb10 clearfix">
                <a href="#" class="link">【股吧】</a>
                <div class="fl">
                    <div class="clearfix mb10">
                        <span class="time">2020-03-13</span>
                        <a href="#" class="ctx">超级大国都在压盘黄金，为什么还不简单？看看持有的美国持看持有的美国看持有的美国有...【赤峰黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">今天尾盘8.35走了，上周五8.52进3000股，亏了600元...【赤峰黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">今晚黄金直接要暴涨啊，坐等美黄金开盘...【美黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">黄金基金最近也要爆发...【博时黄金ETF联接A】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">今晚黄金多头打爆空头....【期货吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">转载一篇关于近期黄金走势的文章，写的很有道理...【山东黄金吧】</a>
                    </div>
                </div>
           </div>
           <div class="mb10 clearfix">
                <a href="#" class="link">【财富号】</a>
                <div class="fl">
                    <div class="clearfix mb10">
                        <span class="time">2020-03-13</span>
                        <a href="#" class="ctx">超级大国都在压盘黄金，为什么还不简单？看看持有的美国持看持有的美国看持有的美国有...【赤峰黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">今天尾盘8.35走了，上周五8.52进3000股，亏了600元...【赤峰黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-03-12</span>
                        <a href="#" class="ctx">今晚黄金直接要暴涨啊，坐等美黄金开盘...【美黄金吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">黄金基金最近也要爆发...【博时黄金ETF联接A】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">今晚黄金多头打爆空头....【期货吧】</a>
                    </div>
                    <div class="clearfix mb10">
                        <span class="time">2020-02-29</span>
                        <a href="#" class="ctx">转载一篇关于近期黄金走势的文章，写的很有道理...【山东黄金吧】</a>
                    </div>
                </div>
           </div>
        </div>
</div>