<div class="stock-living-video clearfix">
    <div class="fl">
        <video src="#" controls="true" width="450px" height="260px"></video>
    </div>
    <div class="fl video-tabs">
        <div>
            <a href="#">实盘大神XX</a>
            <a href="#">主播列表</a>
        </div>
        <div>
            <ul>
                <li>
                    <span>1.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
                <li>
                    <span>1.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
                <li>
                    <span>2.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
                <li>
                    <span>3.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
                <li>
                    <span>4.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
                <li>
                    <span>5.</span>
                    <a href="#">天天炒股</a>
                    <span>热度：87.3万</span>
                </li>
            </ul>
        </div>
    </div>
</div>